extends ../layout

block content
    script.
        const herokuAPI = "http://localhost:3000/api";
        needs=["courseTitle", "badges"];
    script(src="/js/courseIDGrabber.js")
    script(src="/js/middleman_admin.js")
    br
    style.
        td {
            padding: 3px
        }
        tr {
            border-bottom: 2px solid #777777
        }
    #fullscr-loading
        div
        img(src="https://i.gyazo.com/c45fc9a6995912367a142ca33702366a.gif")
    .container(style="margin-top: 25px;")
        .row
            .col-md-1
            .col.form-inline
                a.btn.btn-lg(href='/admin')
                    i.fa.fa-chevron-left
                h2#adminPanelTitle='Loading title...'
            .col-md-1
    hr
    .container
        .row
            .col
                table#badgeTable(style="margin-bottom: 100px;")
                    tr
                        th ID
                        th Title
                        th Description
                        th Points
                        th Portrait
                        th Portrait Description
                        th Edit
                        th Delete
