extends ../layout

block content

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin/badges')
                    i.fa.fa-chevron-left
                h2='Editing ' + course + ': Badge ' + badge._id
    hr

    form(method='POST' action='' onsubmit="return confirm('Do you really want to submit your changes?');")

        div.form-group.form-inline
            label(for='title') Title:
            input#title.form-control(type='text', value=badge.Title, name='title')
        hr

        div.form-group
            label(for='description') Description:
            br
            textarea(rows=3)#description.form-control(name='description')=badge.Description
        hr

        div.form-group
        label(for='badge_points') Points:
        input#badge_points.form-control(type='numeric', value=badge.Points, name='badge_points')
        br
        br

        div.form-group.form-inline
            label(for='portrait') Portrait:
            input#portrait.form-control(type='text', value=badge.Portrait, name='portrait')
        hr

        div.form-group
            label(for='portraitdescription') Portrait Description:
            br
            textarea(rows=3)#portraitdescription.form-control(name='portraitdescription')=badge.PortraitDescription
        hr

        button.btn.btn-success(type='submit') Save Changes
