extends ../layout

block content
    script.
        const herokuAPI = "http://localhost:3000/api",
              badgeID = #{id},
              edit = true;
        needs=["courseTitle", "badges"];
    script(src="/js/courseIDGrabber.js")
    script(src="/js/middleman_admin.js")
    br
    //#fullscr-loading
        div
        img(src="https://i.gyazo.com/c45fc9a6995912367a142ca33702366a.gif")
    .container(style="margin-top: 25px;")
        .row
            .col-md-1
            .col.form-inline
                a.btn.btn-lg(href='/admin')
                    i.fa.fa-chevron-left
                h2#adminPanelTitle='Loading title...'
            .col-md-1
    hr
    .container
        .row
            .col
                label(for='title') Title:
                input#title.form-control(type='text', value="", name='Title')
                label(for='description') Description:
                textarea#description.form-control(rows=3 name='Description')
                label(for='badge_points') Points:
                input#badge_points.form-control(type='numeric', value="", name='Points')
                label(for='badge_id') Inspirer Assignment ID:
                input#badge_id.form-control(type='numeric', value="", name='assignment_id')
                label(for='portrait') Portrait:
                input#portrait.form-control(type='text', value="", name='Portrait')
                label(for='portraitdescription') Portrait Description:
                textarea#portraitdescription.form-control(rows=3 name='PortraitDescription')
                small(style='color:red')='Warning: long portrait descriptions may cause display issues on the badges page!'
                label(for='unearned_url') Unearned URL:
                input#unearned_url.form-control(type='text', value="", name='UnearnedURL')
                label(for='earned_url') Earned URL:
                input#earned_url.form-control(type='text', value="", name='EarnedURL')
                label(for='earned_hover_url') Earned Hover URL:
                input#earned_hover_url.form-control(type='text', value="", name='EarnedHoverURL')
