extends ../layout

block content

    a(href='/admin') Back to Home Page

    h1 Edit ONEXYS Dailies
    h3=course
    
    table(class="admin_table")
        tr 
            th ID
            th Assignment ID

        each daily in dailies
            tr 
                td=daily._id
                td=daily.assignment_id
                td
                    form(method='GET' action='dailies/edit/'+daily._id)
                        button(type='submit') Edit