extends ../layout

block content

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin/dailies?course-id='+course_id+'&course-title='+course_title+'&user-id='+user_id)
                    i.fa.fa-chevron-left
                h2='Editing ' + course + ': Daily ' + daily._id
    hr

    div.container
        div.row
            form(method='POST' action='' onsubmit="return confirm('Do you really want to submit your changes?');")

                div.form-group.form-inline
                    label(for='assignment_id') Assignment or Quiz ID:
                    input#assignment_id.form-control(type='numeric', value=daily.assignment_id, name='assignment_id')
                hr

                button.btn.btn-success(type='submit') Save Changes
        br
        div.row
            small(style="color:red") Reminder: you must input the Quiz ID if the assignment has one. You should only use the assignment ID if a quiz ID is not applicable.
