extends ../layout

block content

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin')
                    i.fa.fa-chevron-left
                h2='Editing ' + course + ' Daily Tasks'
    hr
    div.container
        div.row
            table(class="admin_table")
                tr
                    th ID
                    th Assignment ID
                    th Edit Item
                each daily in dailies
                    tr
                        td=daily._id
                        td=daily.assignment_id
                        td
                            form(method='GET' action='dailies/edit/'+daily._id)
                                button.btn.btn-dark(type='submit') Edit
