extends ../layout

block content

    //script(type='text/javascript', src='/javascript/nic-edit.js')
    //script(type='text/javascript').
    //    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin/home')
                    i.fa.fa-chevron-left
                h2='Add a Video to ' + course + '\'s Home Page'
    hr

    div.container
        form(method='POST' action='')
            div.row
                div.form-group.form-inline
                    label(for='video_src') Video Source:
                    input#video_src.form-control.inlined-input(type='text', name='video_src', required)
                hr

            div.row
                div.form-group
                    label(for='video_desc') Video Description:
                    textarea#video_desc.form-control(rows=3, name='video_desc',style="width: 750px;")="Edit this text"
                hr

            div.row
                button.btn.btn-success(type='submit') Add Video
