extends ../layout

block content

    script.
       const herokuAPI = "/api",
      courseID = "#{courseID}",
      needs = ["courseTitle", "homeVidAdd"];
    script(src="/js/middleman_admin.js")
    br
    .container
        .row
            .form.form-inline
                a.btn.btn-lg(href=`/admin/homepageEdit`)
                    i.fa.fa-chevron-left
                h2='Add a Video to Home Page'
    hr

    .container
    main.d-flex.flex-column.w-50(style="margin-left: auto; margin-right: auto;")
        h3 Add Video
        div.d-flex.flex-column 
        label(for="video_src") Video Source:
        input#video_src.form-control(type='text', value="")
        hr
        div.d-flex.flex-column
        label(for="video_thumb") Video Thumbnail:
        input#video_thumb.form-control(type='text', value="")
        small.text-primary Leave blank for default thumbnail
        hr
        div.d-flex.flex-column
        label(for="video_desc") Video Description:
        textarea#video_desc.form-control(type='text', value="")
        hr
        div.d-flex.flex-column
        label(for="video_pos") Video Position:
        input#video_pos.form-control(type='number', min="0" value="" size=4 style="width: min-content")
        hr
        div 
        button.btn.btn-success(onClick="addHomeVid($('#video_src').val(), $('#video_desc').val(), $('#video_thumb').val(), $('#video_pos').val()); alert('Video updated')") Add Video
