extends ../layout

block content

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin')
                    i.fa.fa-chevron-left
                h2='Editing ' + course + ' Lucky Bulldogs'
    hr
    div.container
        div.row
            -function prettyDate(dateString){

                -var date = new Date(dateString);
                -return date.toLocaleDateString("en-US", {weekday: "long", year: "numeric", month: "short",  day: "numeric", hour: "2-digit", minute: "2-digit"})
            -}

            table
                each lucky_bulldog, index in lucky_data
                    tr
                        td
                            h2="Lucky Bulldog "+(index+1)
                            h4=prettyDate(lucky_bulldog.time)
                        td
                            form(method='GET' action='lucky/edit/'+lucky_bulldog._id)
                                button.btn.btn-dark(type='submit') Edit
                            form(method='POST' action='lucky/delete/'+lucky_bulldog._id, onsubmit="return confirm('Do you really want to delete this time?');")
                                button.btn.btn-danger(type='submit') Delete
            hr
            form(method='GET' action='lucky/add')
                button.btn.btn-dark(type='submit') Add New Time
