extends ../layout

block content

    script.
       const herokuAPI = "/api",
      courseID = "#{courseID}",
      luckyID = "#{id}",
      needs = ["courseTitle", "luckyAdd"];
    script(src="/js/middleman_admin.js")
    br
    .container
        .row
            .form.form-inline
                a.btn.btn-lg(href=`/admin/luckyBonuses`)
                    i.fa.fa-chevron-left
                h3.mb-4 Adding Lucky Bonus #{id}
    hr

    div.container
        div.row
            div.form-group.form-inline
                label(for='date_time') Date and Time of Lucky Bonus:
                input#date_time.form-control(type='datetime-local', name='date_time')
            div.form-group.form-inline
                label(for='point_value') Point value of Lucky Bulldog:
                input#point_value.form-control(type='numeric', name='point_value')
            div.form-group.form-inline
                label(for='image_name') Image to display:
                input#image_name.form-control(type='numeric', name='image_name')

            hr

            button.btn.btn-success(onClick="addLucky($('#date_time').val(), $('#point_value').val(), $('#image_name').val());") Add Lucky Bonus
