extends ../layout

block content
    script.
        const herokuAPI = "/api",
              edit = false,
              courseID = "!{courseID}";
        needs=["courseTitle", "modules"];
    script(src="/js/courseIDGrabber.js")
    script(src="/js/middleman_admin.js")
    br
    //#fullscr-loading
        div
        img(src="https://i.gyazo.com/c45fc9a6995912367a142ca33702366a.gif")
    .container(style="margin-top: 25px;")
        .row
            .col-md-1
            .col.form-inline
                a.btn.btn-lg(href='/admin')
                    i.fa.fa-chevron-left
                h2#adminPanelTitle='Loading title...'
            .col-md-1
    hr.mb-3
    .container
        .row
            .col
                table#moduleTable.admin_table(style="margin-bottom:100px;")
                    tr
                        th ID
                        th Primary Title
                        th Secondary Title
                        th Open?
                        th Due?
                        th Practice Link
                        th Quiz Link
                        th Reflections Link
                        th Edit
            hr

