extends ../layout

block content

    br
    div.container
        div.row
            div.form.form-inline
                a.btn.btn-lg(href='/admin?course-id='+course_id+'&course-title='+course_title+'&user-id='+user_id)
                    i.fa.fa-chevron-left
                h2='Viewing the Unified Gradebook for ' + course_title
    hr
    div.container
        table
            tr
                th Student Name
                th Student ID
                th Team Name
            each student in gradebook
                tr
                    td=student_name
                    td=student_id
                    td=student_team
