extends layout

block content

    h1 ONEXYS Admin Portal
    br
    
    h2
        a(href='/admin/home') Home Page
    br

    h2
        a(href='/admin/modules') Modules
    br
    
    h2
        a(href='/admin/badges') Badges
