extends layout

block content
    br
    h1(class='display-4')='Admin panel for ' + course
    hr
    div(class='container')
        div(class='col')
            div(class='form')
                a(href='/admin/home', class='btn btn-dark', role='button', style='margin:4px') Home Page
                a(href='/admin/modules', class='btn btn-dark', role='button', style='margin:4px') Modules
                a(href='/admin/badges', class='btn btn-dark', role='button', style='margin:4px') Badges
                a(href='/admin/dailies', class='btn btn-dark', role='button', style='margin:4px') Daily Tasks
                a(href='/admin/lucky', class='btn btn-dark', role='button', style='margin:4px') Lucky Bulldog
