extends layout

block content
    br
    h1(class='display-4')='Admin panel for ' + course
    hr
    div(class='container')
        div(class='col')
            div(class='form')
                a(href='/admin/home', class='btn btn-dark', role='button') Home Page
                &nbsp;
                a(href='/admin/modules', class='btn btn-dark', role='button') Modules
                &nbsp;
                a(href='/admin/badges', class='btn btn-dark', role='button') Badges
                &nbsp;
                a(href='/admin/dailies', class='btn btn-dark', role='button') Hoo Knews?
                &nbsp;
                a(href='/admin/lucky', class='btn btn-dark', role='button') Lucky Bulldog
