extends layout

block content
    script.
        //var herokuAPI = "https://!{heroku_app}.herokuapp.com/api";
        //- var herokuAPI = "http://localhost:3000/api";
        const herokuAPI = "/api",
            courseID = "#{courseID}";
        //- var heroku = "!{heroku_app}";
    script(src="/js/middleman_badges.js")
    .onexys_styling
        .standard_title_box.badge_title.title_mod.left
            p All my sweet
            h1 Badges
        .badge_title_text.left
            p
                strong Badges are awarded for excellent work throughout the course.
            p Collect them all to earn points for your team and to see some wacky pix of our faculty and staff!
        #what_are
            p So, what are badges?
            #badgeline
        .clear
        #badge_display
