extends layout

block content
    script.
        const herokuAPI = "/api",
            courseID = "#{courseID}",
            userID = "#{userID}"
    script(src="/js/middleman_badges.js")
    .onexys_styling
        .standard_title_box.badge_title.title_mod.left
            p All my sweet
            h1 Badges
        .badge_title_text.left
            p
                strong Badges are awarded for excellent work throughout the course.
            p Collect them all to earn points for your team and to see some wacky pix of our faculty and staff!
        #what_are
            p So, what are badges?
            #badgeline
        .clear
        #badge_display
