extends layout

block content
    h1 Error Setting Cookies
    p There was an error setting cookies on your browser. 
    br
    h2 Troubleshooting Tips:
    ul
    li Try refreshing your page
    |
    li If using Safari, please make sure you allow for cookies and/or 'cross-site tracking' (Go to Preferences, click Privacy, then unselect “Prevent cross-site tracking” or select "Always allow")
    |   
    li You can also use Mozilla Firefox or Google Chrome
    |   
    li If problem persists, please email us with a description and screenshots of your problem.
