extends layout

block content
    h1 Error Setting Cookies
    p There was an error setting cookies on your browser. 
    br
    h2 Troubleshooting Tips:
    ul
    li Try refreshing your page
    |
    li Please allow for third party and/or 'cross-site tracking' cookies
    |
    li Safari: Go to Preferences, click Privacy, then unselect “Prevent cross-site tracking” or select "Always allow"
    |   
    li Firefox: Go to Settings, click Privacy and Security, and select Standard
    |   
    li Chrome: Go to Settings, click Privacy and Security, and select 'Allow all cookies'
    |
    li If the problem persists, please email us with a description and screenshots of your problem.
