extends layout

block content
  if admin
    if masquerade
      a(href='/home?login_success=1') Back to Home
    else
      form(action='')
        select(name='masquerade')
          each val in students
            option(value=val.id)=val.sortable_name
        input(type='hidden', name='login_success', value='1')
        input(type='submit' value='Masquerade as Student')
  .user_content(style='margin-top: 0px !important;')
  .onexys_styling.o_hompage
    .left(style='width: 360px; margin-top: -10px;')
      #points.standard_box.left
        h2 My Points
        p#point_count= score
        #flag.blue
          if daily_yalie.id == null
            a(title='Open Daily Task', href='https://'+heroku_app+'.herokuapp.com/404', target='_blank')
              img(src='https://'+heroku_app+'.herokuapp.com/images/homepage/'+home_updates.daily_task_img)
          else
            if daily_yalie.id == -1
              //
                An assignment matching the Daily Task criteria is valid and does exist, but it is has not opened for students yet.
              a(title='Open Daily Task', href='https://'+heroku_app+'.herokuapp.com/not-open', target='_blank')
                img(src='https://'+heroku_app+'.herokuapp.com/images/homepage/'+home_updates.daily_task_img)
            else
              a(title='Open Daily Task', href=canvasURL+'/courses/'+courseID+'/assignments/'+daily_yalie.id, target='_blank')
                img(src='https://'+heroku_app+'.herokuapp.com/images/homepage/'+home_updates.daily_task_img)
      
