extends layout

block content
    script(src="/js/middleman.js")
    script(src="/js/courseIDGrabber.js")
    script.
        //var herokuAPI = "https://!{heroku_app}.herokuapp.com/api";
        var herokuAPI = "http://localhost:3000/api";
        var heroku = "!{heroku_app}";
    if lucky
        include lucky-overlay
    if admin
        if masquerade
            a(href='/home?login_success=1') Back to Home
        else
            //
            form.form-inline(action='')
                select.form-control(name='masquerade')
                    each val in students
                        option(value=val.id)=val.sortable_name
                input(type='hidden', name='login_success', value='1')
                input.form-control.btn.btn-secondary(type='submit' value='Masquerade as Student')
    .onexys_styling.o_hompage
        .left(style='width: 360px; margin-top: -10px;')
            #points.standard_box.left
                h2 My Points
                p#point_count
                #flag.blue
                    a#dailyTaskLink(title="Open Daily Task" target="_blank")
                        img#dailyTaskImg(src="https://i.gyazo.com/c45fc9a6995912367a142ca33702366a.gif" style="height:35px;")
            .standard_home_box.left
                h2 Leaderboard
                table
                    thead#leaderboard-header
                        tr
                            th Place
                            th Team
                            th Score
                    tbody#leaderboard
                    tbody#myTeam
                        tr.leader_me
                            td
                                #myteam_head MY TEAM
                            td#teamName
                            td#teamScore
            #recent_badges.standard_home_box.left(style='width: 313px; height: 180px;')
                h2 Recent Badges
                h4 Loading Badges
                img(src="https://i.gyazo.com/c45fc9a6995912367a142ca33702366a.gif")
                br
                a(title='info_Badges' href="https://" + heroku_app + ".herokuapp.com/badges" target='_blank') Click here to view all badges
            #progress.standard_home_box.left(style='width: 324px;')
                h2 My Progress So Far
                a#pretest.progress_box.single_line.completed Pre-Test
                #progress_labels(style='margin-left: 15px !important;')
                    p Pract.
                    p Apply
                br
                #modules
                a#posttest.progress_box.single_line(title="The Post Test is not ready yet. Complete all Practices and Applications, then check back!") Post-Test
        .left(style='width: 500px !important; margin-top: -10px;')
            br
            #updates.standard_home_box.left(style='width: 450px !important; margin-top: 23px !important;')
                h2 Updates
                img(style="margin-left:175px;" src="https://i.gyazo.com/c45fc9a6995912367a142ca33702366a.gif")
            #featured.standard_home_box.left(style='width: 458px !important;')
                h2#LoG_title Loading Videos...
                    br
                    img(style="height:25px;" src="https://i.gyazo.com/c45fc9a6995912367a142ca33702366a.gif")
                p
                    a#LoG_link(href="#" target='_blank')
                #homepageVideos
