<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<!-- <link href="../../public/css/style.css" rel="stylesheet"> <!-- for local running -->  -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>


<body>
<div class="user_content">
<!-- COPY FROM BELOW -->
<div class="onexys_styling coachoverride">

	<div class="coach_packet">
		<div class="coach_header welcomefirst" id="name1"></div>
	    <div class="coach_name fullwelcome left">Welcome to the Program!</div>
	    We're excited that you have chosen to be a part of the ONEXSS (Online Experiences for Smith Scholars) community!<br><br>
        <strong>ONEXSS is not just about the math.</strong> Sure, you are going to be watching math videos, practicing on adaptive software, and doing some harder applications. But it's more than that.<br><br>
        <strong>It's also about connections.</strong> Yup. connections. We want you to talk. And talk some more. And even more! Talk to your coach. Talk to others on your team. You will be part of a team with a coach who will work with you through this experience. So talk! Talk to your coach at least twice a week. You will find that in order to succeed at Smith, you will need to collaborate well. And this is the first step in that process.
        <br><br>
        <strong>It's not about a grade.</strong> There are no grades for this course. Yes, you are going practice and take quizzes. But here's what you will get: feedback in the form of points and badges. Each time you do things helpful to your learning (practice in ALEKS, take an application quiz, complete a reflection), you will earn some points. Completing the Daily Smithies and earning badges earn you more points.  Additionally, you will be helping your team ranking as you do these things.
        <br><br>
        <strong>Our ONEXSS coaches rock.</strong> We've hired some amazing coaches this year. They are other undergrads who are a step or two down the road from you. So they know what to do (and not do!) to survive at Smith. Ask them about math. Ask them about the best places to study. Ask them about going to office hours. Ask them about anything you have questions about. You will be getting together with them at least twice a week. We think that you will find your coach will be invaluable in helping you get a head start for Smith.<br><br>
        <strong>Finish the race.</strong> Check out the "Completing ONEXSS" tab to see what we're expecting you to do this summer to finish ONEXSS. We're going to celebrate all of you who finish in September with lots and lots of great food.
	</div>
	
	<div class="coach_packet">
		<div class="coach_header" id="name2"></div>
	    <div class="coach_name fullwelcome left">Completing the Program!</div>
	    Since we don't give formal grades in ONEXSS, we want to let you know what we expect you to do in order to complete the course.  And for those how complete ONEXSS, we're going to have a special dinner in September to recognize what you've done.<br><br>

        <strong>Finish Line.</strong> In order to complete ONEXSS, you will need to:<br><br>
        <ul>
        <li>Attempt the pre-Test (i.e. the chapter 0 Diagnostic). You've already done this!</li>
        <li>Attempt the post-Test after ONEXSS concludes.</li>
        <li>Attempt 100% of all the applications There are 10 total, so you do the math!</li>
        <li>Achieve 90% proficiency on the ALEKS Practice.</li>
        </ul><br>

        <strong>Progress Bar.</strong> In order to help you cross this finish line, we are providing a progress bar at the top of your home page. Every time you log in, it will show you where you stand in the course.<br><br>
        <strong>Team Leaderboard.</strong> Succeeding at Smith requires collaboration.  So as a team, you can work together to learn math and do other things that we think will help you at Smith.  Every time you do something, you earn points and badges that feed into your team's score.<br><br>
        <strong>Badges.</strong>  Badges are our way of incentivizing things that we think will contribute to your learning. Each time you log in, you will see your latest earned badges on your home page. But go here to see all possible badges and some hints concerning what you can do to earn these.
	</div>


    <div class="coach_packet">
		<div class="coach_header " id="name3"></div>
        <div class="coach_name fullwelcome left">Our Kickoff Event!</div>
			<div class="watch_video left">
	
	
				<div class="onexys_video">
					<a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=f53fd4a2-094c-4f69-a334-aa79013fb69b&amp;v=1;autoplay=true"> 
						<img class="onexys_thumbnail" 
						src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlide.png?raw=true"
						alt="Welcome to ONEXYS Video" />
						<img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png"/>
					</a>
				</div>
			
			</div>

	</div>
	
	
    <div class="coach_packet">
        <div id="name4" class="coach_header"></div>
        <div class="coach_name fullwelcome left">Our Kickoff: Questions and Answers</div>
        <strong>How Were ONEXYS/ONEXSS Students Chosen?</strong><br />
        <div class="watch_video left">
            <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=2432509f-b92c-4e0c-98c9-aa7a01508f41&amp;v=1"> 
                    <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" 
                        alt="welcomeVideoTileSlideSmaller.png" 
                    />
                    <img class="onexys_playbutton" 
                        src="https://conex.herokuapp.com/images/icons/playbutton.png" 
                    /> 
                </a>
            </div>
            <br /><br />
        </div>
 
        <strong>Is ONEXYS/ONEXSS a bridge program?</strong><br />
        <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=9c14d98e-3d69-449f-b7ad-aa7a01501d8e&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>

        <strong>How does the diagnostic score relate to work in ONEXYS/ONEXSS?</strong><br />
        <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=06a1ab4c-6e5b-43cd-876e-aa7a01501e1c&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>
  
        <strong>What is the Normal Weekly Schedule for ONEXYS/ONEXSS?</strong><br />
            <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=9f598b14-5f99-4d38-9c2b-aa7a0150a247&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>
 
        <strong>How long are the bi-weekly meetings?</strong><br />
            <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=b51b4b7b-5615-48a9-a8ed-aa7a0150389e&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>
  
        <strong>What happens if you miss a meeting?</strong><br />
            <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=9572ae04-0e42-4fe9-ad4c-aa7a015056a9&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
            </div>
 
        <strong>How long should you spend working on a module?</strong><br />
            <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=e2583bed-74fd-4179-b684-aa7b0020e0f0&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>
  
        <strong>Are quizzes graded in ONEXYS/ONEXSS?</strong><br />
            <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=d0a15507-7aac-43cb-a78c-aa7a01508257&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>
  
        <strong>Can you "flunk" ONEXYS/ONEXSS?</strong><br />
            <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=8aaec24c-a3cc-4b0a-ba33-aa7a01501db6&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>
  
        <strong>What happens to our scores when ONEXYS/ONEXSS is over?</strong><br />
            <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=1306d21e-5b3b-46de-97fc-aa7a0151eb85&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>
 
        <strong>How many versions of ONEXYS/ONEXSS are there?</strong><br />
            <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=9e08bd83-172e-4166-a946-aa7a0150717e&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>
 

 
        <strong>What rescources are available after ONEXYS/ONEXSS is over?</strong><br />
            <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=818cb048-36c2-48df-91da-aa7b0020e132&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>
 
        <strong>Smith specific answers with Gary Felder</strong><br />
            <div class="watch_video left">
            <div class="onexys_video"><a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=37ea14f8-9caf-4ad7-a15e-aa7b001d21d1&amp;v=1"> <img class="onexys_thubmnail" src="https://conex-overhaul.herokuapp.com/images/video/welcomeVideoTitleSlideSmaller.png?raw=true" alt="welcomeVideoTileSlideSmaller.png" /><img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" /> </a>
            </div>
            <br /><br />
        </div>
        
    </div>
    

<!--

		<div class="coach_header" id="name4"></div>
		<div class="coach_name fullwelcome left">How to Use Canvas</div>
			Check back later for videos to help you with the Canvas user interface:<br><br>
			
		</div>
-->

	<div class="coach_packet">
		<div class="" id="name5"></div> <!--  Used to have coach_header as the class.this added too much white space -->
		<div class="coach_photo">
			<img src="https://conex-overhaul.herokuapp.com/images/welcomeToONEXYS/Rolf_Headshot.png">
		</div>
		<div class="coach_name left">Professor Rolf</div>
		<div class="coach_bio">
		Dr. Rolf, having recently arrived at UVA from Yale, has been dedicated to finding creative, evidence-based ways for
		students to learn mathematics and to support other educators in this same
		endeavor. Dr. Rolf has transformed an introductory mathematics course, by taking advantage of online tools and interactive technology to
		encourage concept engagement and development of problem solving skills.
		He has created a “flipped
		classroom” approach, developing 42 videos and associated preparatory
		problems that students complete before coming to class. In addition to his
		teaching responsibilities, Dr. Rolf has maintained an active research program.
		Early in his career, he focused on numerical analysis; his current work is in
		the Scholarship of Teaching and Learning. Recognized as an authority in technology
		enhanced education, Dr. Rolf has been invited to lecture at numerous
		academic institutions and conferences. Most recently, he co-authored Explorations
		in Complex Analysis, a textbook with accompanying online tools for
		concept exploration.<br><br>
		After earning his Bachelor’s degree from Baylor University in Mathematics with
		a minor in Russian, Dr. Rolf obtained a Master of Divinity degree from Southwestern
		Seminary. He completed his Ph.D. at Duke University before being
		appointed as an Assistant Professor at the United States Military Academy at
		West Point in 1997. There, he received the Commander’s Award for Civilian
		Service for outstanding achievements in faculty development and research
		performance. In 2000, Dr. Rolf joined the faculty at the United States Air Force
		Academy, where he initiated and coordinated implementation of technology-
		based pedagogy into both introductory and advanced mathematics courses.
		Dr. Rolf and his wife Ann have two children, James and Julia. In addition to
		thinking about how to help undergraduates learn mathematics, he enjoys cycling,
		woodworking, and gardening.
		</div>
	</div>


	
	<div class="coach_title_shadow welcometitle_shadow"></div>
	<div class="coaches_index welcomeindex">
		<a href="#name1" >Welcome!</a><br/>
		<a href="#name2" >Completing ONEXSS</a><br/>
		<a href="#name3" >Kickoff Event</a><br/>

<!--		<a href="#name4" >How to Use Canvas</a><br/> -->

		<a href="#name5" >Professor Rolf</a><br/>
	</div>
	<div class="coach_title welcometitle">
		<p>Welcome to</p>
		<h1>ONEXSS!</h1>
	</div>
	<div class="coach_divider welcomedivider"></div>
<!-- COPY FROM ABOVE -->
<script src="onexys_dev_script.js"></script>
</div>
</body>
</html>
