<html>

	<head>
		<meta charset="UTF-8">
		<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>


	<body>
		<div class="user_content">
		<!-- COPY FROM BELOW -->
		<div class="onexys_styling coachoverride">

			<div class="coach_packet">
				<div class="coach_header welcomefirst" id="name1"></div>
			    <div class="coach_name fullwelcome left">Welcome to ASCEND!</div>
			    We are excited that you have chosen to join the ASCEND community!  <br><br>
		        <strong>Achieving Success. </strong> This summer, you’ll certainly do some math. We’ll ask you to watch videos, practice on adaptive software, do some harder applications, and take quizzes. You’ll also do some reflection, complete daily tasks, and test your knowledge of Duke. Instead of grades, you’ll get feedback in the form of points and badges that help your team rise in the ranking. This means that you can learn without worrying about your GPA, while the concepts and skills you learn will prepare you for introductory STEM classes and help you acclimate to Duke. <br><br>
		        <strong>Community, Engagement, and Networking.</strong> Community and collaboration are the true keys to success at Duke. In addition to practicing math, we want you to practice asking questions and talking to your team. Aim to talk to your coach at least twice a week. When the faculty stop by, talk to them too! When you arrive on campus in the fall, you’ll find that many classes require labs, group projects, and group tutorials. This is your chance to practice college-level collaboration. 
		        <br><br>
		        <strong>ASCEND Coaches are Awesome.</strong> Our coaches are sophomores, juniors, and seniors eager to help you have the best experience possible. They want to help you succeed at Duke. So, ask them about math. Ask them about classes and professors. Ask them about clubs on campus, the best study spaces, and the tastiest dining spots. You can ask them anything. And you can also let them know when you need more support in this program. Your coach will be invaluable in helping you complete ASCEND and getting a head start at Duke. 
		        <br><br>
		        <strong>Completing the Program!</strong> Since we don’t give formal grades in ASCEND, we want to let you know what to expect you to do in order to complete the program. For those who complete ASCEND, you will be invited to special events throughout your first year at Duke and be able to apply for a stipend for STEM tutoring. Our celebration of your accomplishment will kick off with a dinner in September for the students, coaches, and faculty in the ASCEND community.  <br><br>
		        <strong>Finish Line.</strong> Check out the "Completing ASCEND" tab to see what we're expecting you to do this summer to finish ASCEND. We're going to celebrate all of you who finish in September with lots and lots of great food.
			</div>

			<div class="coach_packet">
				<div class="" id="name2"></div>  <!-- Deleted coach_header  from class -->
			    <div class="coach_name fullwelcome left">Completing the Program!</div>
			    Since we don't give formal grades in ASCEND, we want to let you know what we expect you to do in order to complete the course.  And for those how complete ASCEND, we're going to have a special dinner in September to recognize what you've done.<br><br>

		        <strong>Finish Line.</strong> In order to complete ASCEND, you will need to:<br><br>
		        <ul>
		        <li>Attempt the Pre-Test (i.e. the Diagnostic). You've already done this!</li>
		    	<li>Achieve 90% proficiency on the ALEKS Practice.</li>
		        <li>Attempt 100% of all the applications There are 10 total, so you do the math!</li>
		        <li>Attempt the Post-Test after ASCEND concludes.</li>
		        </ul><br>

		        <strong>Progress Bar.</strong> In order to help you cross the finish line, we are providing a progress bar at the top of the home page. Everytime you log in, it will show you where you stand in the course. <br><br>
		        <strong>Team Leaderboard.</strong> Succeeding at Duke requires collaboration. So as a team, you can work together to learn math and do other things that we think will help you at Duke. Every time you do something, you earn points and badges that feed your team’s sco<br><br>
		        <strong>Badges.</strong>  Badges are our way of incentivizing things that we think will contribute to your learning. Each time you log in, you will see your latest earned badges on your homepage. But go here to see all possible badges and some hints concerning what you can do to earn these.
			</div>

		    <div class="coach_packet">
				<div class="coach_header " id="name3"></div>
		        <div class="coach_name fullwelcome left">Our Kickoff Event!</div>
			
					<div class="watch_video left">


						<div class="onexys_video">
							<a class="colorbox" href="https://www.youtube.com/embed/2VxFtSkSyH4?autoplay=1">
								<img class="onexys_thumbnail" src="https://conex-overhaul.herokuapp.com/images/video/kickoffTitleSlide.png" alt="Welcome to CONEX Video" />
								<img class="onexys_playbutton" src="https://conex-overhaul.herokuapp.com/images/icons/playbutton.png"/>
							</a>
						</div>

					</div>
	
			</div>
			

<!--		
			<div class="coach_packet">
				<div class="coach_header" id="name4"></div>
				<div class="coach_name fullwelcome left">How to Use Canvas</div>
					Check back later for videos to help you with the Canvas user interface:<br><br>
			</div>
				
-->

			<div class="coach_packet">
				<div class="coach_header" id="name5"></div>
				<div class="coach_photo">
					<img src="https://i.imgur.com/TSBHTkm.png" alt="DukeLIFE.png">
				</div>
				<div class="coach_name left">DukeLIFE</div>
				<div class="coach_bio">
		DukeLIFE is proud to be sponsoring the ASCEND program in partnership with the CONEX program at the University of Virginia.<br><br> 

<a href="https://dukelife.duke.edu/"> DukeLIFE</a> is part of the <a href="https://undergrad.duke.edu/"> Office of Undergraduate Education</a>. We provide multi-level support to undergraduates who are from first-generation and/or lower-income backgrounds (1G/LI students). Our programming and initiatives provide students with holistic support to promote their full participation in the university’s intellectual communities.<br><br> 

We would be thrilled to meet with you over the summer to discuss your interests and how we can help you thrive at Duke.<br><br> 

Sincerely,<br><br>

Dr. Sachelle Ford, Director<br><br>
Ravyn Kingsberry, Program Coordinator<br><br>

Contact: dukelife@duke.edu

				</div>
			</div>



			<div class="coach_title_shadow welcometitle_shadow"></div>
			<div class="coaches_index welcomeindex">
				<a href="#name1" >Welcome!</a><br/>
				<a href="#name2" >Completing the Program!</a><br/>
				<a href="#name3" >Kickoff Event</a><br/>
				<!-- <a href="#name4" >How to Use Canvas</a><br/> -->
				<a href="#name5" >DukeLIFE</a><br/>
			</div>
			<div class="coach_title welcometitle">
				<p>Welcome to</p>
				<h1>ASCEND</h1>
			</div>
			<div class="coach_divider welcomedivider"></div>
		<!-- COPY FROM ABOVE -->
		<!--<script src="onexys_dev_script.js"></script>-->
		</div>
	</body>
</html>
