<html>

<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<!-- <link href="../../public/css/style.css" rel="stylesheet"> <!-- for local running -->  -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>



<body>
	<div class="user_content">
		<!-- COPY FROM BELOW -->
		<div class="onexys_styling coachoverride">

			<div class="coach_packet">
				<div class="coach_header welcomefirst" id="name1"></div>
				<div class="coach_name fullwelcome left">Welcome to the Program!</div>
				We are so excited that you have chosen to be a part of the QBIT community this summer. Below are a few notes to
				set the stage for what QBIT is all about.<br><br>
				<strong>QBIT is not just about the math.</strong> Sure, you are going to be watching math videos, practicing on
				adaptive software, and doing some harder applications. But it's more than that.<br><br>
				<strong>It's also about connections.</strong> We want you to talk. And talk some more. And even more! Talk to
				your coach. Talk to others on your team. You will be part of a team with a coach who will work with you through
				this experience. So talk! Talk to your coach at least twice a week. You will find that in order to succeed at
				Trinity, you will need to collaborate well. And this is the first step in that process.<br><br>
				<strong>It's not about a grade.</strong> There is no grade attached to QBIT alone. Yes, you are going to
				practice and take quizzes. But here's what you will get: feedback in the form of points and badges. Each time
				you do things helpful to your learning (practice in ALEKS, take an application quiz, complete a reflection), you
				will earn some points. Completing the Tiger Trivia questions and accruing badges earn you more points.
				Additionally, you will be helping your team ranking as you do these things.<br><br>
				<strong>Our QBIT coaches rock.</strong> We've hired three amazing coaches this year. They are other undergrads
				who are a step or two down the road from you. So they know what to do (and not do!) to survive at Trinity. Ask
				them about math. Ask them about life on campus. Ask them about going to office hours. Ask them about anything
				you have questions about. You will be getting together with them twice a week. We think that you will find your
				coach will be invaluable in helping you get a head start for Trinity.<br><br>
				<strong>Start (and finish) strong!</strong> Check out the "Completing QBIT" tab to see what we're expecting you
				to do in the next several weeks to finish QBIT. With enough hard work, we expect that through your post-test
				score, you’ll not only place into Calculus I, but also be prepared to thrive in the course. So, be sure
				that you’re working hard to stay on track for completion!
			</div>
			
			<br><br>

			<div class="coach_packet">
				<div class="" id="name2"></div> <!-- Deleted coach_header  from class -->
				<div class="coach_name fullwelcome left">Completing the Program!</div>
				Since we don't give formal grades for QBIT by itself, we want to let you know what we expect you to do in order
				to complete the program.<br><br>

				<strong>Finish Line.</strong> In order to complete QBIT, you will need to:
				<ul>
					<li>Attempt the pre-Test (i.e. the chapter 0 Diagnostic). You've already done this!</li>
					<li>Attempt the post-Test by July 26, once you've completed all ten modules.</li>
					<li>Attempt 100% of all the applications There are 10 total, so you do the math!</li>
					<li>Achieve 90% proficiency on the ALEKS Practice.</li>
				</ul><br>
				
				Students who make it past the finish line will be invited to a special gathering during the first week of classes and receive an awesome welcome basket!<br><br>

				<strong>Progress Bar.</strong> In order to help you cross this finish line, we are providing a progress bar at
				the top of your home page. Every time you log in, it will show you where you stand in the course.<br><br>
				<strong>Team Leaderboard.</strong> Succeeding at Trinity requires collaboration. So as a team, you can work
				together to learn math and do other things that we think will help you at Trinity. Every time you do something,
				you earn points and badges that feed into your team's score.<br><br>
				<strong>Badges.</strong> Badges are our way of incentivizing things that we think will contribute to your
				learning. Each time you log in, you will see your latest earned badges on your home page. But go here to see all
				possible badges and some hints concerning what you can do to earn these.
			</div>

			<div class="coach_packet">
				<div class="coach_header " id="name3"></div>
				<div class="coach_name fullwelcome left">Our Kickoff Event! (Coming Soon)</div>

				<div class="watch_video left">


					<div class="onexys_video">
						<!--	<a class="colorbox" href="https://www.youtube.com/embed/2HbUaX7GaJo?autoplay=1">
								<img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/video/kickoffTitleSlide.png" alt="Welcome to CONEX Video" />
								<img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png"/>
							</a>
							-->
					</div>

				</div>

			</div>


			<!--		<div class="coach_packet">
				<div class="coach_header" id="name4"></div>
				<div class="coach_name fullwelcome left">How to Use Canvas</div>
					Check back later for videos to help you with the Canvas user interface:<br><br>

				</div>
				
				-->

			<div class="coach_packet">
				<div class="coach_header" id="name5"></div>
				<div class="coach_photo">
					<img src="https://conex.herokuapp.com/images/welcomeToONEXYS/luke_tunstall_1 copy.jpg">
				</div>
				<div class="coach_name left">Dr. Luke Tunstall</div>
				<div class="coach_bio">
					Originally from North Carolina, Luke comes to Trinity University most recently from Michigan State University,
					where he completed his doctoral studies in mathematics education. He is Director of Trinity’s new Quantitative
					Reasoning and Skills (QRS) Center, located in the Tiger Learning Commons of the Coates Library. <br><br>
					As Chair of the Mathematical Association of America’s Special Interest Group in Quantitative Literacy, and
					Vice President of the National Numeracy Network, Luke is heavily involved in the quantitative literacy
					movement in higher education, and is committed to fostering students’ quantitative reasoning practices across
					the disciplines. Being keenly aware of the importance of access to quantitative skills for social mobility, he
					is driven in his work to ensure that all students have the opportunity to develop skills for success in the
					twenty-first century. <br><br>
					As Director of the new QRS Center, Luke works with students and faculty to promote student success in
					quantitatively-demanding coursework. In getting started, this takes the form of individualized support to
					students, peer tutor training, teaching within the Department of Mathematics, and leading both QBIT and Summer
					Bridge Math, among other things. Luke welcomes all students to drop by the QRS Center, regardless of whether
					they are seeking out a tutor. <br><br>
					Outside of work, Luke enjoys hiking, playing tennis, taking road trips, and spending time with his family and
					dog.
				</div>
			</div>



			<div class="coach_title_shadow welcometitle_shadow"></div>
			<div class="coaches_index welcomeindex">
				<a href="#name1">Welcome!</a><br />
				<a href="#name2">Completing QBIT</a><br />
				<a href="#name3">Kickoff Event</a><br />
				<!-- <a href="#name4" >How to Use Canvas</a><br/> -->
				<a href="#name5">Dr. Luke Tunstall</a><br />
			</div>
			<div class="coach_title welcometitle">
				<p>Welcome to</p>
				<h1>QBIT!</h1>
			</div>
			<div class="coach_divider welcomedivider"></div>
			<!-- COPY FROM ABOVE -->
			<!--<script src="onexys_dev_script.js"></script>-->
		</div>
</body>

</html>