<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
<div class="user_content">
<div class="onexys_styling lifeoverride">

<div> </div>
<div class="coach_packet lifeatpacket">
	    <div class="coach_header welcomefirst" id="vid1"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/mmlp6xtWAkY?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">UVA Libraries<br><br><span class="lifeatdescription">Savannah Fife introduces us to the services of the <em>UVA Library </em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid2"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/z6YMKJg2LgM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Student Health Services<br><br><span class="lifeatdescription">Emily Kyaw presents some helpful services from <em>Student Health</em></div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid3"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/rIVBDoGHn48?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Career Center<br><br><span class="lifeatdescription">Shruti Bala helpfully explains the UVA <em>Career Center</em></div>
	</div>


	
	
<div class="welcometitle coach_title lifeattitleshad"></div>
<div class="coaches_index lifeatindex">
     
    <a href="#vid1">UVA Libraries</a><br />
    <a href="#vid2">Student Health Services</a><br />
    <a href="#vid3">Career Center</a><br />
	

<div class="coach_title welcometitle lifeattitle">
		<p>Now Presenting...</p>
		<h1>LifeOnGrounds</h1>
</div>


</div>
</div>
</body>
</html>
