<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
<div class="user_content">
<div class="onexys_styling lifeoverride">

<div> </div>
<div class="coach_packet lifeatpacket">
	    <div class="coach_header welcomefirst" id="vid1"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/-QWIu3ln5zk?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">UVA Bookstore<br><br><span class="lifeatdescription">Darnisha Augustin introduces us to the services of the <em>UVA Bookstore </em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid2"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/tLOjMzPoPwA?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">The Corner<br><br><span class="lifeatdescription">Abby Harrell presents things to do on <em>the Corner</em></div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid3"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/nc3D3uSZk-k?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Recreational Centers<br><br><span class="lifeatdescription">Allen Li and Emmanuel Yeboah discuss <em>Recreational Centers</em></div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid4"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/r_Ttugd5uGs?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Athletics and Intramurals<br><br><span class="lifeatdescription">Learn more about <em>Athletics and Intramurals</em> with Harrison Cobb</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid5"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/n8jXJT8yOMs?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Dining Options<br><br><span class="lifeatdescription">Hannah Tuma presents UVA’s Egg-squisite <em>dining options</em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid6"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/NUmmUjHdwYc?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Things to do in CVille<br><br><span class="lifeatdescription">Here are Yeongju Lee’s favorite <em>things to do in Charlottesville</em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid7"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/FK1UDiNyQ30?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Volunteering<br><br><span class="lifeatdescription">Abhishek Mullapudi discusses <em>volunteering at UVA</em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid8"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/ANag7DZEfBQ?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">The Writing Center<br><br><span class="lifeatdescription">Learn all about <em>UVA's writing center</em> with Dana Bassford</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid9"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/Unu_S8cwvN8?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Midterms and Finals<br><br><span class="lifeatdescription">Here are Emily Kyaw's best tips for surviving <em>midterms and finals</em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid10"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/nJASPuyTg2s?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Handshake<br><br><span class="lifeatdescription">McCall Sinair’s tips for using <em>Handshake</em></div>
	</div>	
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid11"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/8gsxiLwqdbU?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">SIS<br><br><span class="lifeatdescription">Shuwen Zhan helps you navigate <em>SIS</em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid12"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/R3jZJurxjFM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Transportation<br><br><span class="lifeatdescription">Amatullah Lonandwala talks about <em>transportation on and around Grounds</em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid13"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/A5fqIaSQv5o?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Study Abroad<br><br><span class="lifeatdescription">Fly away with Isabel Puchner as she discusses <em>studying abroad</em></div>
	</div>	
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid14"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/32OS_Gganfk?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Cultural Centers<br><br><span class="lifeatdescription">Check out <em>Cultural Centers</em> on Grounds with Lorin Bruno</div>
	</div>	
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid15"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/ZVvN0hLCFvQ?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Class Enrollment<br><br><span class="lifeatdescription">Explore <em>class enrollment</em> with Ishita R. Mahajan</div>
	</div>	
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid16"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/QnmGvR_qNQI?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Pre-Health<br><br><span class="lifeatdescription">Here are Kate Pufko’s tips for <em>Pre-Health</em> students</div>
	</div>	
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid17"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/o1fpTm4hOP4?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Study Spaces<br><br><span class="lifeatdescription">Samira Samadi shares her favorite <em>study spaces</em></div>
	</div>	
	
<div class="coach_packet lifeatpacket">
	    <div class="coach_header welcomefirst" id="vid18"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/mmlp6xtWAkY?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">UVA Libraries<br><br><span class="lifeatdescription">Savannah Fife introduces us to the services of the <em>UVA Library </em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid19"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/z6YMKJg2LgM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Student Health Services<br><br><span class="lifeatdescription">Emily Kyaw presents some helpful services from <em>Student Health</em></div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid20"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/rIVBDoGHn48?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Career Center<br><br><span class="lifeatdescription">Shruti Bala helpfully explains the UVA <em>Career Center</em></div>
	</div>
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid21"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/Yd7nz88xowI?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">The UVA Bookstore<br><br><span class="lifeatdescription">Find out about new things at the <em> UVA Bookstore</em> with Darnisha Augustin</div>
	</div>
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid22"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/Akc4IFgQCro?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Off Grounds Activities<br><br><span class="lifeatdescription"> Explore your options <em> Off Grounds</em> with Harrison Cobb helpfully explains the UVA</div>
	</div>
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid23"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/kvsUDgrP9Eo?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Study Spots<br><br><span class="lifeatdescription"> Find out about the best places to <em> study </em> with Lauren Victory</div>
	</div>
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid24"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/e6as8xxqYgk?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Clubs<br><br><span class="lifeatdescription"> Find the <em>activties and places</em> you enjoy with Maria Rahmouni</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid25"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/zfBJebjOvOg?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">George's Student Center<br><br><span class="lifeatdescription">Emmanuel and Patrick explain all the uses of the <em> George's Student Center</em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid26"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/5qHjGqi6EX0?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Multicultural Centers<br><br><span class="lifeatdescription">Explore numerous <em> Cultures</em> with Shuwen Zhan</div>
	</div>
	
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid27"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/ouh2nKPwYE8?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Study Spaces<br><br><span class="lifeatdescription">Find some neat spaces to <em> study </em> with Peyton Johnston</div>
	</div>
	
	


	
	
<div class="welcometitle coach_title lifeattitleshad"></div>
<div class="coaches_index lifeatindex">
      <a href="#vid1">UVA Bookstore</a><br />
    <a href="#vid2">The Corner</a><br />
    <a href="#vid3">Recreational Centers</a><br />
	<a href="#vid4">Athletics and Intramurals</a><br />
    <a href="#vid5">Dining Options</a><br />
    <a href="#vid6">Things to do in CVille</a><br />
	<a href="#vid7">Volunteering</a><br />
	<a href="#vid8">The Writing Center</a><br />
	<a href="#vid9">Midterms and Finals</a><br />
	<a href="#vid10">Handshake</a><br />
	<a href="#vid11">SIS</a><br />
	<a href="#vid12">Transportation</a><br />
	<a href="#vid13">Study Abroad</a><br />
	<a href="#vid14">Cultural Centers</a><br />
	<a href="#vid15">Class Enrollment</a><br />
	<a href="#vid16">Pre-Health</a><br />
	<a href="#vid17">Study Spaces</a><br />
    <a href="#vid18">UVA Libraries</a><br />
    <a href="#vid19">Student Health Services</a><br />
    <a href="#vid20">Career Center</a><br />
	<a href="#vid21">UVA Bookstore</a><br />
	<a href="#vid22">Off Grounds Activities</a><br />
	<a href="#vid23">Study Spots at UVA</a><br />
	<a href="#vid24">Clubs at UVA</a><br />
	<a href="#vid25">George's Student Center</a><br />
	<a href="#vid26">Multicultural Centers</a><br />
	<a href="#vid27">Study Spaces</a><br />

<div class="coach_title welcometitle lifeattitle">
		<p>Now Presenting...</p>
		<h1>LifeOnGrounds</h1>
</div>


</div>
</div>
</body>
</html>
