<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
<div class="user_content">
<div class="onexys_styling lifeoverride">

<div> </div>
<div class="coach_packet lifeatpacket">
	    <div class="coach_header welcomefirst" id="vid1"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/-QWIu3ln5zk?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">UVA Bookstore<br><br><span class="lifeatdescription">Darnisha Augustin introduces us to the services of the <em>UVA Bookstore </em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid2"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/tLOjMzPoPwA?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">The Corner<br><br><span class="lifeatdescription">Abby Harrell presents things to do on <em>the Corner</em></div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid3"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/nc3D3uSZk-k?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Recreational Centers<br><br><span class="lifeatdescription">Allen Li and Emmanuel Yeboah discuss <em>Recreational Centers</em></div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid4"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/r_Ttugd5uGs?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Athletics and Intramurals<br><br><span class="lifeatdescription">Learn more about <em>Athletics and Intramurals</em> with Harrison Cobb</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid5"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/n8jXJT8yOMs?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Dining Options<br><br><span class="lifeatdescription">Hannah Tuma presents UVA’s Egg-squisite <em>dining options</em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid6"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/NUmmUjHdwYc?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Things to do in CVille<br><br><span class="lifeatdescription">Here are Yeongju Lee’s favorite <em>things to do in Charlottesville</em></div>
	</div>
<div class="welcometitle coach_title lifeattitleshad"></div>
<div class="coaches_index lifeatindex">
     
    <a href="#vid1">UVA Bookstore</a><br />
    <a href="#vid2">The Corner</a><br />
    <a href="#vid3">Recreational Centers</a><br />
	<a href="#vid4">Athletics and Intramurals</a><br />
    <a href="#vid5">Dining Options</a><br />
    <a href="#vid6">Things to do in CVille</a><br />

<div class="coach_title welcometitle lifeattitle">
		<p>Now Presenting...</p>
		<h1>LifeOnGrounds</h1>
</div>


</div>
</div>
</body>
</html>
