<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
<div class="user_content">
<div class="onexys_styling lifeoverride">

<div> </div>
<div class="coach_packet lifeatpacket">
	    <div class="coach_header welcomefirst" id="vid1"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/8cA6i-mTTNs?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Wellness at Duke<br><br><span class="lifeatdescription">Daisja Honerable discusses <em>wellness </em> at Duke</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid2"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/mx0zsUmfiMM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Nature and Greenery at Duke<br><br><span class="lifeatdescription">Megan Liu talks about the <em>vibrant</em> scene at Duke</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid3"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/utboRK37ipg?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Noteable Buildings at Duke<br><br><span class="lifeatdescription">Kevin Jiang points out <em> noteable buildings</em> at Duke </div>
	</div>
		
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid4"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/hlo-ea6bUCY?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Study Areas at Duke<br><br><span class="lifeatdescription">Find out about <em> Study Areas</em> at Duke with Lucy Zhang </div>
	</div>
	
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid5"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/5PNWy8Jg1dE?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Transportation at Duke<br><br><span class="lifeatdescription">Sawyer Grovogel helpfully explains <em> transportation</em> at Duke</div>
	</div>
	
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid6"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/IMyWfyqOVrM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Sports and Rec at Duke<br><br><span class="lifeatdescription"> Emily Da Cruz shows some <em> great places</em> to exercise at Duke</div>
	</div>
	
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid7"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/6zFh4BZmvbk?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Music at Duke<br><br><span class="lifeatdescription">Learn about <em> music</em> at Duke with Erica Ham</div>
	</div>
	
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid8"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/DKA_JwfHsPU?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Engineering Makerspaces at Duke<br><br><span class="lifeatdescription">Learn about some great places to express you <em> creativty</em> with Andrew Liu</div>
	</div>
	
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid9"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/4Y70xZO-UsM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">K-Ville at Duke<br><br><span class="lifeatdescription">Learn about <em>K-Ville</em> with Katie Newton</div>
	</div>
	
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid10"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/H_f21q3NSLQ?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Arts at Duke<br><br><span class="lifeatdescription"> Explore the <em> arts </em> at Duke with Katie Newton <em></div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid11"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/hQhLLnJvHIE?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Food at Duke<br><br><span class="lifeatdescription">Learn about <em> food at Duke</em> with Emily Kang </div>
	</div>
	
	


	
	
<div class="welcometitle coach_title lifeattitleshad"></div>
<div class="coaches_index lifeatindex">
     
    <a href="#vid1">Wellness at Duke</a><br />
    <a href="#vid2">Nature and Greenery</a><br />
    <a href="#vid3">Noteable Buildings at Duke</a><br />
	<a href="#vid4">Study Areas at Duke</a><br />
	<a href="#vid5">Transportation at Duke</a><br />
	<a href="#vid6">Sports and Recreation</a><br />
	<a href="#vid7">Music at Duke</a><br />
	<a href="#vid8">Arts at Duke</a><br />
	<a href="#vid9">Engineering Makerspaces at Duke</a><br />
	<a href="#vid10">K-Ville</a><br />
	<a href="#vid11">Food at Duke</a><br />

<div class="coach_title welcometitle lifeattitle">
		<p>Now Presenting...</p>
		<h1>Life@Duke</h1>
</div>


</div>
</div>
</body>
</html>
