<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
<body>
<div class="user_content">
<div class="onexys_styling lifeoverride">


	<div class="coach_packet lifeatpacket">
	    <div class="coach_header welcomefirst" id="vid5"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/f7XcVcs7ol0?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/succeeding_in_qbit_A.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Betty Curry Welcomes You To QBIT<br><br><span class="lifeatdescription">Betty Curry, Director for Academic Support, discusses practices for making the most of QBIT.</div>
	</div>
	
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header welcomefirst" id="vid9"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/fbpQe1YmtjY?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/succeeding_in_qbit_A.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Emma Kramer: QBIT Dining<br><br><span class="lifeatdescription">In this video, Emma Kramer–QBIT Coach–talks about some of her favorite on- and off-campus dining options at Trinity.</div>
	</div>


<!--



	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid5"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/kj0YMcgTb9Y?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Prepping for Exams<br><br><span class="lifeatdescription">Jasmanet Chahal giving us some tips and trick when it comes to surviving exam week.</div>
	</div>




	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid1"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/poWGHF48QHw?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Navigating Clark Library<br><br><span class="lifeatdescription">Mika Poblete shows us around the Clark Hall library.</div>
	</div>

-->


<div class="welcometitle coach_title lifeattitleshad"></div>
<div class="coaches_index lifeatindex">
    <a href="#vid5">Betty Curry Welcomes You To QBIT</a><br />
	<a href="#vid9">Emma Kramer: QBIT Dining</a>


	<!--
	<a href="#vid6">Outdoor Adventures</a> <br />
	<a href="#vid5">Prepping for Exams</a><br />
    <a href="#vid4">Joining Clubs/CIOs</a>
	<a href="#vid2">Study Spots</a><br />
	<a href="#vid1">Navigating Clark Library</a></div>
	-->

<div class="coach_title welcometitle lifeattitle lifeattitle-Trinity">
		<p>Now Presenting...</p>
		<h1>YourTrinityFamily</h1>
	</div>


</div>
</div>
</body>
</html>
