<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">


    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/VIxtvEH.jpg"
    alt="Darnisha.jpg"  /></div>
    <div class="coach_name left">Darnisha Augustin(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology & Sociology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/3897269874">https://virginia.zoom.us/j/38972<br />69874 </a></div>
    <div class="coach_college"><span class="coach_ital"> West Palm Beach, Florida. Class of 2024</span></div>
    </div>
    <div class="coach_bio">I am Darnisha Augustin, a rising third-year student at the University of Virginia from West Palm Beach, Florida. I was born and raised in South Florida and decided to make the move to Virginia to attend UVa in person. I am majoring in Biology and Sociology on the pre-PA track. After my time at the University of Virginia, I will apply to the Master’s in Public Health program at the University of Virginia Medical School and thereafter, attend an accredited Physician Associate program and live out a career as a Physician Associate. 
A fun fact about me is that I have danced at the halftime shows for both the Miami Dolphins and Miami Heat twice with my competitive cheerleading team. The experience was extremely rewarding and thrilling. It was great to meet some of the players and the cheerleaders as well.
Additionally, I like to do various activities in my free time such as jump roping and working out. At the moment I enjoy learning choreography as well as choreographing some dances for my afro-beats dance team at UVa. I find dancing to be an enjoyable outlet besides my schoolwork. It also comes with its health benefits which is a plus. Besides that, I also enjoy listening to music and reading. Those activities help calm me when life gets too hectic. </div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/2pNMm4b.jpg"
    alt="Shruti.jpg"  /></div>
    <div class="coach_name left">Shruti Bala(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9789969929">https://virginia.zoom.us/j/97899<br />69929</a></div>
    <div class="coach_college"><span class="coach_ital">Richmond, VA. Class of 2025</span></div>
    </div>
    <div class="coach_bio">Hi my name is Shruti Bala and I am a rising second-year here at UVA! To introduce myself a little I am majoring in computer science in the Engineering school here and I'm also from Richmond, Virginia. I really enjoy cooking, dancing, and hiking/being outdoors. I can't wait to meet all of you guys this summer and show you how great UVA really is!!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/U0mN3iP.jpg"
    alt="Harrison.jpg" width="300" height="375" /></div>
    <div class="coach_name left">Harrison Cob(He/Him)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematical Statistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7455744620">https://virginia.zoom.us/j/74557<br />44620</a></div>
    <div class="coach_college"><span class="coach_ital">Newport News, Virginia. Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hey everyone! My name's Harrison and I am from Newport News, Virginia. For fun, I enjoy playing pickup sports, especially basketball and soccer, hiking, and going to concerts. Outside of class, I am a consultant for Calculus 1 and 2 in the library and I am heavily invested in every intramural sport. Welcome to the program!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/TAwUHYg.jpg"
    alt="Savannah.jpg"  /></div>
    <div class="coach_name left">Savannah Fife(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7957351416">https://virginia.zoom.us/j/79573<br />51416</a></div>
    <div class="coach_college"><span class="coach_ital">Harrisonburg, Virginia. Class of 2025</span></div>
    </div>
    <div class="coach_bio">My name is Savannah Fife and I'm from Harrisonburg, Virginia. I am a rising second year at UVA and currently a math major. I enjoy traveling, hiking, and dancing. I love listening to music and am always up for talking about TV shows or analyzing the latest movies. I can't wait to get to know all of you!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/EvjZhrk.jpg"
    alt="Chloe.jpg"  /></div>
    <div class="coach_name left">Chloe Ji(She/Her/Hers)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Commerce & Astronomy</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4351844578">https://virginia.zoom.us/j/43518<br />44578</a></div>
    <div class="coach_college"><span class="coach_ital">Mainland China, Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hey y'all! I'm Chloe, a rising third year in McIntire school of Commerce. I also have a second major in Astronomy. Outside of class, I enjoy watching movies, playing tennis or exploring new restaurants in town. So excited to participate in CONEX this summer and can't wait to meet with you! </div>
    </div>
	
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/IdWtmQY.jpg"
    alt="Peyton.jpg"  /></div>
    <div class="coach_name left">Peyton Johnston(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical engineering </div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/5860325408">https://virginia.zoom.us/j/58603<br />25408</a></div>
    <div class="coach_college"><span class="coach_ital"> Seattle, WA. Class of 2023</span></div>
    </div>
    <div class="coach_bio">Hi, I'm Peyton. I was born and raised in Seattle, WA. I'm a rising fourth year majoring in biomedical engineering with a premed track. I am currently doing research in the Biomedical Engineering and Chemical Engineering departments. I enjoy going on hikes, reading, and attending UVA sporting events, especially basketball.</div>
    </div>
    
        <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/eAMZHy1.jpg"
    alt="Emily.jpg"  /></div>
    <div class="coach_name left">Emily Kyaw(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Kinesiology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4243384298?pwd=NTdhMlBMZ0tsR2VGN3B6SDVUck5CZz09">https://virginia.zoom.us/j/42433<br />84298</a></div>
    <div class="coach_college"><span class="coach_ital">Richmond, VA. Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Emily and a returning coach from summer 2021, so I am happy to be here once again. A little about me, I am a pre-pharmacy student and a rising third year majoring in kinesiology and minoring in chemistry, so if you ever have any questions about any of the above, feel free to reach out. I am from Richmond, VA and I have a puppy that I'm sure you'll hear too much about. I am so excited to meet everyone this summer!</div>
    </div>
    
        <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/eAH3eEK.jpg"
    alt="Harry.jpg"  /></div>
    <div class="coach_name left">Harry Li(He/Him)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9515540958">https://virginia.zoom.us/j/95155<br />40958</a></div>
    <div class="coach_college"><span class="coach_ital">Richmond, VA. Class of 2025.</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Harry and I'm from Richmond, Virginia. I like to spend time outside with my friends in my free time. I'm excited to get to know you guys!</div>
    </div>
    
        <div class="coach_packet">
    <div id="name9" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/TEqHiZG.jpg"
    alt="Maria.jpg"  /></div>
    <div class="coach_name left">Maria Rahmouni(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9397392684">https://virginia.zoom.us/j/93973<br />92684</a></div>
    <div class="coach_college"><span class="coach_ital">New Cumberland, Pennsylvania. Class of 2025</span></div>
    </div>
    <div class="coach_bio">I am from New Cumberland, Pennsylvania. I like reading and writing, being outside, and playing volleyball!  </div>
    </div>
    
        <div class="coach_packet">
    <div id="name10" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/fe2IyRn.jpg"
    alt="Samira.jpg"  /></div>
    <div class="coach_name left">Samira Samadi(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Cognitive Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7278007124">https://virginia.zoom.us/j/72780<br />07124</a></div>
    <div class="coach_college"><span class="coach_ital">Charlottesville, VA. Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hi everyone! My name is Samira Samadi, and I am a rising third year majoring in Cognitive Science. I am from Charlottesville, but am originally from Iran and lived in Turkey for a few years. I really enjoy hiking, finding new restaurants, and volunteering at different organizations. I am looking forward to meeting you all! </div>
    </div>
    
        <div class="coach_packet">
    <div id="name11" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/7mNEWfJ.jpg"
    alt="Bel.jpg"  /></div>
    <div class="coach_name left">Bel Ullman(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science </div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/5919992859">https://virginia.zoom.us/j/59199<br />92859</a></div>
    <div class="coach_college"><span class="coach_ital">New York City, New York. Class of 2022</span></div>
    </div>
    <div class="coach_bio">I just graduated from UVA where I majored in Computer Science and minored in Global Studies in Education! I’m from New York and I love running, yoga, and hiking. I can’t wait to meet y’all!  </div>
    </div>
    
        <div class="coach_packet">
    <div id="name12" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/EkmAzBm.jpg"
    alt="Lauren.jpg"  /></div>
    <div class="coach_name left">Lauren Victory(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biochemistry & French</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/6475788770">https://virginia.zoom.us/j/64757<br />88770</a></div>
    <div class="coach_college"><span class="coach_ital">Long Island, New York. Class of 2025</span></div>
    </div>
    <div class="coach_bio">Hi everyone! I'm a rising second-year from Long Island, New York. I'm majoring in french because I love the language, but I'm also a premed student (with a soft spot for math). Can't wait to work with you! </div>
    </div>
    
        <div class="coach_packet">
    <div id="name13" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/Ixno5ji.jpg"
    alt="Gabriella.jpg"  /></div>
    <div class="coach_name left">Gabriella Amina Watson(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Chemistry </div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8862862630">https://virginia.zoom.us/j/88628<br />62630</a></div>
    <div class="coach_college"><span class="coach_ital">Chester, VA. Class of 2025</span></div>
    </div>
    <div class="coach_bio">Greetings everyone! My name is Gabriella Amina Watson and I am from Chester, VA which is 30 minutes south of Richmond. I am planning on majoring in Chemistry with the hopes of being a pharmacist by day and a fantasy author by night. On grounds, I work as an intern for the Ridley Scholarship Program at Alumni Hall. I am also involved in Flux Poetry and Spoken Word Club and just recently wrote and performed a comedy sketch at an open mic. I spend my spare time dancing, playing Dungeons and Dragons, watching Marvel movies, and working on my novel I plan to finish before I graduate. </div>
    </div>
    
        <div class="coach_packet">
    <div id="name14" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/8h0m2Fg.jpg"
    alt="Shuwen.jpg"  /></div>
    <div class="coach_name left">Shuwen Zhan(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4334785027">https://virginia.zoom.us/j/43347<br />85027</a></div>
    <div class="coach_college"><span class="coach_ital">Fuzhou, Fujian, China. Class of 2023</span></div>
    </div>
    <div class="coach_bio">Hi, my name is Shuwen. I am a rising 4th-year pursuing a BS in biology and a minor in statistics. Outside of the classroom, I spend most of my time in labs doing research relating to glioblastoma and leukemia. I am also a volunteer at Madison House and a peer teacher for intro biology labs. In addition, I also enjoy swimming, skiing, horseback riding, and painting, even though I am not particularly good at any of these. </div>
    </div>
    
        <div class="coach_packet">
    <div id="name15" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/nX9rN3o.jpg"
    alt="Patrick.jpg"  /></div>
    <div class="coach_name left">Patrick Roney(He/Him)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Environmental Science </div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7982286825">https://virginia.zoom.us/j/79822<br />86825</a></div>
    <div class="coach_college"><span class="coach_ital">Arlington, Virginia. Class of 2023</span></div>
    </div>
    <div class="coach_bio">I am a fourth year from Arlington, Virginia pursuing a B.S. in Environmental Science. This past year I’ve worked in the Environmental Science department as a researcher while also working as a Learning Assistant for our Calculus I and II courses in the math department. I love finding spare moments to sit down at the piano to play just about anything, from Beethoven to Stevie Wonder, and enjoying the sunsets of Charlottesville. I can’t wait to connect with you this summer!</div>
    </div>
    
        <div class="coach_packet">
    <div id="name16" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/oJxSKX2.jpg"
    alt="Emmanuel.jpg"  /></div>
    <div class="coach_name left">Emmanuel Yeboah</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biochemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/6924853963">https://virginia.zoom.us/j/69248<br />53963</a></div>
    <div class="coach_college"><span class="coach_ital">Woodbridge, VA. Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hello! I'm Emmanuel, a rising third-year and a Biochem major. I don't really do much other than run, read and game. Im super excited to meet you this summer!   </div>
    </div>
	
    <div class="coaches_index">
    <a href="#name1">Darnisha Augustin</a><br />
    <a href="#name2">Shruti Bala </a><br />
    <a href="#name3">Harrison Cobb </a><br />
    <a href="#name4">Savannah Fife </a><br />
    <a href="#name5">Chloe Ji</a><br />
    <a href="#name6">Peyton Johnston </a><br />
    <a href="#name7">Emily Kyaw</a><br />
    <a href="name8">Hanyang Li (Harry) </a><br />   
    <a href="#name9">Maria Rahmouni</a><br />
    <a href="#name10">Samira Samadi </a><br />
    <a href="#name11">Bel Ullman</a><br />
    <a href="#name12">Lauren Victory </a><br />
    <a href="#name13">Gabriella Watson </a><br />
    <a href="#name14">Shuwen Zhan</a><br />
    <a href="name15">Patrick Roney </a><br />
    <a href="name16">Emmanuel Yeboah</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">CONEX Team</div>
    </div>
    </div>
  </body>
</html>
