<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	
    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/ChristinaSherpa_1.jpg?raw=true"
    alt="Christina SherpaJPG.jpg"  /></div>
    <div class="coach_name left">Christina Sherpa</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science and Statistical & Data Sciences</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/4259923275">https://smith.zoom.us/j/4259<br />923275</a></div>
    <div class="coach_college"><span class="coach_ital">Queens, NY</span></div>
    </div>
    <div class="coach_bio">Christina Sherpa is a rising sophomore who grew up in Nepal but now lives in Queens, NY. She's also Posse Scholar on campus and is planning on double majoring in Computer Science and Statistical & Data Sciences. At Smith, she works at the computer store, is a board member of EKTA, the south asian student association on campus. In addition, she's also a gold key(tour guide) so feel free to ask her any questions. She personally struggles with Math, so she's excited to be a tutor for ONEXSS this summer!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/SuanyBarahona_1.jpg?raw=true"
    alt="Suany Barahona.jpg"  /></div>
    <div class="coach_name left">Suany Barahona</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Math and Sociology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/7749469437">https://smith.zoom.us/j/7749<br />469437</a></div>
    <div class="coach_college"><span class="coach_ital">Manhattan, NY</span></div>
    </div>
    <div class="coach_bio">Suany Barahona is a rising sophomore and an intended Math Major and Sociology Minor from Manhattan, NYC. She loves to hear music, play around with makeup, and drink coffee! If she is not in class you can most likely find her in the campus center which is her favorite place to get work done. She is super excited to meet the upcoming first years and support them on their transition from high school to college!</div>
    </div>
	
	<div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/AboniRosemond_1.jpg?raw=true"
    alt="Aboni Rosemond.JPG"  /></div>
    <div class="coach_name left">Aboni Rosemond</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">French</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/8841943683">https://smith.zoom.us/j/8841<br />943683</a></div>
    <div class="coach_college"><span class="coach_ital"><br />Georgia</span></div>
    </div>
    <div class="coach_bio">Aboni Rosemond is a rising senior from Georgia, studying French and following the Pre-Med
track. She works as a librarian, Smith College tour guide, physics teaching assistant, and is part
of many clubs on campus. If she isn’t on campus then she’s hanging out at Miss Saigon, Vivi’s,
or Share Cafe. She loves listening to music and watching movies with friends. She is excited
about being part of ONEXSS this year and is looking forward to getting to know you all!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/QuintonCeluzza_1.jpg?raw=true"
    alt="Quinton ONEXSS Headshot.jpg"  /></div>
    <div class="coach_name left">Quinton Celuzza</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Biology and Chemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/3098951100">https://smith.zoom.us/j/3098<br />951100</a></div>
    <div class="coach_college"><span class="coach_ital">Central Massachusetts</span></div>
    </div>
    <div class="coach_bio">Quinton Celuzza is a rising senior from central MA, studying biology and chemistry. At Smith, he works as a bio tutor, department liaison, and is in the Barresi lab. In his free time, Quinton loves knitting and going to LimeRed. Quinton loves working with new students and is excited to help incoming first years feel ready to transition into college and succeed at Smith.</div>
    </div>
    
	<div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/KarenaGarcia_1.jpg?raw=true"
    alt="Karena Garcia.jpg"  /></div>
    <div class="coach_name left">Karena Garcia</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/9149526488">https://smith.zoom.us/j/9149<br />526488</a></div>
    <div class="coach_college"><span class="coach_ital">Tucson, Arizona</span></div>
    </div>
    <div class="coach_bio">Karena Garcia is from Tucson, Arizona and is a rising Senior and an engineering major. She is a member of the cross country, basketball, and track team at Smith, so when you need to find her, she will most likely be in the gym. She loves the outdoors, learning, and listening to all kinds of music. She is really looking forward to being an ONEXSS coach again this year because last year was so much fun! She believes this will be a great step in easing the transition from the high school to college level, and is excited to be part of it!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/RachelClendenning_1.jpg?raw=true"
    alt="Rachel Clendenning.jpg"  /></div>
    <div class="coach_name left">Rachel Clendenning</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Math and Landscape Studies</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/8435288272">https://smith.zoom.us/j/8435<br />288272</a></div>
    <div class="coach_college"><span class="coach_ital">Chicago, Illinois</span></div>
    </div>
    <div class="coach_bio">Rachel Clendenning is a rising junior Mathematics Major and Landscape Studies Minor from
Chicago, Illinois. At Smith, she works as a Math TA and is a member of the Smith Rowing
Team. She loves cycling, hiking, reading, and listening to music. She knows how to drive a
tractor but doesn’t often get the opportunity to use that skill. She also loves math and is excited
to do math with you and get to know you all through ONEXSS!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/MadisonGruneiro_1.jpg?raw=true"
    alt="MadisonGruneiro_1.jpg"  /></div>
    <div class="coach_name left">Madison Gruneiro (Maddi)</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Math and Education</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/2859509659">https://smith.zoom.us/j/2859<br />509659</a></div>
    <div class="coach_college"><span class="coach_ital">Springfield/ MA</span></div>
    </div>
    <div class="coach_bio">Madison Gruneiro (Maddi) is a rising senior from Springfield, MA studying mathematics with a concentration in statistics and a minor in education. She is hoping to pursue a career in actuarial science. She is on the cheerleading team at Smith and works at Herrell's downtown. In her free time, Maddi likes to workout at the gym, chill with friends, or watch The Office on Netflix. She is excited to be a part of ONEXXS this year to share experiences and help incoming students transition into Smith, especially during this uneasy time. </div>
    </div>
    
    <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/MollySwope_1.jpg?raw=true"
    alt="Molly Swope.JPG"  /></div>
    <div class="coach_name left">Molly Swope</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://trinity.zoom.us/j/3152040635">https://smith.zoom.us/j/2050<br />396525</a></div>
    <div class="coach_college"><span class="coach_ital">Harrisville, New Hampshire</span></div>
    </div>
    <div class="coach_bio">Molly Swope is a rising junior and engineering major from Harrisville, New Hampshire. At Smith, she works as a physics tutor. She loves spending time outside, cooking and dancing. In her free time at Smith you can find her walking in the woods or sitting outside and drawing. She is excited to be a part of ONEXSS and is looking forward to helping incoming first years with their transition to life at Smith!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name9" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/JoyceLee_1.jpg?raw=true"
    alt="Joyce Lee.jpg"  /></div>
    <div class="coach_name left">Joyce Lee</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/8687725908">https://smith.zoom.us/j/8687<br />725908</a></div>
    <div class="coach_college"><span class="coach_ital">Portland, Oregon</span></div>
    </div>
    <div class="coach_bio">Joyce Lee is a rising sophomore and declared engineering major. She lives in Portland, Oregon and loves its rainy weather and abundant supply of trees. During her free time at Smith, she enjoys playing piano and exploring the forests and towns. She’s also part of the tennis team and will be found at the courts eating fruit snacks, dancing with the team, and playing some competitive matches. Joyce is excited to meet more Smithies through ONEXSS and get them hyped about the upcoming semester!</div>
    </div>
    
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
	
    <div class="coaches_index">
    <a href="#name1">Christina Sherpa</a><br />
    <a href="#name2">Suany Barahona</a><br />
    <a href="#name3">Aboni Rosemond</a><br />
	<a href="#name4">Quinton Celuzza</a><br />
	<a href="#name5">Karena Garcia</a><br />
	<a href="#name6">Rachel Clendenning</a><br />
	<a href="#name7">Madison Gruneiro (Maddi)</a><br />
	<a href="#name8">Molly Swope</a><br />
	<a href="#name9">Joyce Lee</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_whiteteam">Smith</div>
    </div>
    </div>
  </body>
</html>
