<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	

    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/81pyBkm.jpg"
    alt="ConnorAmelung.jpg"  /></div>
    <div class="coach_name left">Harrison Cobb (He/Him)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Statistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7455744620">https://virginia.zoom.us/j/74557<br />44620</a></div>
    <div class="coach_college"><span class="coach_ital">Newport News, VA; Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hello! My name is Harrison Cobb and I’m from Newport News, Virginia (near Virginia Beach). I’m a rising second year and a statistics major with a math concentration. For fun I love hanging out with friends and playing literally any sport. A fun fact about myself is I play bassoon, a double reed instrument in band. I played soccer, basketball, and lacrosse in high school, so I’m always trying to get a pickup game of something going to stay entertained.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/lPcKb2g.jpg"
    alt="JasmanetChahal.jpg"  /></div>
    <div class="coach_name left">Moronkeji Fapohuda (She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9857417800">https://virginia.zoom.us/j/98574<br />17800</a></div>
    <div class="coach_college"><span class="coach_ital">Virginia; Class of 2021</span></div>
    </div>
    <div class="coach_bio">Hey y'all! My name is Moronkeji (Keji) Fapohunda, and I am a recent graduate of UVA (I just graduated this spring!). I studied biology in undergrad, and I'm now pursuing a Masters of Public Health degree in my home state, all the while applying for medical school! While school is important to me without a doubt, I also believe that it's important do the other things I love, such as drawing, writing, reading, and watching anime!
I'm super excited to meet y'all and see y'all's progress this summer! See y'all soon! </div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/ac0HFOz.jpg"
    alt="AshleyEwing.jpg" width="300" height="375" /></div>
    <div class="coach_name left">Abigail Harrell (She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Chemistry and English</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2261039114">https://virginia.zoom.us/j/2261<br />039114</a></div>
    <div class="coach_college"><span class="coach_ital">Texas; Class of 2022</span></div>
    </div>
    <div class="coach_bio">Hello! I am Abby, a rising fourth year at UVA from the great state of Texas! I am majoring in Chemistry and English with plans on going to graduate school. I have done research in the English department with looking for artifacts of extinct animals in UVA’s special collections library, and I am currently doing research in the Biomedical Engineering and Chemical Engineering departments. I recently took my EMT certification test and am volunteering as an EMT this summer. My favorite part about being in Charlottesville is all of the great food! I would totally recommend trying out all that there is!</div>
    </div>
	

    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/bbJZUvI.jpg"
    alt="AshleyHirt.jpg"  /></div>
    <div class="coach_name left">Peyton Johnston (She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href=" https://virginia.zoom.us/j/5860325408">https://virginia.zoom.us/j/58603<br />25408</a></div>
    <div class="coach_college"><span class="coach_ital">Seattle, WA; Class of 2023</span></div>
    </div>
    <div class="coach_bio">Hi, I’m Peyton Johnston. I was born and raised in Seattle, Washington. I was attracted to UVA because it is a family school. I am a rising third year majoring in biomedical engineering with a pre-med track. Engineering is a perfect fit for me because I love science and math, but don’t really enjoy writing. I am involved in the Greek organization Pi Beta Phi on grounds. I enjoy going on hikes, reading, and attending UVA sporting events, especially basketball.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/yeckfuJ.jpg"
    alt="KylaJames.jpg"  /></div>
    <div class="coach_name left">Yeongju Lee (She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2209098033">https://virginia.zoom.us/j/22090<br />98033</a></div>
    <div class="coach_college"><span class="coach_ital">Salisbury, MD; Class of 2024</span></div>
    </div>
    <div class="coach_bio">Yeongju Lee is a second year student at UVA. She is majoring in Biomedical Engineering on a Pre-Med track. She was born in South Korea, but she identifies her hometown, Salisbury, Maryland. She loves cooking, playing piano, and hiking.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/4Q0GszW.jpg"
    alt="AariaMalhotra.jpg"  /></div>
    <div class="coach_name left">Hangyu (Allen) Li (He/Him)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematics and Economics </div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/5720420217">https://virginia.zoom.us/j/57204<br />20217</a></div>
    <div class="coach_college"><span class="coach_ital">Virginia; Class of 2022</span></div>
    </div>
    <div class="coach_bio">My name is Allen Li and I am a rising forth-year student majoring in mathematics and economics. The reason for me to major in those subjects is because they have many real-world applications. College life is not only about academics. In my free time, I enjoy going to the gym and I spend a great amount of time experiencing nature. As an international student, I was impressed by the number of people that had helped me since I set foot on grounds. In return for their kindness, I became a CONEX coach and I am here to help.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/66ZZnj0.jpg"
    alt="AdamMcGill.jpg" /></div>
    <div class="coach_name left">Isabel Puchner (She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><strong>Major:</strong></div>
    <div class="coach_major">Physics and Economics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8767640397">https://virginia.zoom.us/j/87676<br />40397</a></div>
    <div class="coach_college"><span class="coach_ital">Milwaukee, WI; Class of 2023</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Isabel Puchner and I am a rising third year from Milwaukee, Wisconsin! I'm studying Physics and Economics (I like to joke that I just picked from a hat), and my go-to fun fact is that I'm a British citizen. I enjoy spending time outside, hanging out with friends, and trying things I'm not particularly good at (some examples include golf and the ukulele). In a pre-/post-pandemic world, I also love concerts (especially country), sports games (go Bucks!!), and traveling. Can't wait to meet you all!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/jJ5vauY.jpg"
    alt="SaloniMittal.jpg" /></div>
    <div class="coach_name left">Katherine Pufko (She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4064398683">https://virginia.zoom.us/j/40643<br />98683</a></div>
    <div class="coach_college"><span class="coach_ital">Roanoke, VA; Class of 2022 </span></div>
    </div>
    <div class="coach_bio">My name is Kate Pufko and I am from Roanoke, Virginia. I am a rising fourth year student studying Biology and Global Public Health with hopes of going to grad school in the next year to be a Physician Assistant (PA). My life goals include: adopting numerous dogs, flipping a house, and perfecting my chocolate chip cookie recipe. I couldn’t live without my planner, bagels, and my Comfy. On Grounds, I am involved in church life, CHAARG (a sorority-like workout group for college women), and volunteering through Madison House Medical Services. I also have a BLAST working as a Rehab Technician at a nursing home. I’m looking forward to meeting everyone and can’t wait to see what this summer holds!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name9" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/zMXRo37.jpg"
    alt="SandraParedes.jpg" /></div>
    <div class="coach_name left">Shuwen Zhan (She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology and Math</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4334785027">https://virginia.zoom.us/j/43347<br />85027</a></div>
    <div class="coach_college"><span class="coach_ital">Fuzhou; Class of 2023</span></div>
    </div>
    <div class="coach_bio">My name is Shuwen. I am a rising third-year student with a double major in biology and math. I was born in Fuzhou, a subtropical city on the Pacific coast, and I can speak its dialect that resembles the ancient Mandarin (like 2000 years ago!). Here is another fun fact about me on language learning: I started learning German two years ago and still cannot pronounce the "r". In my free time, I enjoy serving as a Madison House volunteer on a horse farm, because it is a wonderful opportunity to spend time with adorable horses, cats, dogs, goats, and chickens.</div>
    </div>
    
    
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
	
    <div class="coaches_index">

    <a href="#name1">Harrison Cobb</a><br />
    <a href="#name2">Moronkeji Fapohuda</a><br />
    <a href="#name3">Abigail Harrell</a><br />
    <a href="#name4">Peyton Johnston</a><br />
    <a href="#name5">Yeongju Lee</a><br />
    <a href="#name6">Hangyu (Allen) Li</a><br />
    <a href="#name7">Isabel Puchner</a><br />
    <a href="#name8">Katherine Pufko</a><br />
    <a href="#name9">Shuwen Zhan</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">Orange Team</div>
    </div>
    </div>
  </body>
</html>