<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	
    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/Christina SherpaJPG?raw=true"
    alt="david_izquierdo.jpg"  /></div>
    <div class="coach_name left">Christina Sherpa</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science and Statistical & Data Sciences</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/4259923275">https://smith.zoom.us/j/4259<br />923275</a></div>
    <div class="coach_college"><span class="coach_ital">Queens, NY</span></div>
    </div>
    <div class="coach_bio">Christina Sherpa is a rising sophomore who grew up in Nepal but now lives in Queens, NY. She's also Posse Scholar on campus and is planning on double majoring in Computer Science and Statistical & Data Sciences. At Smith, she works at the computer store, is a board member of EKTA, the south asian student association on campus. In addition, she's also a gold key(tour guide) so feel free to ask her any questions. She personally struggles with Math, so she's excited to be a tutor for ONEXSS this summer!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/Suany Barahona.jpg?raw=true"
    alt="emma_kramer.jpg"  /></div>
    <div class="coach_name left">Suany Barahona</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Math and Sociology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/7749469437">https://smith.zoom.us/j/7749<br />469437</a></div>
    <div class="coach_college"><span class="coach_ital">Manhattan, NY</span></div>
    </div>
    <div class="coach_bio">Suany Barahona is a rising sophomore and an intended Math Major and Sociology Minor from Manhattan, NYC. She loves to hear music, play around with makeup, and drink coffee! If she is not in class you can most likely find her in the campus center which is her favorite place to get work done. She is super excited to meet the upcoming first years and support them on their transition from high school to college!</div>
    </div>
	
	<div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/Aboni Rosemond.JPG?raw=true"
    alt="faith_luensmann.jpg"  /></div>
    <div class="coach_name left">Aboni Rosemond</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">French</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/8841943683">https://smith.zoom.us/j/8841<br />943683</a></div>
    <div class="coach_college"><span class="coach_ital">Georgia</span></div>
    </div>
    <div class="coach_bio">Aboni Rosemond is a rising senior from Georgia, studying French and following the Pre-Med
track. She works as a librarian, Smith College tour guide, physics teaching assistant, and is part
of many clubs on campus. If she isn’t on campus then she’s hanging out at Miss Saigon, Vivi’s,
or Share Cafe. She loves listening to music and watching movies with friends. She is excited
about being part of ONEXSS this year and is looking forward to getting to know you all!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/Quinton ONEXSS Headshot?raw=true"
    alt="sarah_peacock.jpg"  /></div>
    <div class="coach_name left">Quinton Celuzza</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Biology and Chemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/3098951100">https://smith.zoom.us/j/3098<br />951100</a></div>
    <div class="coach_college"><span class="coach_ital">Central Massachusetts</span></div>
    </div>
    <div class="coach_bio">Quinton Celuzza is a rising senior from central MA, studying biology and chemistry. At Smith, he works as a bio tutor, department liaison, and is in the Barresi lab. In his free time, Quinton loves knitting and going to LimeRed. Quinton loves working with new students and is excited to help incoming first years feel ready to transition into college and succeed at Smith.</div>
    </div>
    
	<div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/ Karena Garcia?raw=true"
    alt="sarah_peacock.jpg"  /></div>
    <div class="coach_name left">Karena Garcia</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/9149526488">https://smith.zoom.us/j/9149<br />526488</a></div>
    <div class="coach_college"><span class="coach_ital">Tucson, Arizona</span></div>
    </div>
    <div class="coach_bio">Karena Garcia is from Tucson, Arizona and is a rising Senior and an engineering major. She is a member of the cross country, basketball, and track team at Smith, so when you need to find her, she will most likely be in the gym. She loves the outdoors, learning, and listening to all kinds of music. She is really looking forward to being an ONEXSS coach again this year because last year was so much fun! She believes this will be a great step in easing the transition from the high school to college level, and is excited to be part of it!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/Rachel Clendenning?raw=true"
    alt="sarah_peacock.jpg"  /></div>
    <div class="coach_name left">Rachel Clendenning</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Math and Landscape Studies</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/8435288272">https://smith.zoom.us/j/8435<br />288272</a></div>
    <div class="coach_college"><span class="coach_ital">Chicago, Illinois</span></div>
    </div>
    <div class="coach_bio">Rachel Clendenning is a rising junior Mathematics Major and Landscape Studies Minor from
Chicago, Illinois. At Smith, she works as a Math TA and is a member of the Smith Rowing
Team. She loves cycling, hiking, reading, and listening to music. She knows how to drive a
tractor but doesn’t often get the opportunity to use that skill. She also loves math and is excited
to do math with you and get to know you all through ONEXSS!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/sarah_peacock.jpg?raw=true"
    alt="sarah_peacock.jpg"  /></div>
    <div class="coach_name left">Sarah Peacock</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Neuroscience and Music</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://trinity.zoom.us/j/3152040635">https://trinity.zoom.us/j/3152<br />040635<br />Password: QBIT2020</a></div>
    <div class="coach_college"><span class="coach_ital">Beeville, Texas; Class of 2022</span></div>
    </div>
    <div class="coach_bio">Sarah Peacock (‘22) is a rising junior from Beeville, Texas. She is a neuroscience major and music minor. Sarah is a soprano in the Trinity Chamber Singers, a member of Dr. Matava’s vocal studio, a peer mentor for Bridge Math students, and was a peer tutor for the Science Fiction FYE. She has served on the officer boards for the National Society of Collegiate Scholars (NSCS) and the national academic honor society Alpha Lambda Delta, and she is also a member of the national leadership society Omicron Delta Kappa. Sarah enjoys writing, playing piano, and Broadway musicals. As a returning coach, Sarah is looking forward to working with the new QBIT students this year!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/sarah_peacock.jpg?raw=true"
    alt="sarah_peacock.jpg"  /></div>
    <div class="coach_name left">Sarah Peacock</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Neuroscience and Music</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://trinity.zoom.us/j/3152040635">https://trinity.zoom.us/j/3152<br />040635<br />Password: QBIT2020</a></div>
    <div class="coach_college"><span class="coach_ital">Beeville, Texas; Class of 2022</span></div>
    </div>
    <div class="coach_bio">Sarah Peacock (‘22) is a rising junior from Beeville, Texas. She is a neuroscience major and music minor. Sarah is a soprano in the Trinity Chamber Singers, a member of Dr. Matava’s vocal studio, a peer mentor for Bridge Math students, and was a peer tutor for the Science Fiction FYE. She has served on the officer boards for the National Society of Collegiate Scholars (NSCS) and the national academic honor society Alpha Lambda Delta, and she is also a member of the national leadership society Omicron Delta Kappa. Sarah enjoys writing, playing piano, and Broadway musicals. As a returning coach, Sarah is looking forward to working with the new QBIT students this year!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name9" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/sarah_peacock.jpg?raw=true"
    alt="sarah_peacock.jpg"  /></div>
    <div class="coach_name left">Sarah Peacock</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Neuroscience and Music</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://trinity.zoom.us/j/3152040635">https://trinity.zoom.us/j/3152<br />040635<br />Password: QBIT2020</a></div>
    <div class="coach_college"><span class="coach_ital">Beeville, Texas; Class of 2022</span></div>
    </div>
    <div class="coach_bio">Sarah Peacock (‘22) is a rising junior from Beeville, Texas. She is a neuroscience major and music minor. Sarah is a soprano in the Trinity Chamber Singers, a member of Dr. Matava’s vocal studio, a peer mentor for Bridge Math students, and was a peer tutor for the Science Fiction FYE. She has served on the officer boards for the National Society of Collegiate Scholars (NSCS) and the national academic honor society Alpha Lambda Delta, and she is also a member of the national leadership society Omicron Delta Kappa. Sarah enjoys writing, playing piano, and Broadway musicals. As a returning coach, Sarah is looking forward to working with the new QBIT students this year!</div>
    </div>
    
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
	
    <div class="coaches_index">
    <a href="#name1">David Izquierdo</a><br />
    <a href="#name2">Emma Kramer</a><br />
    <a href="#name3">Faith Luensmann</a><br />
	<a href="#name4">Sarah Peacock</a><br />
	<a href="#name5">Sarah Peacock</a><br />
	<a href="#name6">Sarah Peacock</a><br />
	<a href="#name7">Sarah Peacock</a><br />
	<a href="#name8">Sarah Peacock</a><br />
	<a href="#name9">Sarah Peacock</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_whiteteam">Smith</div>
    </div>
    </div>
  </body>
</html>
