<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">


	
   
	
    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/2PIeoKV.png"
    alt="Katie_Newton.png" width="300" height="375" /></div>
    <div class="coach_name left">Katie Newton</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/5935835817?pwd=M0wvOEowbWRHaFcvdG9TdUl4NXdsUT09">https://duke.zoom.us/j/5935<br />835817</a></div>
    <div class="coach_college"><span class="coach_ital">Class of 2024</span></div>
    </div>
    <div class="coach_bio">Katie is a rising Junior from Denver, Colorado studying Biology. She has been involved with DukeLIFE, Project WILD, Duke QuestBridge chapter, Club Swim, research with faculty, and SLGs on campus, and she has loved Duke so far! Katie plans to become a marine mammal trainer in the future, with the goals of rehabilitation, entertainment, and general care.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/kYiEFIv.png"
    alt="Daisja_Honorable.png"  /></div>
    <div class="coach_name left">Daisja Honorable</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/my/zoomwdaisja">https://duke.zoom.us/my/zoom<br />wdaisja</a></div>
    <div class="coach_college"><span class="coach_ital">Class of 2024</span></div>
    </div>
    <div class="coach_bio">Daisja Honorable is a rising junior in the 2022-2023 school year. She is majoring in Neuroscience on the pre-med track with minors in Chemistry and Spanish. She is from outside of Chicago, IL and has two dogs at home that she loves spending time with. Daisja loves all things science-related, but some of her other interests include music and baking. She is involved with a couple of mentoring programs here at Duke, and is one of the co-directors for the Project Lead program for incoming first-year students.</div>
    </div>
	
 
	
	<div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/SMJNIx5.png"
    alt="Eric_Ham.png"  /></div>
    <div class="coach_name left">Erica Ham</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Environmental/ Biogeochemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/my/ericaham">https://duke.zoom.us/my/erica<br />ham</a></div>
    <div class="coach_college"><span class="coach_ital">Class of 2024</span></div>
    </div>
    <div class="coach_bio">Erica is a Duke Kunshan University student graduating in 2024, but due to COVID she has been spending the past 2 years of her college experience at Duke! She loves nature, and her major is Environmental science/Biogeochemistry. Some of her hobbies include volleyball and clarinet; she is in the Duke University Marching Band and recently played in the pit orchestra for a musical produced by Duke's Hoof'n'Horn. Please reach out to Erica if you'd like to know more about music, sports, studies, and really anything at Duke! </div>
    </div>
	


    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/UL9uoEj.png"
    alt="Lucy_Zhang"  /></div>
    <div class="coach_name left">Lucy Zhang</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/8182128237">https://duke.zoom.us/j/8182<br />128237</a></div>
    <div class="coach_college"><span class="coach_ital">Class of 2023</span></div>
    </div>
    <div class="coach_bio">Lucy Zhang is a rising junior in Biomedical Engineering who is passionate about Biotechnology. At Duke, she works on biomaterial research for stroke recovery and is also the lead for a project to develop algae-based batteries. Outside of school, she enjoys cooking and crochet. </div>
    </div>

	
    <div class="coaches_index">
    <a href="#name1">Katie Newton </a><br />
    <a href="#name2">Daisja Honorable </a><br />
    <a href="#name3">Erica Ham</a><br />
    <a href="name4">Lucy Zhang</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">ASCEND Team</div>
    </div>
    </div>
  </body>
</html>
