<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">


    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/angel.jpg?raw=true"
    alt="ConnorAmelung.jpg"  /></div>
    <div class="coach_name left">Angel Swain </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">History</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4750352774">https://virginia.zoom.us/j/47503<br />52774</a></div>
    <div class="coach_college"><span class="coach_ital">Virginia; Class of 2022</span></div>
    </div>
    <div class="coach_bio">Hi! I am Angel Swain, a rising third year in the College, majoring in history as a distinguished major (although, I often find myself pondering mathematics). I was born, raised, and have spent my entire life in Virginia which is why I developed such a passion for traveling and cultural immersion early on. My study abroad adventures include Australia, Wales, Guatemala, the Caribbean, and many more places across the globe. Collecting memories and postcards, I always find my way back on grounds, where you’ll find me in Nau Hall, Alderman library, or Lambeth commons, either reading, writing, or studying...the usual :) In addition to that, I am a facility supervisor at the University’s Memorial Gym and a Teacher’s Assistant in the Engagements Labs. Whether near or far, I enjoy poetry, walking through cities, eating great food(!), long car rides, and helping others. I can’t wait to assist you on your journey to UVA!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/neha.jpg?raw=true"
    alt="JasmanetChahal.jpg"  /></div>
    <div class="coach_name left">Neha Shah</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/5830323303">https://virginia.zoom.us/j/58303<br />23303</a></div>
    <div class="coach_college"><span class="coach_ital">Charlottesville VA; Class of 2022</span></div>
    </div>
    <div class="coach_bio">I am Neha Shah and I am currently a rising third year! I am majoring in Biology with a minor in Health and Wellbeing on the pre-med track. I am from Charlottesville, but I have lived in so many places including Nepal, New York City and a small town in Indiana. My favorite hobbies include hiking, stargazing (all things outdoors!!) and reading. You can always count on me for some good book recommendations! </div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/julia.jpg?raw=true"
    alt="AshleyEwing.jpg" width="300" height="375" /></div>
    <div class="coach_name left">Julia Harris</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Statistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2784453531?pwd=VmxNWU5GY0J1UmpVTWcvbFBHd1NVZz09">https://virginia.zoom.us/j/27844<br />53531?pwd=VmxNWU5GY0J1UmpVTWcvbFBHd1NVZz09</a></div>
    <div class="coach_college"><span class="coach_ital">Colorado Springs, CO; Class of 2021</span></div>
    </div>
    <div class="coach_bio">Hi all! I’m Julia, a rising fourth year from Colorado Springs, Colorado and am majoring in Statistics with a minor in French. Some of my favorite activities to do revolving around UVA and Charlottesville are going to basketball games, getting tacos from the taco truck, exploring the farmers markets, and trying out all the different cafes (I consider myself to be quite the hot chocolate connoisseur). Outside of UVA, my favorite things to do are read, cook, hang out with friends, and travel! There are so many places I still want to explore, but hands down my favorite place is Edinburgh, Scotland. I studied abroad in Edinburgh and aim to someday go back and live there for a while. The top item on my bucket list is to ride on the luggage carousel at the airport, but I’ve always been too chicken to try—I might have to wait until I’m old enough to blame senility. I look forward to meeting you all and working with you this summer!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/nate.jpg?raw=true"
    alt="AshleyHirt.jpg"  /></div>
    <div class="coach_name left">Nathaniel Donkoh-Moore</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Systems Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7246866748">https://virginia.zoom.us/j/72468<br />66748</a></div>
    <div class="coach_college"><span class="coach_ital">Dumfries VA; Class of 2020</span></div>
    </div>
    <div class="coach_bio">I am Nathaniel Donkoh-Moore, usually go by Nate. I'm a 4th Year, from Dumfries, VA, studying Systems Engineering. I love to listen to music, and volunteer for all kinds of services. I look forward to meeting everyone!! Stay safe and have tons of fun!!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/lorin.jpg?raw=true"
    alt="KylaJames.jpg"  /></div>
    <div class="coach_name left">Lorin Bruno</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Civil Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9520378782">https://virginia.zoom.us/j/95203<br />78782</a></div>
    <div class="coach_college"><span class="coach_ital">Bronx, NY; Class of 2022</span></div>
    </div>
    <div class="coach_bio">I’m Lorin Bruno. I’m from the Bronx, NY and I’m a rising third-year in the School of
Engineering and Applied Science (E-school). I’m majoring in Civil Engineering with a focus in
Environmental Engineering. I’m super passionate about the environment, especially water
quality. Aside from academics, I’m involved in the Society of Hispanic Professional Engineers
(SHPE) and the Latinx Student Alliance (LSA). Now that the semester has ended, I spend my
time FaceTiming my friends, and watching YouTube or Netflix (The Office, Parks &amp; Rec, etc.).
Since I have more time during the summer, I’ve been trying to cook new things. Fun fact, I
recently transitioned to a vegan diet so I’ve been learning new recipes. Enough about me, I can’t
wait to meet and get to know you all!
</div>
    </div>
	
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/haley.jpg?raw=true"
    alt="AariaMalhotra.jpg"  /></div>
    <div class="coach_name left">Haley McDonald</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Cognitive Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4140889624">https://virginia.zoom.us/j/4140<br />889624</a></div>
    <div class="coach_college"><span class="coach_ital">Long Island, New York; Class of 2020</span></div>
    </div>
    <div class="coach_bio">My name is Haley McDonald and I recently graduated from UVA with a degree in cognitive science. I am currently a student in Columbia University's Masters Direct Entry/Doctorate of Nursing Practice program. I hope to not only be a healthcare provider one day, but also have a career in teaching 
	and research. On grounds, I was involved in my own independent study. I also worked at the Darden Graduate School of Business as a research 
	assistant and at Roots Natural Kitchen on the corner. My hometown is Long Island, New York. There I like to go swimming at the beach, ski, run and do 
	hot yoga.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/devan.jpg?raw=true"
    alt="AdamMcGill.jpg" /></div>
    <div class="coach_name left">Devan Bose</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><strong>Major:</strong></div>
    <div class="coach_major">Commerce and Statistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9596388365">https://virginia.zoom.us/j/95963<br />88365</a></div>
    <div class="coach_college"><span class="coach_ital">Philadelphia, PA; Class of 2022</span></div>
    </div>
    <div class="coach_bio">Hi everyone!  My name is Devan Bose, and I am a rising third year at UVA.  I am from Philadelphia, PA (go Eagles!) and am studying Commerce and Statistics.  On Grounds, I am a teaching assistant for CS 1110 (which I highly recommend taking!), a ULink peer advisor, the president of the Sales and Trading Group at McIntire, and play IM soccer.  During quarantine, I have gotten into a puzzle youtube channel called Cracking the Cryptic and have also recently finished watching The Last Dance and the new season of Ozark.  A fun fact about me is that I have a pet betta fish named after NBA player Jimmy Butler.  I am excited to work with and get to know you all this summer, and if any of that sounds at all interesting, please feel free to reach out as I would love to chat!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/bel.jpg?raw=true"
    alt="SaloniMittal.jpg" /></div>
    <div class="coach_name left">Isabel (Bel) Ullman</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/5919992859">https://virginia.zoom.us/j/59199<br />92859</a></div>
    <div class="coach_college"><span class="coach_ital">New York City, NY; Class of 2022 </span></div>
    </div>
    <div class="coach_bio">Bel is a rising third year from New York City. She is majoring in Computer Science through the College of Arts and Sciences. She spends most of her free time hiking, skiing, running, or dragging friends to Charlottesville's endless coffee shops.</div>
    </div>
    
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
	
    <div class="coaches_index">
    <a href="#name1">Angel Swain</a><br />
    <a href="#name2">Neha Shah</a><br />
    <a href="#name3">Julia Harris</a><br />
    <a href="#name4">Nathaniel Donkoh-Moore</a><br />
    <a href="#name5">Lorin Bruno</a><br />
    <a href="#name6">Haley McDonald</a><br />
    <a href="#name7">Devan Bose</a><br />
    <a href="#name8">Isabel Ullman</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">White Team</div>
    </div>
    </div>
  </body>
</html>