<html>
	<head>
		<meta charset="UTF-8">
		<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>

	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	
   <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/VIxtvEH.jpg"
    alt="Darnisha.jpg"  /></div>
    <div class="coach_name left">Darnisha Augustin(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology & Sociology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/3897269874">https://virginia.zoom.us/j/38972<br />69874 </a></div>
    <div class="coach_college"><span class="coach_ital"> West Palm Beach, Florida. Class of 2024</span></div>
    </div>
    <div class="coach_bio">I am Darnisha Augustin, a rising third-year student at the University of Virginia from West Palm Beach, Florida. I was born and raised in South Florida and decided to make the move to Virginia to attend UVa in person. I am majoring in Biology and Sociology on the pre-PA track. After my time at the University of Virginia, I will apply to the Master’s in Public Health program at the University of Virginia Medical School and thereafter, attend an accredited Physician Associate program and live out a career as a Physician Associate. 
A fun fact about me is that I have danced at the halftime shows for both the Miami Dolphins and Miami Heat twice with my competitive cheerleading team. The experience was extremely rewarding and thrilling. It was great to meet some of the players and the cheerleaders as well.
Additionally, I like to do various activities in my free time such as jump roping and working out. At the moment I enjoy learning choreography as well as choreographing some dances for my afro-beats dance team at UVa. I find dancing to be an enjoyable outlet besides my schoolwork. It also comes with its health benefits which is a plus. Besides that, I also enjoy listening to music and reading. Those activities help calm me when life gets too hectic. </div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/fe2IyRn.jpg"
    alt="Samira.jpg"  /></div>
    <div class="coach_name left">Samira Samadi(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Cognitive Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7278007124">https://virginia.zoom.us/j/72780<br />07124</a></div>
    <div class="coach_college"><span class="coach_ital">Charlottesville, VA. Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hi everyone! My name is Samira Samadi, and I am a rising third year majoring in Cognitive Science. I am from Charlottesville, but am originally from Iran and lived in Turkey for a few years. I really enjoy hiking, finding new restaurants, and volunteering at different organizations. I am looking forward to meeting you all! </div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/Ixno5ji.jpg"
    alt="Gabriella.jpg"  /></div>
    <div class="coach_name left">Gabriella Amina Watson(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Chemistry </div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8862862630">https://virginia.zoom.us/j/88628<br />62630</a></div>
    <div class="coach_college"><span class="coach_ital">Chester, VA. Class of 2025</span></div>
    </div>
    <div class="coach_bio">Greetings everyone! My name is Gabriella Amina Watson and I am from Chester, VA which is 30 minutes south of Richmond. I am planning on majoring in Chemistry with the hopes of being a pharmacist by day and a fantasy author by night. On grounds, I work as an intern for the Ridley Scholarship Program at Alumni Hall. I am also involved in Flux Poetry and Spoken Word Club and just recently wrote and performed a comedy sketch at an open mic. I spend my spare time dancing, playing Dungeons and Dragons, watching Marvel movies, and working on my novel I plan to finish before I graduate. </div>
    </div>

   <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/oJxSKX2.jpg"
    alt="Emmanuel.jpg"  /></div>
    <div class="coach_name left">Emmanuel Yeboah(He/Him)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biochemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/6924853963">https://virginia.zoom.us/j/69248<br />53963</a></div>
    <div class="coach_college"><span class="coach_ital">Woodbridge, VA. Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hello! I'm Emmanuel, a rising third-year and a Biochem major. I don't really do much other than run, read and game. Im super excited to meet you this summer!   </div>
    </div>
	
     <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/TAwUHYg.jpg"
    alt="Savannah.jpg"  /></div>
    <div class="coach_name left">Savannah Fife(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7957351416">https://virginia.zoom.us/j/79573<br />51416</a></div>
    <div class="coach_college"><span class="coach_ital">Harrisonburg, Virginia. Class of 2025</span></div>
    </div>
    <div class="coach_bio">My name is Savannah Fife and I'm from Harrisonburg, Virginia. I am a rising second year at UVA and currently a math major. I enjoy traveling, hiking, and dancing. I love listening to music and am always up for talking about TV shows or analyzing the latest movies. I can't wait to get to know all of you!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/TEqHiZG.jpg"
    alt="Maria.jpg"  /></div>
    <div class="coach_name left">Maria Rahmouni(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9397392684">https://virginia.zoom.us/j/93973<br />92684</a></div>
    <div class="coach_college"><span class="coach_ital">New Cumberland, Pennsylvania. Class of 2025</span></div>
    </div>
    <div class="coach_bio">I am from New Cumberland, Pennsylvania. I like reading and writing, being outside, and playing volleyball!  </div>
    </div>
	
  
    
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
	
    <div class="coaches_index">
    <a href="#name1">Darnisha Augustin</a><br />
    <a href="#name2">Samira Samadi</a><br />
    <a href="#name3">Gabriella Amina Watson</a><br />
    <a href="#name4">Emmanuel Yeboah </a><br />
    <a href="#name5">Savannah Fife </a><br />
    <a href="#name6">Maria Rahmouni </a><br />
    
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">Blue Team</div>
    </div>
    </div>
  </body>
</html>