<html>

<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>

<body>
    <div class="user_content">
        <div class="onexys_styling coachoverride">

            <div class="coach_packet">
                <div id="name1" class="coach_header"></div>
                <div class="coach_photo"><img
                        src="https://i.imgur.com/WoHsIBR.png"
                        alt="david_izquierdo.jpg" /></div>
                <div class="coach_name left">Benjamin (Ben) Jeffers</div>
                <div class="coach_prelim">
                    <div class="coach_major_strong"><strong><br />Major:</strong></div>
                    <div class="coach_major">Mathematics</div>
                </div>
                <div class="coach_prelim">
                    <div class="coach_major_strong"><strong>Zoom:</strong></div>
                    <div class="coach_major"><a
                            href="https://trinity.zoom.us/j/97507539158">https://trinity.zoom.us/j/9750<br />7539158<br /></a></div>
                    <div class="coach_college"><span class="coach_ital">Portland, Oregon; Class of 2023</span></div>
                </div>
                <div class="coach_bio">Ben ('23) is a rising junior from Portland, Oregon. He studies math and plans to obtain his PhD in math and pursue a career as a research mathematician. On campus, Ben is involved in several research projects ranging from graph theory and geometric group theory to the mathematics of gerrymandering. Ben enjoys playing basketball and piano, as well as cooking, reading and working out. He is very excited to help QBIT students learn some new math!</div>
            </div>

            <div class="coach_packet">
                <div id="name2" class="coach_header"></div>
                <div class="coach_photo"><img
                        src="https://i.imgur.com/81TY4aT.png"
                        alt="emma_kramer.jpg" /></div>
                <div class="coach_name left">Emma Ross</div>
                <br />
                <div class="coach_prelim">
                    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
                    <div class="coach_major">Mathematics, Biology, and Spanish</div>
                </div>
                <div class="coach_prelim">
                    <div class="coach_major_strong"><strong>Zoom:</strong></div>
                    <div class="coach_major"><a
                            href="https://trinity.zoom.us/j/8172508975">https://trinity.zoom.us/j/817250<br />8975<br />Password:
                            yaymath</a></div>
                    <div class="coach_college"><span class="coach_ital">Kansas City, Kansas; Class of 2023</span></div>
                </div>
                <div class="coach_bio">Emma Ross ('23) is a rising Junior from Kansas City, Kansas (Go Chiefs!). She studies a combination of Math, Biology, and Spanish, and plans to pursue a career in epidemiology. On campus, Emma is a member of the track and field team in which she competes in the throws and pole vault. She also works as a Residential Assistant (RA) in the first-year area, so she might end up being your RA in the Fall! Outside of school and work, Emma enjoys spending time outside, lifting, discovering new music, and eating frozen yogurt. Emma is excited to work through QBIT with you this summer and then welcome you to campus in the Fall!</div>
            </div>

            <div class="coach_packet">
                <div id="name3" class="coach_header"></div>
                <div class="coach_photo"><img
                        src="https://i.imgur.com/k3jWabG.png"
                        alt="faith_luensmann.jpg" /></div>
                <div class="coach_name left">Nicholas Demonteverde</div>
                <br />
                <div class="coach_prelim">
                    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
                    <div class="coach_major">Mathematics and Economics</div>
                </div>
                <div class="coach_prelim">
                    <div class="coach_major_strong"><strong>Zoom:</strong></div>
                    <div class="coach_major"><a
                            href="https://trinity.zoom.us/j/9754563209">https://trinity.zoom.us/j/9754<br />563209<br /></a></div>
                    <div class="coach_college"><span class="coach_ital">Glendale, California; Class of 2022</span></div>
                </div>
                <div class="coach_bio">Nicholas ('22) is a rising senior from Glendale, California. His academic focus is a combination of mathematics and economics, with a particular interest in statistical analysis. Nicholas has been involved with projects regarding bacterial motility modeling and developing sports rating systems. He is also a captain for the ultimate frisbee club team on campus and a former residential assistant for the first-year area. Apart from school activities Nicholas loves trying new food, reading manga, and speedrunning video games. He is eager to meet everyone, and hopes that this summer QBIT session will be successful!</div>
            </div>


            <div class="coach_veil1"></div>
            <div class="coach_veil2"></div>
            <div class="coach_title_shadow"></div>

            <div class="coaches_index">
                <a href="#name1">Benjamin (Ben) Jeffers</a><br />
                <a href="#name2">Emma Ross</a><br />
                <a href="#name3">Nicholas Demonteverde</a><br />
            </div>

            <div class="coach_title">
                <p>Meet the</p>
                <h1>Coaches!</h1>
            </div>
            <div class="coach_divider"></div>
            <div class="coach_heading coach_whiteteam">Trinity</div>
        </div>
    </div>
</body>

</html>