<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	
    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/ChristinaSherpa_1.jpg?raw=true"
    alt="Christina SherpaJPG.jpg"  /></div>
    <div class="coach_name left">Andie Rawson</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/94444906208">https://smith.zoom.us/j/9444<br />4906208</a></div>
    <div class="coach_college"><span class="coach_ital">Old Town, ME</span></div>
    </div>
    <div class="coach_bio">Andie Rawson is a rising Senior from Old Town, Maine majoring in Mathematics and trying to choose between an Economics or a Computer Science minor. At Smith she works as a tutor for the Econometrics courses, and is a member of the Swim and Dive team. During her free time, you can usually find Andie at Shelburnes, or hanging out in the math lounge. Andie is excited to be part of ONEXSS this year, and is looking forward to helping incoming students transition to college at Smith.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/SuanyBarahona_1.jpg?raw=true"
    alt="Suany Barahona.jpg"  /></div>
    <div class="coach_name left">Ashley Cruz</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Mathematics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/96374986974">https://smith.zoom.us/j/9637<br />4986974</a></div>
    <div class="coach_college"><span class="coach_ital">Brooklyn, NY</span></div>
    </div>
    <div class="coach_bio">Ashley Cruz is a rising senior from Brooklyn, New York City with a major in Mathematics. Being a Smith calculus tutor for 3 years, she has a lot of experience working with students and is very much looking forward to working with the ONEXSS students this year. She is part of the e-board for Caribe Org on campus as well as the investment club; she loves to work with others and is very personable. In her free time, she finds peace in practicing pilates for her physical, mental and spiritual health. As a Smithie, she knows how hard it can sometimes be to be a Smithie and will be there to support you on your journey as a student and person to achieve excellence!</div>
    </div>
	
	<div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/AboniRosemond_1.jpg?raw=true"
    alt="Aboni Rosemond.JPG"  /></div>
    <div class="coach_name left">Eunice Kim</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Statistical and Data Sciences</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/95005469602">https://smith.zoom.us/j/9500<br />5469602</a></div>
    <div class="coach_college"><span class="coach_ital"><br />Atlanta, GA</span></div>
    </div>
    <div class="coach_bio">Eunice Kim is a rising senior from metro Atlanta, Georgia. She is a Statistical and Data Sciences major, Economics minor, and a Translation Studies concentrator. She is co-chair of Smith’s Korean Students Association and a member of Smith’s orchestra. She loves watching reality TV shows and listening to podcasts. Eunice is looking forward to meeting incoming first years and introducing them to Smith!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/QuintonCeluzza_1.jpg?raw=true"
    alt="Quinton ONEXSS Headshot.jpg"  /></div>
    <div class="coach_name left">JoSophia Brunzelle</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/97977454448">https://smith.zoom.us/j/9797<br />7454448</a></div>
    <div class="coach_college"><span class="coach_ital">Chicago, IL</span></div>
    </div>
    <div class="coach_bio">JoSophia Brunzelle is a rising junior from Chicago, Illinois. She is a Neuroscience major and a Chemistry minor on the pre-med track. At Smith, she is a chemistry tutor and lab assistant, as well as a member of Smith’s Wind Ensemble and VSA, the Vietnamese Student Association. In her free time, she loves playing the piano and watching Korean dramas. JoSophia is very excited to be a part of ONEXSS this summer and to meet new Smithies during their transition to Smith!</div>
    </div>
    
	<div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/KarenaGarcia_1.jpg?raw=true"
    alt="Karena Garcia.jpg"  /></div>
    <div class="coach_name left">Jueun Lee</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/97771843328">https://smith.zoom.us/j/9777<br />1843328</a></div>
    <div class="coach_college"><span class="coach_ital">Houston, TX</span></div>
    </div>
    <div class="coach_bio">Jueun Lee is a rising junior from Houston, Texas and is a pre-health Neuroscience major. She is a chemistry tutor at Smith, with a particular love for organic chemistry. She loves to cheer on and perform with members of the Smith K-pop Dance Crew. On weekends she enjoys playing board, card, and video games with her housemates and watching studio ghibli movies. Jueun is happy to become a part of incoming first years’ journeys at Smith!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/RachelClendenning_1.jpg?raw=true"
    alt="Rachel Clendenning.jpg"  /></div>
    <div class="coach_name left">Meg Coulter</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Mathematics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/95353314427">https://smith.zoom.us/j/9535<br />3314427</a></div>
    <div class="coach_college"><span class="coach_ital">Needham, MA</span></div>
    </div>
    <div class="coach_bio">Meg Coulter is a rising senior from Needham, MA who is just about to finish up her degree in math with a minor in Japanese. She has spent a consistent part of her life playing music, and will always be down to watch an anime you might suggest to her. Video games, coffee, painting, and coin collecting are all her jam. She’s very much looking forward to being an ONEXSS coach this summer, and you can catch her in Comstock house later this fall!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/MadisonGruneiro_1.jpg?raw=true"
    alt="MadisonGruneiro_1.jpg"  /></div>
    <div class="coach_name left">Molly Swope</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/92677460501">https://smith.zoom.us/j/9267<br />7460501</a></div>
    <div class="coach_college"><span class="coach_ital">Harrisville, NH</span></div>
    </div>
    <div class="coach_bio">Molly Swope is a rising senior and Engineering major from Harrisville, New Hampshire. At Smith, she works as a physics tutor. She loves spending time outside, cooking, and dancing. In her free time at Smith you can find her walking in the woods or sitting outside and drawing. She is looking forward to being an ONEXSS coach again this summer and is excited to help incoming first years with their transition to life at Smith!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/MollySwope_1.jpg?raw=true"
    alt="Molly Swope.JPG"  /></div>
    <div class="coach_name left">Sophia DaCosta</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://smith.zoom.us/j/95244718915">https://smith.zoom.us/j/9524<br />4718915</a></div>
    <div class="coach_college"><span class="coach_ital">Johnston, RI</span></div>
    </div>
    <div class="coach_bio">Sophia DaCosta is a rising junior from Johnston, Rhode Island who is an Engineering Major. At Smith, she plays 3rd base for the Smith College softball team and loves her time on the field and in the weight room. However, when she’s not in class or playing softball, Sophia loves to watch reality TV, play video games, and go on trips to get coffee. She is super excited to be a ONEXSS coach this year and can’t wait to help everybody begin their Smith journey.</div>
    </div>
    
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
	
    <div class="coaches_index">
    <a href="#name1">Andie Rawson</a><br />
    <a href="#name2">Ashley Cruz</a><br />
    <a href="#name3">Eunice Kim</a><br />
	<a href="#name4">JoSophia Brunzelle</a><br />
	<a href="#name5">Jueun Lee</a><br />
	<a href="#name6">Meg Coulter</a><br />
	<a href="#name7">Molly Swope</a><br />
	<a href="#name8">Sophia DaCosta</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_whiteteam">Smith</div>
    </div>
    </div>
  </body>
</html>
