<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">


    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/VIxtvEH.jpg"
    alt="Darnisha.jpg"  /></div>
    <div class="coach_name left">Darnisha Augustin</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"Major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4243384298">https://virginia.zoom.us/j/42433<br />84298</a></div>
    <div class="coach_college"><span class="coach_ital"> "Hometown"</span></div>
    </div>
    <div class="coach_bio">"bio"</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/2pNMm4b.jpg"
    alt="Shruti.jpg"  /></div>
    <div class="coach_name left">Shruti Bala</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"Major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2419996329">https://virginia.zoom.us/j/24199<br />96329</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio" </div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/U0mN3iP.jpg"
    alt="Harrison.jpg" width="300" height="375" /></div>
    <div class="coach_name left">Harrison Cob</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"Major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2345525021">https://virginia.zoom.us/j/23455<br />25021</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio"</div>
    </div>
	
    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/TAwUHYg.jpg"
    alt="Savannah.jpg"  /></div>
    <div class="coach_name left">Savannah Fife</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"Bio"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8588559560">https://virginia.zoom.us/j/85885<br />59560</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio"</div>
    </div>
	
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/EvjZhrk.jpg"
    alt="Chloe.jpg"  /></div>
    <div class="coach_name left">Chloe Ji</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="ttps://virginia.zoom.us/j/9520378782">https://virginia.zoom.us/j/95203<br />78782</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio"</div>
    </div>
	
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/IdWtmQY.jpg"
    alt="Peyton.jpg"  /></div>
    <div class="coach_name left">Peyton Johnston</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio" </div>
    </div>
    
        <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/eAMZHy1.jpg"
    alt="Emily.jpg"  /></div>
    <div class="coach_name left">Emily Kyaw</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio" </div>
    </div>
    
        <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/eAH3eEK.jpg"
    alt="Harry.jpg"  /></div>
    <div class="coach_name left">Hanyang Li (Harry)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio" </div>
    </div>
    
        <div class="coach_packet">
    <div id="name9" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/TEqHiZG.jpg"
    alt="Maria.jpg"  /></div>
    <div class="coach_name left">Maria Rahmouni</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio" </div>
    </div>
    
        <div class="coach_packet">
    <div id="name10" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/fe2IyRn.jpg"
    alt="Samira.jpg"  /></div>
    <div class="coach_name left">Samira Samadi</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio" </div>
    </div>
    
        <div class="coach_packet">
    <div id="name11" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/7mNEWfJ.jpg"
    alt="Bel.jpg"  /></div>
    <div class="coach_name left">Bel Ullman</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio" </div>
    </div>
    
        <div class="coach_packet">
    <div id="name12" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/EkmAzBm.jpg"
    alt="Lauren.jpg"  /></div>
    <div class="coach_name left">Lauren Victory</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio"</div>
    </div>
    
        <div class="coach_packet">
    <div id="name13" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/Ixno5ji.jpg"
    alt="Gabriella.jpg"  /></div>
    <div class="coach_name left">Gabriella Watson</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio"</div>
    </div>
    
        <div class="coach_packet">
    <div id="name14" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/8h0m2Fg.jpg"
    alt="Shuwen.jpg"  /></div>
    <div class="coach_name left">Shuwen Zhan</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">"major"</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"bio" </div>
    </div>
    
        <div class="coach_packet">
    <div id="name15" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/nX9rN3o.jpg"
    alt="Patrick.jpg"  /></div>
    <div class="coach_name left">Patrick Roney</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Environmental Science </div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">"hometown"</span></div>
    </div>
    <div class="coach_bio">"Bio"</div>
    </div>
    
        <div class="coach_packet">
    <div id="name16" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/oJxSKX2.jpg"
    alt="Emmanuel.jpg"  /></div>
    <div class="coach_name left">Emmanuel Yeboah</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biochemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/6924853963">https://virginia.zoom.us/j/69248<br />53963</a></div>
    <div class="coach_college"><span class="coach_ital">Woodbridge VA, class of 2024</span></div>
    </div>
    <div class="coach_bio">Hello! I'm Emmanuel, a rising third-year and a Biochem major. I don't really do much other than run, read and game. Im super excited to meet you this summer!   </div>
    </div>
	
    <div class="coaches_index">
    <a href="#name1">Darnisha Augustin</a><br />
    <a href="#name2">Shruti Bala </a><br />
    <a href="#name3">Harrison Cobb </a><br />
    <a href="#name4">Savannah Fife </a><br />
    <a href="#name5">Chloe Ji</a><br />
    <a href="#name6">Peyton Johnston </a><br />
    <a href="#name7">Emily Kyaw</a><br />
    <a href="name8">Hanyang Li (Harry) </a><br />   
    <a href="#name9">Maria Rahmouni</a><br />
    <a href="#name10">Samira Samadi </a><br />
    <a href="#name11">Bel Ullman</a><br />
    <a href="#name12">Lauren Victory </a><br />
    <a href="#name13">Gabriella Watson </a><br />
    <a href="#name14">Shuwen Zhan</a><br />
    <a href="name15">Patrick Roney </a><br />
    <a href="name16">Emmanuel Yeboah</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">CONEX Team</div>
    </div>
    </div>
  </body>
</html>
