<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">


   <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/eAMZHy1.jpg"
    alt="Emily.jpg"  /></div>
    <div class="coach_name left">Emily Kyaw(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Kinesiology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4243384298?pwd=NTdhMlBMZ0tsR2VGN3B6SDVUck5CZz09">https://virginia.zoom.us/j/42433<br />84298</a></div>
    <div class="coach_college"><span class="coach_ital">Richmond, VA. Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Emily and a returning coach from summer 2021, so I am happy to be here once again. A little about me, I am a pre-pharmacy student and a rising third year majoring in kinesiology and minoring in chemistry, so if you ever have any questions about any of the above, feel free to reach out. I am from Richmond, VA and I have a puppy that I'm sure you'll hear too much about. I am so excited to meet everyone this summer!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/eAH3eEK.jpg"
    alt="Harry.jpg"  /></div>
    <div class="coach_name left">Harry Li(He/Him)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9515540958">https://virginia.zoom.us/j/95155<br />40958</a></div>
    <div class="coach_college"><span class="coach_ital">Richmond, VA. Class of 2025.</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Harry and I'm from Richmond, Virginia. I like to spend time outside with my friends in my free time. I'm excited to get to know you guys!</div>
    </div>
	
     <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/EkmAzBm.jpg"
    alt="Lauren.jpg"  /></div>
    <div class="coach_name left">Lauren Victory(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biochemistry & French</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/6475788770">https://virginia.zoom.us/j/64757<br />88770</a></div>
    <div class="coach_college"><span class="coach_ital">Long Island, New York. Class of 2025</span></div>
    </div>
    <div class="coach_bio">Hi everyone! I'm a rising second-year from Long Island, New York. I'm majoring in french because I love the language, but I'm also a premed student (with a soft spot for math). Can't wait to work with you! </div>
    </div>
	
     <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/2pNMm4b.jpg"
    alt="Shruti.jpg"  /></div>
    <div class="coach_name left">Shruti Bala(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9789969929">https://virginia.zoom.us/j/97899<br />69929</a></div>
    <div class="coach_college"><span class="coach_ital">Richmond, VA. Class of 2025</span></div>
    </div>
    <div class="coach_bio">Hi my name is Shruti Bala and I am a rising second-year here at UVA! To introduce myself a little I am majoring in computer science in the Engineering school here and I'm also from Richmond, Virginia. I really enjoy cooking, dancing, and hiking/being outdoors. I can't wait to meet all of you guys this summer and show you how great UVA really is!!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/7mNEWfJ.jpg"
    alt="Bel.jpg"  /></div>
    <div class="coach_name left">Bel Ullman(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science </div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/5919992859">https://virginia.zoom.us/j/59199<br />92859</a></div>
    <div class="coach_college"><span class="coach_ital">New York City, New York. Class of 2022</span></div>
    </div>
    <div class="coach_bio">I just graduated from UVA where I majored in Computer Science and minored in Global Studies in Education! I’m from New York and I love running, yoga, and hiking. I can’t wait to meet y’all!  </div>
    </div>
	
    <div class="coaches_index">
    <a href="#name1">Emily Kyaw </a><br />
    <a href="#name2">Harry Li </a><br />
    <a href="#name3">Lauren Victory </a><br />
    <a href="#name4">Shruti Bala</a><br />
    <a href="#name5">Bel Ullman </a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">White Team</div>
    </div>
    </div>
  </body>
</html>