<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">


	
    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/NBgIqMD.png"
    alt="Meghan_Liu.png"  /></div>
    <div class="coach_name left">Megan Liu</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Evolutionary Anthropology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/8065239192">https://duke.zoom.us/j/8065<br />239192</a></div>
    <div class="coach_college"><span class="coach_ital">Class of 2023</span></div>
    </div>
    <div class="coach_bio">Megan Liu is a rising senior and NC native pursuing a major in Evolutionary Anthropology (Human Biology concentration) and minors in Biology and Chemistry. She conducts research in the Gibert and Drea labs, and has worked as a teaching assistant and peer mentor for Organic Chemistry I and Intro to Biostatistics. Megan is beyond excited to work with ASCEND! </div>
    </div>
	
   
	
   
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/AXGNqhg.png"
    alt="Emily_Kang"  /></div>
    <div class="coach_name left">Emily Kang</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/2038778147?pwd=NXlOV1FIRXdQcnFmZnpTRHpzRHBsdz09">https://duke.zoom.us/j/2038<br />778147</a></div>
    <div class="coach_college"><span class="coach_ital">Class of 2023</span></div>
    </div>
    <div class="coach_bio">Emily Kang is a rising senior majoring in Biology with interests in medical sociology and gene therapy research. Outside of academics, she enjoys spending her free time with film photography and tutoring. Ask Emily about life outside the campus, especially for food and fun activities! She loves exploring the Triangle area (Durham, Chapel Hill, Raleigh). </div>
    </div>
	
	
	
	<div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/YGDI6EA.png"
    alt="Emily_Da Cruz.png"  /></div>
    <div class="coach_name left">Emily Da Cruz</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/6102712517?pwd=blUwMHp1aXI0dDV5eG81VVkycXk4dz09">https://duke.zoom.us/j/6102<br />712517</a></div>
    <div class="coach_college"><span class="coach_ital">Class of 2023</span></div>
    </div>
    <div class="coach_bio">Emily Da Cruz is a rising senior at Duke, majoring in Neuroscience with minors in Chemistry and Spanish on the pre-med track. Originally from New Jersey, she is a first-generation college student involved with various activities on campus including pediatric neurology research, GANO (ESL tutoring for Latinx Durham community members), Neuroscience Major's Union, the American Medical Women's Association, and tour guiding. In her free time, she enjoys going to the gym, cooking/baking, and spending times with friends. After graduating, she plans to take a gap year, working in a clinical or research setting before going to medical school. </div>
    </div>

	
    <div class="coaches_index">
    <a href="#name1">Megan Liu </a><br />
  
  
    <a href="#name2">Emily Kang </a><br />
  
    <a href="name3">Emily Da Cruz </a><br />
  
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">ASCEND Team</div>
    </div>
    </div>
  </body>
</html>
