<html>
	<head>
		<meta charset="UTF-8">
		<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>

	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	
    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/keji.jpg?raw=true"
    alt="ConnorAmelung.jpg"  /></div>
    <div class="coach_name left">Moronkeji Fapohuda</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9857417800">https://virginia.zoom.us/j/98574<br />17800</a></div>
    <div class="coach_college"><span class="coach_ital">Virginia; Class of 2021</span></div>
    </div>
    <div class="coach_bio">Hey peeps! My name is Moronkeji (Keji) Fapohunda, and I am currently a rising fourth-year in the College of Arts of Sciences here at UVA! I'm majoring in Biology and I'm on the pre-med track - being a doctor has been my dream since elementary school!! When I'm not studying for classes, I love to draw, write, sing, and watch anime. My favorite food is Chipotle (which I could eat all day everyday), and I hope to one day create an manga that captivates the world! I'm so excited to work with you this summer, and I can't wait to see you! Cheers! </div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/julian.jpg?raw=true"
    alt="JasmanetChahal.jpg"  /></div>
    <div class="coach_name left">Julian Elmasry</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology and Cognitive Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7058763340">https://virginia.zoom.us/j/70587<br />63340</a></div>
    <div class="coach_college"><span class="coach_ital">Galax, VA; Class of 2020</span></div>
    </div>
    <div class="coach_bio">My name is Julian Elmasry. I am the Class of 2020 at the University of Virginia and planned to attend Medical School in the near future. I was fortunate enough to double major during my time  UVA. My first major is Cognitive Science with a concentration in Neuroscience and Linguistics and the second one being Biology. I was born and raised in Galax, VA located in rural, Southwest Virginia. A quick fun fact about myself is I invented a blood test tube that would allow drawn blood samples to withstand warm temperatures longer than currently commonly used blood-collecting test tubes. It's currently patent pending. What I personally like to do for fun is hang out with friends, play basketball, travel, nap, and eat. </div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/ishita.jpg?raw=true"
    alt="AshleyEwing.jpg" width="300" height="375" /></div>
    <div class="coach_name left">Ishita R. Mahajan</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4770541822">https://virginia.zoom.us/j/47705<br />41822</a></div>
    <div class="coach_college"><span class="coach_ital">Singapore; Class of 2022</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Ishita R. Mahajan and I'm a Rising Third Year in the College of Arts and Sciences. I'm Majoring in Biology and Double Minoring in Psychology and Bioethics on the Pre-Med track. I'm particularly passionate about learning how healthcare infrastructure, systems and professionals can better cater towards historically - and contemporarily - medically underserved communities. Right now, a lot of the research and shadowing I've been getting involved with has centered around oncology and holistic cancer management. As per my personal background, although I was born in the U.S., I moved to Korea when I was 3 years old and then Singapore when I was 8 (where I had been living up until becoming a Hoo)! Outside of the school setting, I really enjoy being outdoors, writing, reading and exploring new parts of Charlottesville with friends! I'm super excited and honored to be getting the opportunity to get to know a lot of you :)</div>
    </div>

    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/rita.jpg?raw=true"
    alt="AshleyHirt.jpg"  /></div>
    <div class="coach_name left">Rita Shoukry</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4127501771">https://virginia.zoom.us/j/41275<br />01771</a></div>
    <div class="coach_college"><span class="coach_ital">Tarpon Springs, FL; Class of 2021</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Rita Shoukry and I am a rising 4 th year on the pre-med track majoring in biology and minoring in philosophy. I’m from Tarpon Springs, Florida, but I was actually born in Egypt. I began my time as a college student by studying abroad for my very first semester in London, then I arrived at UVA in the spring. While abroad I got to visit some great cities like Paris, Rome, and Palma de Mallorca. I was an intern in the education abroad office at UVA, which allowed me to share my experience with students who were also interested in studying abroad. I am also conducting independent research in the biology department at UVA. In my free time, I love to read and sing, and occasionally enjoy movie nights with my family. One thing I love about UVA is that there are so many different opportunities for students and everyone has a chance to find their place.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/kate.jpg?raw=true"
    alt="KylaJames.jpg"  /></div>
    <div class="coach_name left">Katherine Pufko</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4064398683">https://virginia.zoom.us/j/40643<br />98683</a></div>
    <div class="coach_college"><span class="coach_ital">Roanoke, VA; Class of 2023</span></div>
    </div>
    <div class="coach_bio">My name is Kate Pufko and I am from Roanoke, Virginia. I am a rising third year student studying Biology and Global Public Health with hopes of going to PA school or working in epidemiology research. My life goals include: adopting numerous dogs, flipping a house, and perfecting my chocolate chip cookie recipe. I couldn’t live without my planner, bagels, and my Comfy (basically a GIANT sweatshirt blanket that lets me hide during all of my Zoom classes). On Grounds, I am involved in a religious organization, CHAARG (a sorority-like workout group for college women), and volunteering through Madison House Medical Services. I’m looking forward to meeting everyone and can’t wait to see what this summer holds! </div>
    </div>
	
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/aaria.jpg?raw=true"
    alt="AariaMalhotra.jpg"  /></div>
    <div class="coach_name left">Aaria Malhotra</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience and Spanish</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8893037307?">https://virginia.zoom.us/j/88930<br />37307?</a></div>
    <div class="coach_college"><span class="coach_ital">Haymarket, VA; Class of 2020</span></div>
    </div>
    <div class="coach_bio">Aaria is a fourth year from Haymarket, Virginia, studying neuroscience and Spanish on the pre-medical track. She is a research assistant in a social neuroscience lab, Senior Resident of Kellogg dorm, a student worker at Newcomb Hall, and a brother of Phi Sigma Pi honor fraternity. In her free time Aaria enjoys going to the AFC, hanging out with her residents, listening to Spanish music, and playing board games.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/alex.jpg?raw=true"
    alt="AdamMcGill.jpg" /></div>
    <div class="coach_name left">Alexandra Schmid</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><strong>Major:</strong></div>
    <div class="coach_major">Systems Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7121868942">https://virginia.zoom.us/j/71218<br />68942</a></div>
    <div class="coach_college"><span class="coach_ital">Tysons, VA; Class of 2022</span></div>
    </div>
    <div class="coach_bio">Hi, I'm Alex Schmid! I'm a rising third year majoring in Systems Engineering and minoring in Economics at UVA. I am currently working in a systems engineering lab where I work with other researchers on understanding human behavior and health through mobile sensing technology (wearable devices, cell phones, etc.). I'm from Tysons, VA which is in Northern Virginia, where I like to spend time outside with my family and my dog. Some of my favorite foods are mac and cheese and butter chicken, and my favorite places to get food on The Corner are Roots and Lemongrass.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/amatullah.jpg?raw=true"
    alt="SaloniMittal.jpg" /></div>
    <div class="coach_name left">Amatullah Lonandwala</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science and English</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2419996329">https://virginia.zoom.us/j/24199<br />96329</a></div>
    <div class="coach_college"><span class="coach_ital">Herdon, VA; Class of 2022 </span></div>
    </div>
    <div class="coach_bio">Hello! My name is Amatullah Lonandwala and I am so excited to be a coach for CONEX this summer! I am from Herndon, VA and I am a rising third year in the College of Arts and Sciences, double majoring in Computer Science and English. I am also really interested in the healthcare field. In my free time, you can always find me curled up with a good book. Feel free to ask me for a personalized book recommendation!</div>
    </div>
    
 <div class="coach_packet">
    <div id="name9" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/austin.jpg?raw=true"
    alt="SaloniMittal.jpg" /></div>
    <div class="coach_name left">Austin Amacher</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2487132979">https://virginia.zoom.us/j/24871<br />32979</a></div>
    <div class="coach_college"><span class="coach_ital">Herdon, VA; Class of 2022 </span></div>
    </div>
    <div class="coach_bio">Hi, my name’s Austin and I’m a rising second year BME student in the school of engineering. I’m originally from Alexandria, Virginia (NoVA!) and in my free time I enjoy running, practicing violin, playing volleyball, and spending time with friends!</div>
    </div>
    
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
	
    <div class="coaches_index">
    <a href="#name1"></a>Moronkeji Fapohuda<br />
    <a href="#name2">Julian Elmasry</a><br />
    <a href="#name3">Ishita R. Mahajan</a><br />
    <a href="#name4">Rita Shoukry</a><br />
    <a href="#name5">Katherine Pufko</a><br />
    <a href="#name6">Aaria Malhotra</a><br />
    <a href="#name7">Alexandra Schmid</a><br />
    <a href="#name8">Amatullah Lonandwala</a><br />
    <a href="#name9">Austin Amacher</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">Blue Team</div>
    </div>
    </div>
  </body>
</html>