<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	

    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/U0mN3iP.jpg"
    alt="Harrison.jpg" width="300" height="375" /></div>
    <div class="coach_name left">Harrison Cob(He/Him)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematical Statistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7455744620">https://virginia.zoom.us/j/74557<br />44620</a></div>
    <div class="coach_college"><span class="coach_ital">Newport News, Virginia. Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hey everyone! My name's Harrison and I am from Newport News, Virginia. For fun, I enjoy playing pickup sports, especially basketball and soccer, hiking, and going to concerts. Outside of class, I am a consultant for Calculus 1 and 2 in the library and I am heavily invested in every intramural sport. Welcome to the program!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/8h0m2Fg.jpg"
    alt="Shuwen.jpg"  /></div>
    <div class="coach_name left">Shuwen Zhan(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4334785027">https://virginia.zoom.us/j/43347<br />85027</a></div>
    <div class="coach_college"><span class="coach_ital">Fuzhou, Fujian, China. Class of 2023</span></div>
    </div>
    <div class="coach_bio">Hi, my name is Shuwen. I am a rising 4th-year pursuing a BS in biology and a minor in statistics. Outside of the classroom, I spend most of my time in labs doing research relating to glioblastoma and leukemia. I am also a volunteer at Madison House and a peer teacher for intro biology labs. In addition, I also enjoy swimming, skiing, horseback riding, and painting, even though I am not particularly good at any of these. </div>
    </div>
	
  <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/EvjZhrk.jpg"
    alt="Chloe.jpg"  /></div>
    <div class="coach_name left">Chloe Ji(She/Her/Hers)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Commerce & Astronomy</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4351844578">https://virginia.zoom.us/j/43518<br />44578</a></div>
    <div class="coach_college"><span class="coach_ital">Mainland China, Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hey y'all! I'm Chloe, a rising third year in McIntire school of Commerce. I also have a second major in Astronomy. Outside of class, I enjoy watching movies, playing tennis or exploring new restaurants in town. So excited to participate in CONEX this summer and can't wait to meet with you! </div>
    </div>
	

    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/IdWtmQY.jpg"
    alt="Peyton.jpg"  /></div>
    <div class="coach_name left">Peyton Johnston(She/Her)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical engineering </div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/5860325408">https://virginia.zoom.us/j/58603<br />25408</a></div>
    <div class="coach_college"><span class="coach_ital"> Seattle, WA. Class of 2023</span></div>
    </div>
    <div class="coach_bio">Hi, I'm Peyton. I was born and raised in Seattle, WA. I'm a rising fourth year majoring in biomedical engineering with a premed track. I am currently doing research in the Biomedical Engineering and Chemical Engineering departments. I enjoy going on hikes, reading, and attending UVA sporting events, especially basketball.</div>
    </div>
	
     <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/nX9rN3o.jpg"
    alt="Patrick.jpg"  /></div>
    <div class="coach_name left">Patrick Roney(He/Him)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Environmental Science </div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7982286825">https://virginia.zoom.us/j/79822<br />86825</a></div>
    <div class="coach_college"><span class="coach_ital">Arlington, Virginia. Class of 2023</span></div>
    </div>
    <div class="coach_bio">I am a fourth year from Arlington, Virginia pursuing a B.S. in Environmental Science. This past year I’ve worked in the Environmental Science department as a researcher while also working as a Learning Assistant for our Calculus I and II courses in the math department. I love finding spare moments to sit down at the piano to play just about anything, from Beethoven to Stevie Wonder, and enjoying the sunsets of Charlottesville. I can’t wait to connect with you this summer!</div>
    </div>
	
  
    
    
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
	
    <div class="coaches_index">

    <a href="#name1">Harrison Cobb</a><br />
    <a href="#name2">Shuwen Zhan</a><br />
    <a href="#name3">Chloe Ji</a><br />
    <a href="#name4">Peyton Johnston</a><br />
    <a href="#name5">Patrick Roney</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">Orange Team</div>
    </div>
    </div>
  </body>
</html>