<html>
    <head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
<div class="user_content">
    <div class="onexys_styling coachoverride">

        <div class="coach_packet">
            <div id="name1" class="coach_header"></div>
            <div class="coach_photo"><img
                    src="https://conex.herokuapp.com/images/coachesBioPics/RamlahAhmad_1.jpg?raw=true"
                    alt="RamlahAhmad_1.jpg" />
            </div>
            <div class="coach_name left">Ramlah Ahmad</div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong><br />Major:</strong></div>
                <div class="coach_major">Mathematics and Economics</div>
            </div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong>Zoom:</strong></div>
                <div class="coach_major"><a href="https://yale.zoom.us/j/3789851012">GET ZOOM LINK</a></div>
                <!-- 
        <div class="coach_college"><span class="coach_ital">Trumbull, '21 </span></div>
        -->
            </div>
            <div class="coach_bio">Ramlah Ahmad is a Mathematics and Economics major and is a rising senior. She grew up
                in Brooklyn, NY. At Smith, she is a house treasurer. This year she has spent time doing research in knot
                theory. In her free time, she loves to drink chai, haunting the house study, and playing games in the
                math lounge. She came to college thinking she would be an engineering major but soon realized that was
                not her cup of tea. What she wants to tell new freshman coming in is have an open mind, and there is so
                much in the world to learn. You might as well learn things you enjoy or will be useful to you. Lastly,
                she is so excited to help you all with your ONEXSS journey and perhaps even Smith.
            </div>
        </div>

        <div class="coach_packet">
            <div id="name2" class="coach_header"></div>
            <div class="coach_photo"><img
                    src="https://conex.herokuapp.com/images/coachesBioPics/QuintonCeluzza_1.jpg?raw=true"
                    alt="QuintonCeluzza_1.jpg" /></div>
            <div class="coach_name left">Quinton Celuzza</div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><br /><strong>Major:</strong></div>
                <div class="coach_major">Biology, Music, Chemistry</div>
            </div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong>Zoom:</strong></div>
                <div class="coach_major"><a href="https://yale.zoom.us/j/6517857424">GET ZOOM LINK</a></div>
                <!--
<div class="coach_college"><span class="coach_ital">Branford, '20</span></div>
-->
            </div>
            <div class="coach_bio">
                Quinton Celuzza is a rising junior from central MA, studying biology, music, and chemistry. At Smith, he
                works as a bio tutor, department liaison, and is in the Barresi lab. In his free time, he loves talking
                about Tolkien and going to Limered. Quinton loves working with new students and is excited to help
                incoming first years feel ready to transition into college and succeed at Smith.
            </div>
        </div>
        <div class="coach_packet">
            <div id="name3" class="coach_header"></div>
            <div class="coach_photo"><img
                    src="https://conex.herokuapp.com/images/coachesBioPics/AshleyCruz_1.jpg?raw=true"
                    alt="AshleyCruz_1.jpg" /></div>
            <div class="coach_name left">Ashley Cruz</div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong><br />Major:</strong></div>
                <div class="coach_major">Mathematics</div>
            </div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong>Zoom:</strong></div>
                <div class="coach_major"><a href="https://yale.zoom.us/j/5437128783">GET ZOOM LINK</a></div>
                <!-- 
<div class="coach_college"><span class="coach_ital">Branford, '19</span></div>
-->
            </div>
            <div class="coach_bio">
                Ashley Cruz is a first-generation sophomore, and a STEM Posse scholar from Brooklyn, New York. She plans
                on majoring in math with a minor in economics. She is currently the creative director for Caribe, an
                organization for students from Spanish-speaking Caribbean countries. In her free time she enjoys
                drinking coffee, hanging out with friends and go online shopping. She also insists on eating avocado
                with every meal.
            </div>
        </div>
        <div class="coach_packet">
            <div id="name4" class="coach_header"></div>
            <div class="coach_photo"><img
                    src="https://conex.herokuapp.com/images/coachesBioPics/KarenaGarcia_1.jpg?raw=true"
                    alt="KarenaGarcia_1.jpg" /></div>
            <div class="coach_name left">Karena Garcia</div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong><br />Major:</strong></div>
                <div class="coach_major">Engineering</div>
            </div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong>Zoom:</strong></div>
                <div class="coach_major"><a href="https://zoom.us/j/4172726113">GET ZOOM LINK</a></div>
                <!-- 
<div class="coach_college"><span class="coach_ital">Grace Hopper, '18</span></div>
-->
            </div>
            <div class="coach_bio">
                Karena Garcia is from Tucson, Arizona and a rising Junior and an engineering major. She is a member of
                the cross country, basketball, and track team at Smith, so when you need to find her, she will most
                likely be in the gym. She loves the outdoors, learning, and listening to all kinds of music. She is
                really looking forward to being one of the first people to participate in ONEXSS because she wishes it
                were around when she was a first-year student! She believes this will be a great step in easing the
                transition from the high school to college level, and is excited to be part of it!
            </div>
        </div>
        <div class="coach_packet">
            <div id="name5" class="coach_header"></div>
            <div class="coach_photo"><img
                    src="https://conex.herokuapp.com/images/coachesBioPics/LauraMorrison_1.jpg?raw=true"
                    alt="LauraMorrison_1.jpg" /></div>
            <div class="coach_name left">Laura Morrison</div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong><br />Major:</strong></div>
                <div class="coach_major">Mathematics</div>
            </div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong>Zoom:</strong></div>
                <div class="coach_major"><a href="https://yale.zoom.us/j/6076999309"> GET ZOOM LINK</a></div>
                <!-- 
<div class="coach_college"><span class="coach_ital">Trumbull, '19</span></div>
-->
            </div>
            <div class="coach_bio">
                Laura Morrison is a rising senior from Ottawa, Canada majoring in mathematics and a member of the crew
                team at Smith. If she’s not at the boathouse or in class, she’s likely at Dunkin’, making playlists, or
                spending time with friends. She is really excited to be a part of ONEXSS because she thinks math is
                super cool and loves any opportunity to share that with others!
            </div>
        </div>
        <div class="coach_packet">
            <div id="name6" class="coach_header"></div>
            <div class="coach_photo"><img
                    src="https://conex.herokuapp.com/images/coachesBioPics/LisaShore_1.jpg?raw=true"
                    alt="LisaShore_1.jpg" /></div>
            <div class="coach_name left">Lisa Shore</div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong><br />Major:</strong></div>
                <div class="coach_major">Mathematics</div>
            </div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong>Zoom:</strong></div>
                <div class="coach_major"><a href="https://yale.zoom.us/j/7485657537">GET ZOOM LINK</a></div>
                <!-- 
<div class="coach_college"><span class="coach_ital">Davenport, '21</span></div>
-->
            </div>
            <div class="coach_bio">
                Lisa Shore is a rising junior from Philadelphia, PA. She's a math major, but also takes a lot of
                creative writing and language classes. Outside of class, you can usually find her playing Ultimate
                Frisbee or lying in the grass somewhere reading a book. She's looking forward to talking to new firsties
                about math, which is one of her favorite things to talk about, and to help them with the transition to
                Smith. First year was overwhelming but also amazing, and she's excited to be a part of this change and
                to share this wonderful place with new students.
            </div>
        </div>
        <div class="coach_packet">
            <div id="name7" class="coach_header"></div>
            <div class="coach_photo"><img
                    src="https://conex.herokuapp.com/images/coachesBioPics/PamelaVargas_1.jpg?raw=true"
                    alt="PamelaVargas_1.jpg" width="300" height="375" /></div>
            <div class="coach_name left">Pamela Vargas</div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong><br />Major:</strong></div>
                <div class="coach_major">Math, Economics, and Statistics</div>
            </div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong>Zoom:</strong></div>
                <div class="coach_major"><a href="https://yale.zoom.us/j/9229470307">GET ZOOM LINK</a></div>
                <!-- 
<div class="coach_college"><span class="coach_ital">Jonathan Edwards, '21</span></div>
-->
            </div>
            <div class="coach_bio">
                Pamela Vargas is a rising sophomore in Smith College from Bronx, New York. She is interested in math,
                economics, and statistics. Not only is she an AEMES Scholar (Achieving Excellence in Mathematics,
                Engineering, and Science), but she is also one of the two representatives of her cohort to the AEMES
                Advisory Board. She is also a part of the Caribe Club. During her free time, Pamela likes to write
                poetry and dance. Pamela is super excited to help incoming first years feel more confident in their math
                abilities! She firmly believes in helping Smith College become a welcoming place for students to attend
                and succeed in!
            </div>
        </div>
        <div class="coach_packet">
            <div id="name8" class="coach_header"></div>
            <div class="coach_photo"><img
                    src="https://conex.herokuapp.com/images/coachesBioPics/StarryZhou_1.jpg?raw=true"
                    alt="StarryZhou_1.jpg" /></div>
            <div class="coach_name left">Starry Zhou</div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong><br />Major:</strong></div>
                <div class="coach_major">Economics &amp; Statistical and Data Sciences</div>
            </div>
            <div class="coach_prelim">
                <div class="coach_major_strong"><strong>Zoom:</strong></div>
                <div class="coach_major"><a href="https://yale.zoom.us/j/2069485775">GET ZOOM LINK</a></div>
                <!-- 
<div class="coach_college"><span class="coach_ital">Ezra Stiles, '21</span></div>
-->
            </div>
            <div class="coach_bio">
                Starry Zhou is a rising senior originally from Wuhan, China and is an economics and statistical and data
                sciences (SDS) double major. During the semesters, she has been involved with multiple student
                organizations such as Smithies in SDS, Smithies in Business, and has worked as a tutor and orientation
                leader. Besides academics, she enjoys traveling, photography and is passionate about LGBTQ+ rights and
                social justice.
            </div>
        </div>


        <div class="coach_veil1"></div>
        <div class="coach_veil2"></div>
        <div class="coach_title_shadow"></div>
        <div class="coaches_index">
            <a href="#name1">Ramlah Ahmad</a><br />
            <a href="#name2">Quinton Celuzza</a><br />
            <a href="#name3">Ashley Cruz</a><br />
            <a href="#name4">Karena Garcia</a><br />
            <a href="#name5">Laura Morrison</a><br />
            <a href="#name6">Lisa Shore</a><br />
            <a href="#name7">Pamela Vargas</a><br />
            <a href="#name8">Starry Zhou</a></div>
        <div class="coach_title">
            <p>Meet the</p>
            <h1>Coaches!</h1>
        </div>
        <div class="coach_divider"></div>
        <div class="coach_heading coach_grayteam">Blue Team</div>
    </div>
</div>

</html>