<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">


    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/SJG4pFH.jpg"
    alt="ConnorAmelung.jpg"  /></div>
    <div class="coach_name left">Emily Kyaw (she/her) </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biochemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4243384298">https://virginia.zoom.us/j/42433<br />84298</a></div>
    <div class="coach_college"><span class="coach_ital"> Richmond, Virginia; Class of 2024</span></div>
    </div>
    <div class="coach_bio">My name is Emily and I am a rising second-year! I am studying biochemistry on a pre-pharm track with hopes to become a pharmacologist. Besides being a CONEX coach, I am working this summer as a camp counselor, but I am so excited to mentor and share my own first year experience with you guys, while we learn some math! Math can be fun... I promise.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/wwz1Uw0.jpg"
    alt="JasmanetChahal.jpg"  /></div>
    <div class="coach_name left">(Placeholder Coach 1)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science and English</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2419996329">https://virginia.zoom.us/j/24199<br />96329</a></div>
    <div class="coach_college"><span class="coach_ital">Herndon, Virginia; Class of 2022</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Amatullah Lonandwala and I am a rising senior majoring in Computer Science and English on the Pre-Medicine track. I am from Herndon VA and a fun fact about me is that I fostered a kitten last semester and I want to foster a puppy next semester! I am involved with Madison House on grounds and in my free time I LOVE to read. Feel free to reach out for a personalized book recommendation! </div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/gTg59mQ.jpg"
    alt="AshleyEwing.jpg" width="300" height="375" /></div>
    <div class="coach_name left">(Placeholder Coach 2)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2345525021">https://virginia.zoom.us/j/23455<br />25021</a></div>
    <div class="coach_college"><span class="coach_ital">Fairfax, Virginia; Class of 2022</span></div>
    </div>
    <div class="coach_bio">Hello! I'm Abhi and I'm a fourth-year majoring in Biology, on the pre-med track. I'm from Fairfax, Virginia and have lived there pretty much my whole life. Fun fact: I'm a twin and my twin sister actually goes to UVA as well! On grounds, I'm involved with a South Asian folk dance team, research, Madison House, and other volunteering programs! My favorite past time by far is to watch and keep up with sports; mostly basketball and football.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/3yaXPBY.jpg"
    alt="AshleyHirt.jpg"  /></div>
    <div class="coach_name left">(Placeholder Coach 3)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Undecided</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8588559560">https://virginia.zoom.us/j/85885<br />59560</a></div>
    <div class="coach_college"><span class="coach_ital">Kingfisher, Oklahoma; Class of 2024</span></div>
    </div>
    <div class="coach_bio">Hi, I'm McCall a second year student still figuring out what he wants to study. I'm from Oklahoma so I guess that makes me an okie. Fun fact, I had never been to Virginia before my move in day last year (you literally can't get more lost than I was.)  One thing you should know about me is I LOVE to run, and I'm super excited to spend the summer running numbers with you guys!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/ET5SYOJ.jpg"
    alt="KylaJames.jpg"  /></div>
    <div class="coach_name left">(Placeholder Coach 4)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Civil Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="ttps://virginia.zoom.us/j/9520378782">https://virginia.zoom.us/j/95203<br />78782</a></div>
    <div class="coach_college"><span class="coach_ital">Bronx, New York; Class of 2022</span></div>
    </div>
    <div class="coach_bio">I’m Lorin Bruno. I’m from the Bronx, NY and I’m a rising fourth-year in the School of Engineering and Applied Science (E-school). I’m majoring in Civil Engineering with a focus in Environmental Engineering. I’m super passionate about the environment, especially water quality. Aside from academics, I’m involved in the Society of Hispanic Professional Engineers (SHPE). Now that the semester has ended, I spend my time FaceTiming my friends, reading, or watching tv (lately The Office or Naruto). Since I have more time during the summer, I’ve been trying to cook new things. Enough about me, I can’t wait to meet and get to know you all!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/1HTzFjM.jpg"
    alt="AariaMalhotra.jpg"  /></div>
    <div class="coach_name left">(Placeholder Coach 5)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Cognitive Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7720281251">https://virginia.zoom.us/j/77202<br />81251</a></div>
    <div class="coach_college"><span class="coach_ital">Sag Harbor, New York Class of 2023</span></div>
    </div>
    <div class="coach_bio">Hi, I’m Hannah! I’m a rising third year from Sag Harbor, New York majoring in cognitive science and minoring in computer science. On grounds I’m involved in Honor, Madison House, and Kappa Delta Sorority. I grew up near the water and one of my favorite things to do is spend the day at the ocean. Another fun fact is that I worked at an ice cream shop for four summers and I memorized what's in over thirty flavors! </div>
    </div>
	
    <div class="coaches_index">
    <a href="#name1">Emily Kyaw </a><br />
    <a href="#name2">(Placeholder Coach 1) </a><br />
    <a href="#name3">(Placeholder Coach 2) </a><br />
    <a href="#name4">(Placeholder Coach 3) </a><br />
    <a href="#name5">(Placeholder Coach 4) </a><br />
    <a href="#name6">(Placeholder Coach 5) </a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">White Team</div>
    </div>
    </div>
  </body>
</html>