<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	

    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/helen.jpg?raw=true"
    alt="ConnorAmelung.jpg"  /></div>
    <div class="coach_name left">Helen Teklu</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/4887330235">https://virginia.zoom.us/j/48873<br />30235</a></div>
    <div class="coach_college"><span class="coach_ital">Woodbridge VA; Class of 2021</span></div>
    </div>
    <div class="coach_bio">Hey! My name is Helen Teklu and I'm from Woodbridge, VA. I am a rising fourth year biology major, on a pre-medical track. Outside of academics, I love hanging out with friends and creating art. I'm also a big fan of food and love being introduced to different cultures. Random fun fact: I can speak four languages!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/madisen.jpg?raw=true"
    alt="JasmanetChahal.jpg"  /></div>
    <div class="coach_name left">Madisen Patrick</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/7902785387">https://virginia.zoom.us/j/79027<br />85387</a></div>
    <div class="coach_college"><span class="coach_ital">Virginia Beach, VA; Class of 2023</span></div>
    </div>
    <div class="coach_bio">Hi, I am Madisen Patrick. I am a rising 2nd year in the School of Engineering and majoring in Computer Engineering. I am from Virginia Beach, Virginia, and play on the UVA Women's Lacrosse team.  When I have free time I like to play my guitar and trumpet or hang out with friends and enjoy ice cream on the beach. </div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/ashley.jpg?raw=true"
    alt="AshleyEwing.jpg" width="300" height="375" /></div>
    <div class="coach_name left">Ashley Ewing</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8968267597">https://virginia.zoom.us/j/8968<br />267597</a></div>
    <div class="coach_college"><span class="coach_ital">Apopka, FL; Class of 2021</span></div>
    </div>
    <div class="coach_bio">Hi there! My name is Ashley Ewing, and I am a rising fourth-year at UVA majoring in Neuroscience and minoring in Bioethics. I plan on going to medical school after graduating from UVA. Some extracurricular activities that I am involved in on Grounds are volunteering as an EMT at the Charlottesville-Albemarle Rescue Squad, research in a Neuroscience lab, leading tours at the Fralin Museum of Art, and leading a small group in a Christian fellowship called Chi Alpha. In my free time, I love to go on hikes! One of my favorite things about Charlottesville is that it is surrounded by many beautiful hiking trails and mountains. I am from Apopka, Florida, so I had never seen mountains before I came to Charlottesville. To this day, the beauty of the mountains continues to amaze me. Lastly, this is my second summer working as a coach with CONEX, and I am so excited to be a part of this team again and to meet all of you!</div>
    </div>
	

    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/caleb.jpg?raw=true"
    alt="AshleyHirt.jpg"  /></div>
    <div class="coach_name left">Caleb Neale</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Systems Engineering and Math</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2670746500">https://virginia.zoom.us/j/26707<br />46500</a></div>
    <div class="coach_college"><span class="coach_ital">Ashburn VA; Class of 2021</span></div>
    </div>
    <div class="coach_bio">Hey! My name is Caleb Neale and I'm a rising third year majoring in Systems Engineering with a second major in Math and a minor in Economics. I'm from Fort Lauderdale, Florida (outta state gang) and in my spare time I like to complain about how cold it is here in the "north". I also enjoy hiking, camping, traveling, cooking, and compulsive spreadsheeting. Hit me up for my favorite hikes, recipes, or excel tricks!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/tal.jpg?raw=true"
    alt="KylaJames.jpg"  /></div>
    <div class="coach_name left">Tal Dunne</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Economics and statistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/3995143140">https://virginia.zoom.us/j/39951<br />43140</a></div>
    <div class="coach_college"><span class="coach_ital">Falls Church, VA; Class of 2021</span></div>
    </div>
    <div class="coach_bio">Hey everyone! My name is Tal and I'm a rising fourth year, studying Economics and Statistics. Like many UVA students, I’m from Northern Virginia - Falls Church, to be exact. I’ve worked in the math department for a couple semesters now, and I’m truly excited to be working with you all this summer. On Grounds, one of my favorite activities is going rock climbing at the Slaughter Recreation Center. Additionally, you can find me in the front row at nearly every UVA basketball game. I look forward to meeting you all!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/john.jpg?raw=true"
    alt="AariaMalhotra.jpg"  /></div>
    <div class="coach_name left">John Quezada</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9290969984">https://virginia.zoom.us/j/92909<br />69984</a></div>
    <div class="coach_college"><span class="coach_ital">Endincott, New York; Class of 2021</span></div>
    </div>
    <div class="coach_bio">John Quezada is a 3rd-year from Endicott, New York. He is in the Engineering School at UVA, concentrating on biomedical engineering. He serves as Co-Chair of event coordination for Hoos First Look (HFL), a fly-in program for first-generation/low-income high school students. Outside of HFL, he is a Research Assistant for the Griffin Lab which focuses on developing biomaterials to accelerate wound healing. His involvements also include Chi Alpha Christian Fellowship and volunteering at the UVA Hospital. After graduating, he hopes to pursue a career in the medical field. In his free time, he enjoys going to the gym, trying new foods, and traveling!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/katya.jpg?raw=true"
    alt="AdamMcGill.jpg" /></div>
    <div class="coach_name left">Katya Mikhailova</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><strong>Major:</strong></div>
    <div class="coach_major">Physics and Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/3326939121">https://virginia.zoom.us/j/33269<br />39121</a></div>
    <div class="coach_college"><span class="coach_ital">Williamsburg, VA; Class of 2023</span></div>
    </div>
    <div class="coach_bio">My name is Katya Mikhailova, and I am a rising second-year from Williamsburg, Virginia.I will be majoring in physics and computer science. When I'm not doing problem sets, I like to spend time with friends, paint, and bake. A fun fact about me is that I am fluent in Russian.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/jackson.jpg?raw=true"
    alt="SaloniMittal.jpg" /></div>
    <div class="coach_name left">Jackson Wray</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Aerospace Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2442710915?pwd=NTJjb21oc1VjU21IL2VYMU1aMnV6dz09">https://virginia.zoom.us/j/24427<br />10915?pwd=NTJjb21oc1VjU21IL2VYMU1aMnV6dz09</a></div>
    <div class="coach_college"><span class="coach_ital">Seattle, Washington; Class of 2021 </span></div>
    </div>
    <div class="coach_bio">Hi, My name is Jackson Wray and I'm going to be a Third Year Aerospace Engineering major with a minor in Engineering Business. I'm an out-of-state student from just outside of Seattle, Washington, who enjoys hanging out with friends, working out, and playing IM sports during my free-time at UVA. I'm the current president of the AEPi Chapter on Grounds and want to get more involved with engineering clubs next semester of classes (most likely the Virginia Motorsports club). I have two brothers who went to the University of Miami in Florida and Occidental College in Los Angeles, so the people in my family aren't afraid to get out there and do our own thing!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name9" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/aubrey.jpg?raw=true"
    alt="SandraParedes.jpg" /></div>
    <div class="coach_name left">Aubrey Winger </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8270460386">https://virginia.zoom.us/j/82704<br />60386</a></div>
    <div class="coach_college"><span class="coach_ital">Purcellville, VA; Class of 2022</span></div>
    </div>
    <div class="coach_bio">My name is Aubrey Winger, and I am a rising 3rd year majoring in Biomedical Engineering and minoring in Anthropology. I am from Purcellville, Virginia. On grounds, I am involved in the Society of Women in Engineering, the Cavalier Marching Band, and the Madison House Medical Services volunteer program. In my free time, I love trying new restaurants in Charlottesville and going to Men's Basketball games! Go hoos!</div>
    </div>
    
    <div class="coach_packet">
    <div id="name10" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachesBioPics/william.jpg?raw=true"
    alt="SandraParedes.jpg" /></div>
    <div class="coach_name left">William Winston (Winston)</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Commerce and Math</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/5467343650">https://virginia.zoom.us/j/54673<br />43650</a></div>
    <div class="coach_college"><span class="coach_ital">Jakarta, Indonesia; Class of 2022</span></div>
    </div>
    <div class="coach_bio">My name is Winston, and I’m a rising third-year studying Commerce and Mathematics. I am originally from Jakarta, Indonesia, and I came to the US for college here at UVA. In my spare time, I enjoy reading old books and discovering even older music, usually while brewing some Sumatran coffee. You might also find me running in different parts of Charlottesville (post-quarantine).</div>
    </div>
    
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
	
    <div class="coaches_index">

    <a href="#name1">Helen Teklu</a><br />
    <a href="#name2">Madisen Patrick</a><br />
    <a href="#name3">Ashley Ewing</a><br />
    <a href="#name4">Caleb Neale</a><br />
    <a href="#name5">Tal Dunne</a><br />
    <a href="#name6">John Quezada</a><br />
    <a href="#name7">Katya Mikhailova</a><br />
    <a href="#name8">Jackson Wray</a><br />
    <a href="#name9">Aubrey Winger</a><br />
    <a href="#name10">William Winston</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">Orange Team</div>
    </div>
    </div>
  </body>
</html>