<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">


	
  
	
 
	
   
	
    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/zIMliyM.png"
    alt="Kevin_Jiang.png"  /></div>
    <div class="coach_name left">Kevin Jiang</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/my/kevin.jiang?pwd=bmNDK09Mcy96bUlGMVVVTDQzSGVydz09">https://duke.zoom.us/my/kevin<br />.jiang</a></div>
    <div class="coach_college"><span class="coach_ital">Class of 2023</span></div>
    </div>
    <div class="coach_bio">Kevin is a junior from Cleveland, OH majoring in Computer Science with a minor in Spanish Studies. His primary STEM interests lie in data science, network science, and optimization, and he is interning in an analytics group within a Charlotte, NC-area financial services company this summer. On campus, Kevin is actively involved in Duke Impact Investing Group, the Duke Chronicle's business team, Quizbowl, the Writing Studio, and as a Resident Assistant on West Campus.</div>
    </div>

    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/kFPNOO3.png"
    alt="Sawyer_Grovogel.png"  /></div>
    <div class="coach_name left">Sawyer Grovogel</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Chemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/my/sawyers.room">https://duke.zoom.us/my/sawyers<br />.room</a></div>
    <div class="coach_college"><span class="coach_ital">Class of 2024</span></div>
    </div>
    <div class="coach_bio">Sawyer Grovogel is from Green Bay, Wisconsin originally, but moved to Knoxville, Tennessee this past semester. He is a rising Junior majoring in Chemistry on a premed track. He is a member of the Duke Innovation studio, Pancakes for Parkinsons, Blue Devils Vs. Cancer, and works with Sexual Harassment and Assault Prevention and Education. Sawyer is a big sports fan and also enjoys rock climbing and hanging out with friends. </div>
    </div>

    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/TWTihsi.png"
    alt="Andrew_Liu.png"  /></div>
    <div class="coach_name left">Andrew Liu</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mechnical Engineering and Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/93035296582?pwd=VU1Ma21LWU9Cd0JsWUZwR3RnMkcwUT09">https://duke.zoom.us/j/9303<br />5296582</a></div>
    <div class="coach_college"><span class="coach_ital">Class of 2023</span></div>
    </div>
    <div class="coach_bio">Andrew Liu is a rising senior from Houston, TX majoring in Mechanical Engineering and Computer Science and minoring in Chemistry. Outside of class, but still in the academic sphere, he conducts research in materials for cleaner energy and serves as a TA for Computer Architecture (Andrew loves to teach!). Elsewhere on campus, he is involved in Duke Conservation Tech, whose mission is to apply the skills developed in the classroom to identify conservation problems, create technical solutions, and understand their impact; Duke Health and STEM Connect, where he strives to inspire students from Durham Public Schools (DPS) and engage them in learning STEM; and Duke ASL, where he learns ASL and about the Deaf community and its culture. When Andrew is not stressed about endless assignments, he enjoys spending time with friends, playing sports, and listening to/playing music!</div>
    </div>
	
    <div class="coaches_index">
   
    <a href="#name1">Kevin Jiang </a><br />
    <a href="name2">Sawyer Grovogel </a><br />
    <a href="name3">Andrew Liu </a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">ASCEND Team</div>
    </div>
    </div>
  </body>
</html>
