<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
        <div class="onexys_styling">
            <div class="title_mod standard_box module_box left post_test_page">
                <p>And now it's time for...</p>
                <h1>The Post - Test</h1>
            </div>
            <div class="quicklinks standard_title_box left post_test_page">
                <p>The Post Test is a great way to see how much you have improved over the course of CONEX. Note this is not the same as a knowledge check that some of you have seen as you reach the end of ALEKS. In fact, to take the post test, you need to go to a brand-new ALEKS course that we've set up just for this purpose.<br /><br /><br/><br/></p>
                <!-- ><p class="post_test_list">Here's what you need to do:<br /><br /></p> -->
                <p class="post_test_list post_test_first"><img src="https://conex.herokuapp.com/images/postTest/one_post.svg" alt="one" />Follow the link to the <a href="https://educationvirginia.instructure.com/enroll/M6K3FR" target="_blank" alt="CONEX Post Test">"CONEX 2021 Post Test" in ALEKS</a>.</p>
                <p class="post_test_list"><img src="https://conex-overhaul.herokuapp.com/images/postTest/two_post.svg" alt="two" />Click on "Enroll in Course".  Next, click on "Go to the Course"</p>
                <p class="post_test_list"><img src="https://conex-overhaul.herokuapp.com/images/postTest/three_post.svg" alt="three" />Follow instructions to ALEKS to take the Initial Knowledge Check. <em>This is the Post-Test</em></p>
                <p class="post_test_list"><img src="https://conex-overhaul.herokuapp.com/images/postTest/four_post.svg" alt="four" />Please complete the Post-Test by <strong>1159p, Friday August 6th</strong></p>
            </div>
        </div>
    </body>
</html>
