<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<body>
        <div class="onexys_styling">
            <div class="title_mod standard_box module_box left post_test_page">
                <p>And now it's time for...</p>
                <h1>The Post - Test</h1>
            </div>
            <div class="quicklinks standard_title_box left post_test_page">
                <p>The Post Test is a great way to see how much you have improved over the course of ONEXSS. Note this is not the same as a knowledge check that some of you have seen as you reach the end of ALEKS. In fact, to take the post test, you need to go to a brand-new ALEKS course that we've set up just for this purpose.<br /><br /></p>
                <p class="post_test_list">Here's what you need to do:<br /><br /></p>
                <p class="post_test_list post_test_first"><img src="https://onexys-smith.herokuapp.com/images/postTest/one_post.svg" alt="one" />Follow the link to the <a href="https://yale.instructure.com/courses/48040/assignments/109833" target="_blank">PLACE HOLDER LINK FOR POST TEST</a>. This will take you to "ONEXYS 2020 Post-Test" in ALEKS.</p>
                <p class="post_test_list"><img src="https://onexys-smith.herokuapp.com/images/postTest/two_post.svg" alt="two" />You will be asked to take an Initial Knowledge Check. <em>This is the Post-Test. When you have finished the Initial Knowledge Check, you will be able to see your score. Please do not continue on to "Start my Path".</em></p>
                <p class="post_test_list"><img src="https://onexys-smith.herokuapp.com/images/postTest/three_post.svg" alt="three" />Please complete the Post-Test by <strong>PLACE HOLDER FOR DEADLINE<sup>th </sup></strong><em>.</em></p>
            </div>
        </div>
    </body>
</html>
