
<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<body>
<div class="onexys_styling">
<div class="title_mod standard_box module_box left post_test_page">
<p>And now it's time for...</p>
<h1>The Post - Test</h1>
</div>
<div class="quicklinks standard_title_box left post_test_page">
<p><strong>To complete the Post-Test, you will first need to enroll in the Post-Test Canvas Course.</strong><br /><br /></p>
<p class="post_test_list">Here's what you need to do:<br /><br /></p>
<p class="post_test_list post_test_first"><img src="https://onexys-yale.herokuapp.com/images/postTest/one_post.svg" alt="one" />Follow the link to the <a href="https://yale.instructure.com/enroll/J6FR4R" target="_blank">Post-Test Course</a>. This will take you to "ONEXYS 2019 Post-Test" in Canvas.</p>
<p class="post_test_list"><img src="https://onexys-yale.herokuapp.com/images/postTest/two_post.svg" alt="two" />Click the blue "Enroll in Course" Button, then click on the blue "Go to Course" button on the next page.</p>
<p class="post_test_list"><img src="https://onexys-yale.herokuapp.com/images/postTest/three_post.svg" alt="three" />Follow the directions in the Post-Test course. Please complete the Post-Test by <strong>Midnight, Friday, August 9<sup>th </sup></strong><em>.</em></p>
</div>
</div>
    </body>
</html>