<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	
    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/test2.jpg?raw=true"
    alt="ObedAbabio.jpg" /></div>
    <div class="coach_name left">Saloni Mittal</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematics with a concentration in Statistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2249936051">https://virginia.zoom.us/j/2249936051</a></div>
    <div class="coach_college"><span class="coach_ital">Sterling, VA; Class of 2021 </span></div>
    </div>
    <div class="coach_bio">I'm really into playing soccer and I participate in IM soccer at UVA. I like to play the guitar,
	though I'm quite bad at it. I also like to go downtown often to explore the many restaurants with lots of good food.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Saloni.jpg?raw=true"
    alt="SethAnderson.jpg" /></div>
    <div class="coach_name left">Seth Anderson</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><strong>Major:</strong></div>
    <div class="coach_major">Molecular Biophysics and Biochemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/6517857424">https://yale.zoom.us/j/6517857424</a></div>
    <div class="coach_college"><span class="coach_ital">Branford, '20</span></div>
    </div>
    <div class="coach_bio">Hi everyone! My name is Seth Anderson, and I&rsquo;m a rising junior here at Yale. I am a Molecular Biophysics and
    Biochemistry (MB&amp;B) major who is also premed/planning to go to medical school post-graduation. I do research at the Yale
    Center for Pulmonary, Critical Care &amp; Sleep Medicine where I investigate the role of miRNAs in non-small cell lung cancers. I also work as a
    science tour guide and as a peer tutor for the general chemistry sequence. Outside of class and work, I volunteer at HAVEN,
    a free clinic for New Haven residents who don&rsquo;t have health insurance, teach English as a second language (ESL) classes to immigrants, and
    hold board positions both with the Yale Scientific Magazine&rsquo;s Synapse outreach branch, where I coordinate science
    outreach programs for New Haven public school students, and with Yale BeeSpace, the undergraduate beekeeping club. This summer I&rsquo;ll be
    staying in New Haven to do research in my lab on a fellowship and also to volunteer with two different clinical studies run
    jointly by the Yale and Quinnipiac medical schools. I&rsquo;m originally from Pittsburgh, Pennsylvania. I went to a small public high school in
    a small town outside of the city. It was the worst public high school in my county and one of the worst in the state, and
    I&rsquo;m the first student from my high school to attend Yale. If you, like me, feel like you were not adequately prepared by your high school
    to study at Yale, you might have worries or anxieties about classes. It&rsquo;s my goal to help alleviate those worries and
    to help you come into Yale ready to succeed. I think ONEXYS is a great program to prepare you for your studies. I am excited to be working as a
    coach and am looking forward to meeting and preparing my students!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/JillianEckroate.jpg?raw=true"
    alt="JillianEckroate.jpg" /></div>
    <div class="coach_name left">Jillian Eckroate</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Molecular, Cellular, and Developmental Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/5437128783">https://yale.zoom.us/j/5437128783</a></div>
    <div class="coach_college"><span class="coach_ital">Branford, '19</span></div>
    </div>
    <div class="coach_bio">Hi, my name is Jillian Eckroate and I am a rising senior in Branford College, originally from Canton, Ohio. I am an only
    child and the first person in my family to attend college. I went to a large suburban public high school and was very
    involved in speech and debate, symphony and marching band (a proud alto-saxophone player), community service organizations, and volunteering at
    local clinics and hospitals. At Yale, I have majored in Molecular, Cellular, and Developmental Biology while also being
    premed and taking a variety of global health and health policy courses. I am currently one of the Co-Coordinators of Community Health Educators,
    an organization I have been involved in since my first year on campus, one of Co-Directors for Student Partnerships for
    Global Health, and conduct oncology research at the Yale School of Medicine. I am so excited to be an ONEXYS coach this summer and I cannot wait
    to meet you all!</div>
    </div>
    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/GracielaGarcia.jpg?raw=true"
    alt="GracielaGarcia.jpg"  /></div>
    <div class="coach_name left">Graciela Garcia</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathmatics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://zoom.us/j/4172726113">https://zoom.us/j/4172726113</a></div>
    <div class="coach_college"><span class="coach_ital">Grace Hopper, '18</span></div>
    </div>
    <div class="coach_bio">Hi everyone, my name is Graciela Garcia, and I&rsquo;m a graduated senior with a fresh B.A. in Math. Although I&rsquo;ve
    just graduated from Yale, I spent my first two years of college at Umpqua Community College in Roseburg, OR before
    transferring into Yale at the beginning of my junior year. During my two years at Yale, I was involved in Hangarak, a Korean music acapella
    group, was part of the Academic Strategies Program as a Peer Mentor, worked as a tutor for Calculus, and also helped out as part
    of the Transfer Orientation Program. My other interests include martial arts, hiking, watching way too much Netflix, and playing with my
    dachshund Charlie. Currently, I&rsquo;m back in Oregon taking a year break before returning to school to pursue a Masters in either
    Education or Math in my pursuit to become a math teacher. Math has always been my passion, so I&rsquo;m so excited to spend the summer getting
    to know you guys and helping you undertake this awesome program!</div>
    </div>
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/SeamusHoulihan.jpg?raw=true"
    alt="SeamusHoulihan.jpg"  /></div>
    <div class="coach_name left">Seamus Houlihan</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Geology &amp; Geophysics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/6076999309"> https://yale.zoom.us/j/6076999309</a></div>
    <div class="coach_college"><span class="coach_ital">Trumbull, '19</span></div>
    </div>
    <div class="coach_bio">Seamus Houlihan is a senior in Trumbull College, Class of 2019, double majoring in Geology &amp; Geophysics and Ecology
    &amp; Evolutionary Biology. He's working on research into the formation and breakup of the supercontinent Rodinia, which
    occurred a billion years ago and how life developed on Earth in the early oceans. A STEM major who is interested in many different areas of
    science research, he looks forward to welcoming prefrosh to science and math at Yale through the ONEXYS program. Seamus is from
    upstate New York, the town of Chenango Forks (Go Blue Devils!). He plays trombone and writes scripts for the unstoppable, unavoidable, and
    unforgettable Yale Precision Marching Band. He also volunteers with IRIS, New Haven&rsquo;s refugee and immigrant service
    organization. He plays utility the Yale Men's Water Polo team. Seamus is excited to welcome this year's crop of Bulldogs! Boola! Boola!"</div>
    </div>
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/ChelseaIlarde.jpg?raw=true"
    alt="ChelseaIlarde.jpg"  /></div>
    <div class="coach_name left">Chelsea Ilarde</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Economics &amp; Psychology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/7485657537">https://yale.zoom.us/j/7485657537</a></div>
    <div class="coach_college"><span class="coach_ital">Davenport, '21</span></div>
    </div>
    <div class="coach_bio">Hello! My name is Chelsea Ilarde, and I&rsquo;m a rising sophomore in Davenport College. I was born and raised in
    Shelbyville, Tennessee, but my parents are originally from the Philippines. In high school, some of the things I was involved in
    included student government, lacrosse, and volunteering with my school&rsquo;s community service club, and in my free time, I enjoy reading,
    baking, and playing the piano! Here at Yale, I&rsquo;m planning to pursue a double major in Economics and Psychology, and I
    also play on the club lacrosse team, tutor recent New Haven immigrants in English, and work as an assistant in the Arts Library. I&rsquo;m so
    excited to meet my ONEXYS students and help them get ready for a great first year at Yale!</div>
    </div>
    <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/JohnnyLe.jpg?raw=true"
    alt="JohnnyLe.jpg" width="300" height="375" /></div>
    <div class="coach_name left">Johnny Le</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Statistics and Data Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/9229470307">https://yale.zoom.us/j/9229470307</a></div>
    <div class="coach_college"><span class="coach_ital">Jonathan Edwards, '21</span></div>
    </div>
    <div class="coach_bio">Hi, I&rsquo;m Johnny Le, a rising sophomore in JE from Orange County, California. My entire family is from Vietnam, so I
    am naturally bilingual. I went to a very large public school; my graduating class had 880 students! Throughout high school,
    I didn&rsquo;t do much besides playing a ton of soccer (adult leagues, rec leagues, with competitive club teams, and three years on the varsity
    team). As you can guess, I also play soccer here for Yale&rsquo;s C1 Men&rsquo;s team. Beyond that, I am involved with the
    Yale Undergraduate Curling Team, Yale Undergraduate Diversified Investments, Yale Net Impact, and have a start-up college consulting business
    with my suitemates. I used to play a variety of instruments and am slowly trying to get back into music as a hobby whenever
    time allows. My favorite TV shows are Silicon Valley and Rick and Morty, and I enjoy highly-competitive board games. In terms of academics, I
    plan to major in Statistics and Data Science and possibly also Economics or Math and Philosophy, but if you know anything
    about college students and their majors, that will probably change by the end of this school year. I am super stoked to meet all of you, and I
    know we&rsquo;re going to have a blast!</div>
    </div>
    <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/TJMaresca.jpg?raw=true"
    alt="TJMaresca.jpg"  /></div>
    <div class="coach_name left">T.J. Maresca</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Ecology &amp; Evolutionary Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/2069485775">https://yale.zoom.us/j/2069485775 </a></div>
    <div class="coach_college"><span class="coach_ital">Ezra Stiles, '21</span></div>
    </div>
    <div class="coach_bio">Hello, I&rsquo;m T.J. Maresca, and I&rsquo;m a rising sophomore in Ezra Stiles College. I grew up just outside Seattle,
    WA, and moved to Southern California (right next to Coachella) for high school. I&rsquo;m one of the few pre-vet students
    here at Yale, which anyone could figure out based on the amount of time I spend talking about my dogs (Watson and Sweet). As far as
    extracurriculars are concerned, my crowning achievement is running the Ezra Stiles Film Festival with my former suitemate. It is open to
    students in all residential colleges of all levels of expertise, so feel free to ask me about how to submit a film! I also spend a lot of my
    free time writing stories (or videos) and attending the performances of the many musical and dance groups around campus. On the
    academics side of things, I will most likely be an Ecology &amp; Evolutionary Biology (EEB) major, since I love fieldwork and the side of
    science that isn&rsquo;t constrained to a microscopic scale. I look forward to being an ONEXYS coach this summer and I hope I can
    help make my students&rsquo; transitions to Yale as smooth as possible!</div>
    </div>
    <div class="coach_packet">
    <div id="name9" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/EthanMcBride.jpg?raw=true"
    alt="EthanMcBride.jpg"  /></div>
    <div class="coach_name left">Ethan McBride</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Economics<br />Mathmatics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/2612445388">https://yale.zoom.us/j/2612445388</a></div>
    <div class="coach_college"><span class="coach_ital">Davenport, '21</span></div>
    </div>
    <div class="coach_bio">Hello, my name is Ethan McBride, and I&rsquo;m a rising sophomore who was born and raised in Plano, Texas. I have two
    older brothers: one who graduated from the University of Texas at Austin and now works as a crisis intervention counselor, and
    another who is currently attending Collin College. I play competitive table tennis and am currently the captain of the Yale team. I&rsquo;m also
    in MATH counts, a math outreach program in which a partner and I visit local public schools and teach the students
    competition math. I&rsquo;m a math and economics major at Yale and recommend that all of you take introductory microeconomics this year. I am
    extremely excited for ONEXYS and sincerely look forward to working with you all!</div>
    </div>
    <div class="coach_packet">
    <div id="name10" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/AnnaMcClain-Sims.jpg?raw=true"
    alt="AnnaMcClain-Sims.jpg"  /></div>
    <div class="coach_name left">Anna McClain-Sims</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Molecular Biophysics and Biochemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/3426036640">https://yale.zoom.us/j/3426036640</a></div>
    <div class="coach_college"><span class="coach_ital">Silliman, '21</span></div>
    </div>
    <div class="coach_bio">Hey there! I&rsquo;m Anna McClain-Sims, and I&rsquo;m a rising sophomore. I was raised in Boise, Idaho along with my
    younger brother and attended Borah High, one of Boise&rsquo;s five public high schools. During high school, I was very involved
    in LGBTQ volunteer work at the city-wide level and in other community service at the neighborhood level. I helped lead my school&rsquo;s GSA and
    was also part of fundraisers for War Child. At Yale I&rsquo;m working toward a degree in biochemistry with the hope of
    bringing care to under-served populations either through medical work or through research. I also work in the gift shop of the Yale Center for
    British Art with a wonderfully wacky boss and coworkers, and am involved with the New Haven Pride Center working to support
    and bring together LGBTQ youth in New Haven. Outside of class and work, my hobbies are singing, writing, drawing, reading manga, and watching
    medical videos on YouTube. I&rsquo;m so excited to be an ONEXYS coach this summer, and I can&rsquo;t wait to meet and work
    alongside you all.</div>
    </div>
    <div class="coach_packet">
    <div id="name11" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/NatalyMartinez.jpg?raw=true"
    alt="NatalyMartinez.jpg"  /></div>
    <div class="coach_name left">Nataly Moreno-Martinez</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a>https://yale.zoom.us/j/2773370103</a></div>
    <div class="coach_college"><span class="coach_ital">Davenport, '21</span></div>
    </div>
    <div class="coach_bio">Hello! My name is Nataly Moreno-Martinez, a rising sophomore born in the sunny island of Cuba and raised in Albuquerque,
    New Mexico. My father, mother, sister, and myself emigrated to the US when I turned two. My mother is an avid arts
    enthusiast, while my father an academic with core interests in the sciences. I followed in their footsteps in my high school career at
    Albuquerque Academy, in the heart of my hometown. I spent most of my time there participating in Science Olympiad, school plays,
    volunteering with a local environmental organization, dancing, practicing acrobatics, and interning at a patent law firm. I&rsquo;m currently
    studying Biomedical Engineering at Yale, with plans to double-major in either Spanish or Political Science. I have also danced
    with Yale Danceworks, MC-ed as well as acted in various productions, volunteered with the Reproductive Justice Action League at Yale, and built
    rockets with the Yale Undergraduate Aerospace Association. I&rsquo;m thrilled to offer the expertise derived from these
    experiences to my ONEXYS students as they develop their skills over the summer.</div>
    </div>
    <div class="coach_packet">
    <div id="name12" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/SavannahPederson.jpg?raw=true"
    alt="SavannahPederson.jpg"  /></div>
    <div class="coach_name left">Savannah Pedersen</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Molecular, Cellular and Developmental Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/3556104665">https://yale.zoom.us/j/3556104665</a></div>
    <div class="coach_college"><span class="coach_ital">Pierson, '19</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Savannah Pedersen, and I&rsquo;m a rising senior in Pierson College. I&rsquo;ve moved eight times and
    lived in Texas, Washington, New York, Minnesota, Connecticut, and the U.K, but my parents are from small towns in Iowa. I went
    to high school in Seattle and I&rsquo;m a transfer student from Georgetown University. Some of my interests include yoga, volunteering with
    Crisis Text Line, avidly cheering on my Seattle Seahawks, volleyball, country music, and eating way too much sushi. I&rsquo;m
    majoring in Molecular, Cellular and Developmental Biology, and I&rsquo;m planning to go on to medical school after Yale, but I&rsquo;m also
    interested in researching forms of dysautonomia. At Yale, I volunteer with Hypertension Awareness &amp; Prevention Program,
    shadow doctors at Yale New Haven Hospital, organize events as a Head Transfer Counselor, and serve on the board of Yale Medical Professions
    Outreach.</div>
    </div>
    <div class="coach_packet">
    <div id="name13" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/SkylarRegan.jpg?raw=true"
    alt="SkylarRegan.jpg"  /></div>
    <div class="coach_name left">Skylar Regan</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/8160056287">https://yale.zoom.us/j/8160056287</a></div>
    <div class="coach_college"><span class="coach_ital">Saybrook, '21</span></div>
    </div>
    <div class="coach_bio">Hello! My name is Skylar Regan and I&rsquo;m a rising sophomore in Saybrook College. I&rsquo;m from Old Tappan, New
    Jersey and went to a public high school called Northern Valley Old Tappan. Throughout high school, I was part of the varsity
    cross country, basketball, and track teams and also volunteered as a peer mentor at my local middle school. At Yale, I&rsquo;m a prospective
    premed student and Biomedical Engineering major. Outside of the classroom, I&rsquo;m an Intramural Sports Secretary for
    Saybrook College, an Engineering Tour Guide, and the Director of Finance for Yale&rsquo;s Chapter of the Foundation for International Medical
    Relief for Children. I&rsquo;m super excited about working with incoming Yale students this summer and helping them prepare
    for their transition to college!</div>
    </div>
    <div class="coach_packet">
    <div id="name14" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/JaredTruong.jpg?raw=true"
    alt="JaredTruong.jpg"  /></div>
    <div class="coach_name left">Jared Truong</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/7315397407">https://yale.zoom.us/j/7315397407</a></div>
    <div class="coach_college"><span class="coach_ital">Trumbull, '21</span></div>
    </div>
    <div class="coach_bio">Hello! My name is Jared Truong and I am a rising sophomore at Yale. I was born and raised in sunny San Diego, California,
    and had not seen snow until I came to Yale. Both my parents emigrated to the United States when they were in high school.
    My mom grew up in Taiwan and my dad grew up in Vietnam, though he is Chinese. Thus, I am half Taiwanese and half Chinese. I attended a large
    public high school in San Diego, an environment very different from Yale. Here at Yale, I plan on majoring in Computer Science,
    but am also interested in exploring other science and humanities courses. Outside of my classes, I play competitive badminton and enjoy
    teaching. Last semester, I served as a TA for an introductory computer science course and will be doing the same in the Fall.
    I&rsquo;m excited to work with all the incoming first-year students this summer as an ONEXYS coach and cannot wait to meet everyone!</div>
    </div>
    <div class="coach_packet">
    <div id="name15" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/ReneTung.jpg?raw=true"
    alt="ReneTung.jpg"  /></div>
    <div class="coach_name left">Renee Tung</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/5754752206">https://yale.zoom.us/j/5754752206</a></div>
    <div class="coach_college"><span class="coach_ital">Ezra Stiles, '21</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Renee Tung, and I&rsquo;m a rising sophomore in Stiles. I&rsquo;m from Clarksville, Maryland, a small
    suburban (borderline rural) town where I&rsquo;ve lived practically all my life with my parents and younger brother. I love
    playing piano and listening to music (especially classical music), reading up on research (usually neuro/psych-related), playing cards, and
    volunteering! At Yale, I am a prospective Neuroscience major and pre-med, with an interest in public health as well. I&rsquo;m
    involved in multiple service organizations such as the Restaurant Rescue Project, which is part of the Yale Hunger and Homelessness Action
    Project (YHHAP), FOCUS on New Haven, and the Hypertension Awareness and Prevention Program at Yale (HAPPY). I&rsquo;m also a part
    of the Piano Collective, the Helix Group, which is a biomedical innovation group, and Danceworks. This summer, I&rsquo;ll be on campus doing
    neuroscience research! I&rsquo;m really excited to be an ONEXYS coach because that means I get to lead pre-frosh into their
    Yale academic experience and show them how fun and rewarding it can be!</div>
    </div>
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
    <div class="coaches_index">
    <a href="#name1">Obed Ababio</a><br />
    <a href="#name2">Seth Anderson</a><br />
    <a href="#name3">Jillian Eckroate</a><br />
    <a href="#name4">Graciela Garcia</a><br />
    <a href="#name5">Seamus Houlihan</a><br />
    <a href="#name6">Chelsea Ilarde</a><br />
    <a href="#name7">Johnny Le</a><br />
    <a href="#name8">T.J. Maresca</a><br />
    <a href="#name9">Ethan McBride</a><br />
    <a href="#name10">Anna McClain-Sims</a><br />
    <a href="#name11">Nataly Moreno-Martinez</a><br />
    <a href="#name12">Savannah Pedersen</a><br/>
    <a href="#name13">Skylar Regan</a><br />
    <a href="#name14">Jared Truong</a><br />
    <a href="#name15">Renee Tung</a></div>
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_grayteam">Blue Team</div>
    </div>
    </div>
  </body>
</html>
