<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	
    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Saloni_blue.jpg?raw=true"
    alt="SaloniMittal.jpg" /></div>
    <div class="coach_name left">Saloni Mittal</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematics with a concentration in Statistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2249936051">https://virginia.zoom.us/j/2249<br />936051</a></div>
    <div class="coach_college"><span class="coach_ital">Sterling, VA; Class of 2021 </span></div>
    </div>
    <div class="coach_bio">I&rsquo;m really into playing soccer and I participate in IM soccer at UVA. I like to play the guitar,
	though I&rsquo;m quite bad at it. I also like to go downtown often to explore the many restaurants with lots of good food.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Adam_blue.jpg?raw=true"
    alt="AdamMcGill.jpg" /></div>
    <div class="coach_name left">Adam McGill</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><strong>Major:</strong></div>
    <div class="coach_major">Computer Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9670423959">https://virginia.zoom.us/j/9670<br />423959</a></div>
    <div class="coach_college"><span class="coach_ital">Keswick, VA; Class of 2021</span></div>
    </div>
    <div class="coach_bio">I grew up just outside of Charlottesville and went to Monticello High School. My hobbies include eating, soccer, and
	watching UVA sports win. I can be found at either the NI lab in Thornton, the PAV buying a milkshake, the physics building, or Carr&rsquo;s Hill
	field. My favorite UVA memories include dancing at Resto Ball, and then watching UVA vs. Purdue, staring at the back of LeBron James&rsquo; head
	in JPJ (and seeing Rondo too, I guess), listening to my friends play jazz in Old Cabell, and whupping all my enemies in a snowball fight
	at the Lawn. First year tip: don't play soccer in your room after midnight or the RA will come talk to you.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Sandra_blue.jpg?raw=true"
    alt="SandraParedes.jpg" /></div>
    <div class="coach_name left">Sandra Paredes</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8090433492">https://virginia.zoom.us/j/8090<br />433492</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Aaria_blue.jpg?raw=true"
    alt="AariaMalhotra.jpg"  /></div>
    <div class="coach_name left">Aaria Malhotra</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience and Spanish</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8893037307">https://virginia.zoom.us/j/8893<br />037307</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Kyla_blue.jpg?raw=true"
    alt="KylaJames.jpg"  /></div>
    <div class="coach_name left">Kyla James</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Sociology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/6076999309"> https://yale.zoom.us/j/6076<br />999309</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/AshleyH_blue.jpg?raw=true"
    alt="AshleyHirt.jpg"  /></div>
    <div class="coach_name left">Ashley Hirt</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology and Biostatistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/7485657537">https://yale.zoom.us/j/7485<br />657537</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Ashley_blue.jpg?raw=true"
    alt="AshleyEwing.jpg" width="300" height="375" /></div>
    <div class="coach_name left">Ashley Ewing</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/9229470307">https://yale.zoom.us/j/9229<br />470307</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Jas_blue.jpg?raw=true"
    alt="JasmanetChahal.jpg"  /></div>
    <div class="coach_name left">Jasmanet Chahal</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/2069485775">https://yale.zoom.us/j/2069<br />485775</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name9" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Sophie_blue.jpg?raw=true"
    alt="SophieBreedveld.jpg"  /></div>
    <div class="coach_name left">Sophie Breedveld</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biochemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/2612445388">https://yale.zoom.us/j/2612<br />445388</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name10" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Connor_blue.jpg?raw=true"
    alt="ConnorAmelung.jpg"  /></div>
    <div class="coach_name left">Connor Amelung</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering and Psychology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/3426036640">https://yale.zoom.us/j/3426<br />036640</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name11" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Mika_blue.jpg?raw=true"
    alt="MikaPoblete.jpg"  /></div>
    <div class="coach_name left">Mika Poblete</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Biochemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2758688042">https://virginia.zoom.us/j/2758<br />688042</a></div>
    <div class="coach_college"><span class="coach_ital">Baltimore, MD; Class of 2021</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name12" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/SavannahPederson.jpg?raw=true"
    alt="SavannahPederson.jpg"  /></div>
    <div class="coach_name left">Savannah Pedersen</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Molecular, Cellular and Developmental Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/3556104665">https://yale.zoom.us/j/3556104665</a></div>
    <div class="coach_college"><span class="coach_ital">Pierson, '19</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Savannah Pedersen, and I&rsquo;m a rising senior in Pierson College. I&rsquo;ve moved eight times and
    lived in Texas, Washington, New York, Minnesota, Connecticut, and the U.K, but my parents are from small towns in Iowa. I went
    to high school in Seattle and I&rsquo;m a transfer student from Georgetown University. Some of my interests include yoga, volunteering with
    Crisis Text Line, avidly cheering on my Seattle Seahawks, volleyball, country music, and eating way too much sushi. I&rsquo;m
    majoring in Molecular, Cellular and Developmental Biology, and I&rsquo;m planning to go on to medical school after Yale, but I&rsquo;m also
    interested in researching forms of dysautonomia. At Yale, I volunteer with Hypertension Awareness &amp; Prevention Program,
    shadow doctors at Yale New Haven Hospital, organize events as a Head Transfer Counselor, and serve on the board of Yale Medical Professions
    Outreach.</div>
    </div>
    <div class="coach_packet">
    <div id="name13" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/SkylarRegan.jpg?raw=true"
    alt="SkylarRegan.jpg"  /></div>
    <div class="coach_name left">Skylar Regan</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/8160056287">https://yale.zoom.us/j/8160056287</a></div>
    <div class="coach_college"><span class="coach_ital">Saybrook, '21</span></div>
    </div>
    <div class="coach_bio">Hello! My name is Skylar Regan and I&rsquo;m a rising sophomore in Saybrook College. I&rsquo;m from Old Tappan, New
    Jersey and went to a public high school called Northern Valley Old Tappan. Throughout high school, I was part of the varsity
    cross country, basketball, and track teams and also volunteered as a peer mentor at my local middle school. At Yale, I&rsquo;m a prospective
    premed student and Biomedical Engineering major. Outside of the classroom, I&rsquo;m an Intramural Sports Secretary for
    Saybrook College, an Engineering Tour Guide, and the Director of Finance for Yale&rsquo;s Chapter of the Foundation for International Medical
    Relief for Children. I&rsquo;m super excited about working with incoming Yale students this summer and helping them prepare
    for their transition to college!</div>
    </div>
    <div class="coach_packet">
    <div id="name14" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/JaredTruong.jpg?raw=true"
    alt="JaredTruong.jpg"  /></div>
    <div class="coach_name left">Jared Truong</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/7315397407">https://yale.zoom.us/j/7315397407</a></div>
    <div class="coach_college"><span class="coach_ital">Trumbull, '21</span></div>
    </div>
    <div class="coach_bio">Hello! My name is Jared Truong and I am a rising sophomore at Yale. I was born and raised in sunny San Diego, California,
    and had not seen snow until I came to Yale. Both my parents emigrated to the United States when they were in high school.
    My mom grew up in Taiwan and my dad grew up in Vietnam, though he is Chinese. Thus, I am half Taiwanese and half Chinese. I attended a large
    public high school in San Diego, an environment very different from Yale. Here at Yale, I plan on majoring in Computer Science,
    but am also interested in exploring other science and humanities courses. Outside of my classes, I play competitive badminton and enjoy
    teaching. Last semester, I served as a TA for an introductory computer science course and will be doing the same in the Fall.
    I&rsquo;m excited to work with all the incoming first-year students this summer as an ONEXYS coach and cannot wait to meet everyone!</div>
    </div>
    <div class="coach_packet">
    <div id="name15" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/suryadutta/ONEXYS/blob/master/public/images/CoachBioPics18/ReneTung.jpg?raw=true"
    alt="ReneTung.jpg"  /></div>
    <div class="coach_name left">Renee Tung</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/5754752206">https://yale.zoom.us/j/5754752206</a></div>
    <div class="coach_college"><span class="coach_ital">Ezra Stiles, '21</span></div>
    </div>
    <div class="coach_bio">Hi! My name is Renee Tung, and I&rsquo;m a rising sophomore in Stiles. I&rsquo;m from Clarksville, Maryland, a small
    suburban (borderline rural) town where I&rsquo;ve lived practically all my life with my parents and younger brother. I love
    playing piano and listening to music (especially classical music), reading up on research (usually neuro/psych-related), playing cards, and
    volunteering! At Yale, I am a prospective Neuroscience major and pre-med, with an interest in public health as well. I&rsquo;m
    involved in multiple service organizations such as the Restaurant Rescue Project, which is part of the Yale Hunger and Homelessness Action
    Project (YHHAP), FOCUS on New Haven, and the Hypertension Awareness and Prevention Program at Yale (HAPPY). I&rsquo;m also a part
    of the Piano Collective, the Helix Group, which is a biomedical innovation group, and Danceworks. This summer, I&rsquo;ll be on campus doing
    neuroscience research! I&rsquo;m really excited to be an ONEXYS coach because that means I get to lead pre-frosh into their
    Yale academic experience and show them how fun and rewarding it can be!</div>
    </div>
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
    <div class="coaches_index">
    <a href="#name1">Saloni Mittal</a><br />
    <a href="#name2">Adam McGill</a><br />
    <a href="#name3">Sandra Paredes</a><br />
    <a href="#name4">Aaria Malhotra</a><br />
    <a href="#name5">Kyla James</a><br />
    <a href="#name6">Ashley Hirt</a><br />
    <a href="#name7">Ashley EWing</a><br />
    <a href="#name8">Jasmanet Chahal</a><br />
    <a href="#name9">Sophie Breedveld</a><br />
    <a href="#name10">Connor Amelung</a><br />
    <a href="#name11">Mika Poblete</a><br />
    <a href="#name12">Savannah Pedersen</a><br/>
    <a href="#name13">Skylar Regan</a><br />
    <a href="#name14">Jared Truong</a><br />
    <a href="#name15">Renee Tung</a></div>
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_grayteam">Blue Team</div>
    </div>
    </div>
  </body>
</html>
