<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">
	
    <div class="coach_packet">
    <div id="name1" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Connor_blue.jpg?raw=true"
    alt="ConnorAmelung.jpg"  /></div>
    <div class="coach_name left">Connor Amelung</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering and Psychology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/3426036640">https://yale.zoom.us/j/3426<br />036640</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name2" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Jas_blue.jpg?raw=true"
    alt="JasmanetChahal.jpg"  /></div>
    <div class="coach_name left">Jasmanet Chahal</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8575899625">https://virginia.zoom.us/j/8575<br />899625</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name3" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Ashley_blue.jpg?raw=true"
    alt="AshleyEwing.jpg" width="300" height="375" /></div>
    <div class="coach_name left">Ashley Ewing</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/9229470307">https://yale.zoom.us/j/9229<br />470307</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>

    <div class="coach_packet">
    <div id="name4" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/AshleyH_blue.jpg?raw=true"
    alt="AshleyHirt.jpg"  /></div>
    <div class="coach_name left">Ashley Hirt</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biology and Biostatistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/7485657537">https://yale.zoom.us/j/7485<br />657537</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name5" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Kyla_blue.jpg?raw=true"
    alt="KylaJames.jpg"  /></div>
    <div class="coach_name left">Kyla James</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Sociology</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://yale.zoom.us/j/6076999309"> https://yale.zoom.us/j/6076<br />999309</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name6" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Aaria_blue.jpg?raw=true"
    alt="AariaMalhotra.jpg"  /></div>
    <div class="coach_name left">Aaria Malhotra</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience and Spanish</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8893037307">https://virginia.zoom.us/j/8893<br />037307</a></div>
    <div class="coach_college"><span class="coach_ital">Haymarket, VA; Class of 2021</span></div>
    </div>
    <div class="coach_bio">My name is Aaria Malhotra and I&rsquo;m from Haymarket, VA. I am double majoring in Neuroscience and Spanish with a pre-med 
	concentration, and am expecting to graduate in 2021. On grounds, I am a Resident Advisor (RA) so I get to live with first year in dorms! 
	I also work in a social neuroscience research lab, am a member of the international pre-medical fraternity PhiDE, serve as Chair of 
	Mentorship on Echols Council, am a member of salsa club, and volunteer at the UVA Emergency Department. Fun fact: I studied abroad in 
	Valencia, Spain last summer and it was an amazing experience. I would definitely recommend studying abroad!</div>
    </div>
	
    <div class="coach_packet">
    <div id="name7" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Adam_blue.jpg?raw=true"
    alt="AdamMcGill.jpg" /></div>
    <div class="coach_name left">Adam McGill</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><strong>Major:</strong></div>
    <div class="coach_major">Computer Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/9670423959">https://virginia.zoom.us/j/9670<br />423959</a></div>
    <div class="coach_college"><span class="coach_ital">Keswick, VA; Class of 2021</span></div>
    </div>
    <div class="coach_bio">I grew up just outside of Charlottesville and went to Monticello High School. My hobbies include eating, soccer, and
	watching UVA sports win. I can be found at either the NI lab in Thornton, the PAV buying a milkshake, the physics building, or Carr&rsquo;s Hill
	field. My favorite UVA memories include dancing at Resto Ball, and then watching UVA vs. Purdue, staring at the back of LeBron James&rsquo; head
	in JPJ (and seeing Rondo too, I guess), listening to my friends play jazz in Old Cabell, and whupping all my enemies in a snowball fight
	at the Lawn. First year tip: don't play soccer in your room after midnight or the RA will come talk to you.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name8" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Saloni_blue.jpg?raw=true"
    alt="SaloniMittal.jpg" /></div>
    <div class="coach_name left">Saloni Mittal</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematics with a concentration in Statistics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2249936051">https://virginia.zoom.us/j/2249<br />936051</a></div>
    <div class="coach_college"><span class="coach_ital">Sterling, VA; Class of 2021 </span></div>
    </div>
    <div class="coach_bio">I&rsquo;m really into playing soccer and I participate in IM soccer at UVA. I like to play the guitar,
	though I&rsquo;m quite bad at it. I also like to go downtown often to explore the many restaurants with lots of good food.</div>
    </div>
	
    <div class="coach_packet">
    <div id="name9" class="coach_header"></div>
	<div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Sandra_blue.jpg?raw=true"
    alt="SandraParedes.jpg" /></div>
    <div class="coach_name left">Sandra Paredes</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mathematics</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/8090433492">https://virginia.zoom.us/j/8090<br />433492</a></div>
    <div class="coach_college"><span class="coach_ital">Hometown; Grad Year</span></div>
    </div>
    <div class="coach_bio">Insert bio here</div>
    </div>
	
    <div class="coach_packet">
    <div id="name10" class="coach_header"></div>
    <div class="coach_photo"><img src="https://github.com/UVAMobileDev/ONEXYS/blob/master/public/images/coachBioPics19/Mika_blue.jpg?raw=true"
    alt="MikaPoblete.jpg"  /></div>
    <div class="coach_name left">Mika Poblete</div>
    <br />
    <div class="coach_prelim">
    <div class="coach_major_strong"><br /><br /><strong>Major:</strong></div>
    <div class="coach_major">Biochemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://virginia.zoom.us/j/2758688042">https://virginia.zoom.us/j/2758<br />688042</a></div>
    <div class="coach_college"><span class="coach_ital">Baltimore, MD; Class of 2021</span></div>
    </div>
    <div class="coach_bio">My name is Mika Poblete, and I&rsquo;m from Baltimore, Maryland. I study chemistry at UVA, and I&rsquo;m 
	involved in research on the secretion systems of pathological bacteria. Feel free to ask me about how to get involved in research
	here at UVA! I&rsquo;m also involved in Alpha Chi Sigma, the professional chemistry fraternity here on Grounds. Beyond that, I lead
	a photography course at HackCville, a local non-profit where people can learn different creative and technical skills. Outside of UVA,
	I am also a competetive horseback rider, and I love cooking, hiking, and reading. Fun fact about me: the way I deal with stress is by deep
	cleaning my apartment.</div>
    </div>
    
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>
	
    <div class="coaches_index">
    <a href="#name1">Connor Amelung</a><br />
    <a href="#name2">Jasmanet Chahal</a><br />
    <a href="#name3">Ashley Ewing</a><br />
    <a href="#name4">Ashley Hirt</a><br />
    <a href="#name5">Kyla James</a><br />
    <a href="#name6">Aaria Malhotra</a><br />
    <a href="#name7">Adam McGill</a><br />
    <a href="#name8">Saloni Mittal</a><br />
    <a href="#name9">Sandra Paredes</a><br />
    <a href="#name10">Mika Poblete</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_grayteam">Blue Team</div>
    </div>
    </div>
  </body>
</html>
