<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
<body>
<div class="user_content">
<div class="onexys_styling lifeoverride">

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header welcomefirst" id="vid6"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/0S9VvoFnTUk?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Outdoor Adventures<br><br><span class="lifeatdescription">Ashley Ewing tells us about the many outdoor activities on or near Grounds.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid1"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/vp5cUT--g4A?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Library Resources<br><br><span class="lifeatdescription">Mika Poblete helps us navigate the <em>many</em>  libraries on Grounds and what they provide.</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid7"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/p-gK809YGzQ?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">On Grounds Housing and Residence Halls<br><br><span class="lifeatdescription">Aaria Malhotra tells us about the housing, residence halls, and dining options on Grounds.</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid3"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/-QWIu3ln5zk?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">UVA Sports and Sabre Points<br><br><span class="lifeatdescription">Kyla James talks about sporting events at UVA and the Sabre Point system.</div>
	</div>
	

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid10"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/aLH71AW0oY8?autoplay=true">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Cultural Center Resources<br><br><span class="lifeatdescription">Sandra Paredes tells us about the cultural centers on Grounds.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid9"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/xAAAu5rXsgY?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Off-Grounds Food Options<br><br><span class="lifeatdescription">Saloni Mittal discusses her favorite off-Grounds dining options.</div>
	</div>


<!--
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid8"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/mmAWZSOzBxM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">IM Sports<br><br><span class="lifeatdescription">Adam McGill explains how to play on an IM team.</div>
	</div>




	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid6"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/URu1cem49TI?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Outdoor Adventures<br><br><span class="lifeatdescription">Ashley Ewing tells us about the many outdoor activities UVA students enjoy.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid5"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/kj0YMcgTb9Y?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Prepping for Exams<br><br><span class="lifeatdescription">Jasmanet Chahal giving us some tips and trick when it comes to surviving exam week.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid4"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/CSasLeFTp88?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Joining Clubs/CIOs<br><br><span class="lifeatdescription">Connor Amelung tells us about how to deal with navigating the overwhelming about of clubs there are to join</div>
	</div>



	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid2"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/uRLjdVDSUX4?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Study Spots<br><br><span class="lifeatdescription">Ashley Hirt shows us around some of her favorite study spots.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid1"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/poWGHF48QHw?autoplay=1">
                    <img class="onexys_thumbnail" src="https://conex.herokuapp.com/images/lifeAtYale/lifeongrounds.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Navigating Clark Library<br><br><span class="lifeatdescription">Mika Poblete shows us around the Clark Hall library.</div>
	</div>

-->


<div class="welcometitle coach_title lifeattitleshad"></div>
<div class="coaches_index lifeatindex">
	<a href="#vid6">Outdoor Adventures</a> <br />
	<a href="#vid1">Library Resources at UVA</a><br/>
	<a href="#vid7">On Grounds Dining</a><br />
	<a href="#vid3">UVA Sports and Sabre Points</a><br />
	<a href="#vid10">Cultural Center Resources</a><br />
	<a href="#vid9">Off Grounds Food Options</a><br />


	<!--
	<a href="#vid8">IM Sports</a><br />
	
	<a href="#vid6">Outdoor Adventures</a> <br />
	<a href="#vid5">Prepping for Exams</a><br />
    <a href="#vid4">Joining Clubs/CIOs</a>
	<a href="#vid2">Study Spots</a><br />
	<a href="#vid1">Navigating Clark Library</a></div>
	-->

<div class="coach_title welcometitle lifeattitle">
		<p>Now Presenting...</p>
		<h1>LifeOnGrounds</h1>
	</div>


</div>
</div>
</body>
</html>
