<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
<body>
<div class="user_content">
<div class="onexys_styling lifeoverride">

    <!--
            <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=141d1313-a5ad-462b-bb61-cd0ae18a2969&autoplay=true">
                <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                <img class="onexys_playbutton" src="https://onexys.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
            </div>
            <p><span style="font-size: 12pt;"><strong>Zach Kreiser and Julie Luo</strong> give great tips on <em>time management</em>.</p>


            <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=7d01d4b8-327b-4332-856a-170bc61bfd1e&autoplay=true">
                <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                <img class="onexys_playbutton" src="https://onexys.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
            </div>
            <p><span style="font-size: 12pt;"><strong>Jonathan Roig and Melina Delgado</strong> take us on a sneak peak of <em>Benjamin Franklin ad Pauli Murray Colleges</em>.</p>


            <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=db137a28-4210-470d-b69a-2ae4a08842f1&autoplay=true">
                <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                <img class="onexys_playbutton" src="https://onexys.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
            </div>
            <p><span style="font-size: 12pt;"><strong>Kees Schipper</strong> gives great advice for <em>getting through midterms and finals</em>.</p>



    -->

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header welcomefirst" id="vid29"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=141d1313-a5ad-462b-bb61-cd0ae18a2969&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Time Management<br><br><span class="lifeatdescription">Zach Kreiser and Julie Luo give great tips on time management.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid28"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=7d01d4b8-327b-4332-856a-170bc61bfd1e&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Benjamin Franklin and Pauli Murray Colleges<br><br><span class="lifeatdescription">Jonathan Roig and Melina Delgado take us on a sneak peak of Benjamin Franklin ad Pauli Murray Colleges.</div>
	</div>

		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid27"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=db137a28-4210-470d-b69a-2ae4a08842f1&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Surviving Mid-terms and Finals<br><br><span class="lifeatdescription">Kees Schipper gives great advice for getting through midterms and finals.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid26"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=5ab21769-c5c1-4ba9-8e9e-94f12d7cb748&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">What I wish I would have known...<br><br><span class="lifeatdescription">Shruti Baxti talks about "What I wish I would have known...".</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid25"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=f7d4c8a3-0aa4-4208-b8c2-354edb92aa6b&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Math resources<br><br><span class="lifeatdescription">Professor John Hall talks about math resources available to students.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid24"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=513b05eb-76f7-492c-acd6-b8f6db3f700c&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Trying new things<br><br><span class="lifeatdescription">Olivia Tracey remembers trying new things on campus when she first arrived last fall.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid23"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=1fcf7ad9-4504-4241-8bc9-caa6d36cef2c&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Cultural centers<br><br><span class="lifeatdescription">Tran Dang talks about cultural centers at Yale</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid22"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=3b57386b-f918-4f97-8c49-108d44ed1d57&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Choosing courses in your first year<br><br><span class="lifeatdescription">Tra Nguyen gives great advice for choosing courses in your first year.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid21"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=3ef78b8c-bf92-4623-a3eb-e508f9bb6019&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Escaping the Yale bubble<br><br><span class="lifeatdescription">Victoria Palmer and Serena Ly interview each other about escaping the Yale Bubble.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid20"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=0a40b9f0-2882-46d2-80fc-5b2c09aac741&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Advice to my college self<br><br><span class="lifeatdescription">Dr. Karin Gosselink looks back and gives advice to herself she wishes she would have been given.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid19"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=b2b02267-86e3-4d6b-bda2-27d1c42f42b0&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Healthy Lifestyles<br><br><span class="lifeatdescription">Djan Kweku (with an assist from Sophie Menard) talks about having a healthy lifestyle.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid18"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=7653315a-684b-40a9-9f43-17963f75e83c&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Extra-curricular activities<br><br><span class="lifeatdescription">Kevin Koste and Kayleigh Bishop talk about fun things to do outside of class.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid17"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=d132c983-663e-484c-8af1-b0ee4fd40d74&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Musical life at Yale<br><br><span class="lifeatdescription">Ece Bozkurt and Matthew Le take us on a journey of musical life at Yale.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid16"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=1b8737cd-9e21-46eb-b19d-3be8781ea538&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Math advice<br><br><span class="lifeatdescription">Professor John Hall gives some math-specific advice to incoming students.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid15"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=62ba30a0-3494-46dd-b223-0e02c818e688&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Choosing a Major<br><br><span class="lifeatdescription">Lily Mirfakhraie (with an assist from Hannah Nikole Almonte) talks about choosing a major.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid14"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=6ccc5b3f-8b83-4bb2-96c6-7ac9a29d382e&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">(Pre) Orientation 1<br><br><span class="lifeatdescription">Jessica Asiedu (with an assist from Ademide Ajayi) talks about pre-orientation.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid13"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=6488ad63-6978-4a82-a0ee-4ccc97a38b6a&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Coffee Shop Tour<br><br><span class="lifeatdescription">Graciela Garcia and Allie Forman take us on a local coffee shop tour.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header " id="vid12"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=562dc0fb-5d0e-485c-bf2c-635996c482ff&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Academic Strategies<br><br><span class="lifeatdescription">Dr. Karin Gosselink talks about academic strategies.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid11"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=67afea7e-6309-4939-bf95-638b14964b87&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
			    </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Sports and Intramurals<br><br><span class="lifeatdescription">Alex Galland talks about sports and intramurals at Yale.</div>
	</div>


	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="vid10"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=04510724-91dd-47a7-a05e-1641788ac1cb&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
				</a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Research Experiences<br><br><span class="lifeatdescription">Jed Thompson talks about the many, many opportunities for research as an undergraduate here at Yale.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	<div class="coach_header" id="vid9">
	</div>
	<div class="vid-container lifeatvid left">
		<div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=b8901120-971f-44c8-9d93-debe6229ab55&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
				</a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">STARS<br><br><span class="lifeatdescription">STARS =  Science Technology and Research Scholars.  Rega Sota gives you the low-down on this great summer research experience here at Yale.</div>
	</div>

    <div class="coach_packet lifeatpacket">
	<div class="coach_header" id="vid8">
	</div>
	<div class="vid-container lifeatvid left">
		<div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=a625fa40-d0a3-46e4-a3f3-b3bcdbb78576&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
				</a>
			</div></div>
			<div class="coach_name lifeatcaption left">Move-in Day<br><br><span class="lifeatdescription">Kenneth Jackson talks about this all-important day.</div>
	</div>

	    <div class="coach_packet lifeatpacket">
	<div class="coach_header" id="vid7">
	</div>
	<div class="vid-container lifeatvid left">
		<div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=16cec906-f7f1-4606-b852-0b0f2f9a6a03&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
				</a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Tutoring Website<br><br><span class="lifeatdescription">James Kim from the Office of Admissions talks about this great resource.</div>
	</div>

	    <div class="coach_packet lifeatpacket">
	<div class="coach_header" id="vid6">
	</div>
	<div class="vid-container lifeatvid left">
		<div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=ae72682c-2989-4599-9c7a-ed44ee033102&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
				</a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Writing Tutors<br><br><span class="lifeatdescription">You may not be Tolstoy, nor Faulkner and maybe not Hemmingway.  In case you aren't, Ally and Seewan (former coaches) talk about their experiences with writing tutors.</div>
	</div>

	<div class="coach_packet lifeatpacket">
		<div class="coach_header" id="vid5"></div>
		<div class="vid-container lifeatvid left">
			<div class="onexys_video">
            	<a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=9db67b6a-a796-4301-beb7-45ebc37f4684&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
				</a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Office Hours<br><br><span class="lifeatdescription">Do you have a few questions and don't have time to ask your professor after class? Isaiah (former coach) talks about how office hours typically work here at Yale.</div>
	</div>

	    <div class="coach_packet lifeatpacket">
	<div class="coach_header" id="vid4">
	</div>
	<div class="vid-container lifeatvid left">
		<div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=37708e77-ed28-47ad-8f0e-481511c005ce&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
				</a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">(Pre) Orientation 2<br><br><span class="lifeatdescription">Peter, Onexys Coach '16, talks about what to expect before and during Orientation.</div>
	</div>

	    <div class="coach_packet lifeatpacket">
	<div class="coach_header" id="vid3">
	</div>
	<div class="vid-container lifeatvid left">
		<div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=93f6786c-15cc-4240-9da8-80bb0e38dffd&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
				</a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Study Abroad<br><br><span class="lifeatdescription">Many Yalies suffer from FOMO syndrome.  Haven't heard of it? The common name for this disease is "Fear of Missing Out."  Many Yalies suffer from FOMO and never study abroad. Ben, Onexys Coach '16, talks about the great opportunities and support here at Yale to study abroad.</div>
	</div>

	    <div class="coach_packet lifeatpacket">
	<div class="coach_header" id="vid2">
	</div>
	<div class="vid-container lifeatvid left">
		<div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=437ee901-7d87-4fa0-a3fb-7bc06e5785af&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
				</a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Science Hill<br><br><span class="lifeatdescription">Alica, Onexys Coach '15-'16, talks about the center of science universe at Yale: Science Hill. </div>
	</div>

	    <div class="coach_packet lifeatpacket">
	<div class="coach_header" id="vid1">
	</div>
	<div class="vid-container lifeatvid left">
		<div class="onexys_video">
                <a class="colorbox" href="https://yale.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=bef5900d-66b7-455f-8edf-e58fcbd4abaa&autoplay=true">
                    <img class="onexys_thumbnail" src="https://onexys.herokuapp.com/images/lifeAtYale/lifeAtYaleC.png" alt="" />
                    <img class="onexys_playbutton" src="https://conex.herokuapp.com/images/icons/playbutton.png" alt="" />
				</a>
			</div>
		</div>
			<div class="coach_name lifeatcaption left">Libraries and Dining Options.<br><br><span class="lifeatdescription">Don't understand the connection between Libraries and Dining Options? Neither do we.  But Seewan, Onexys Coach '16 gets it. Check out her thoughts on these two subjects.</div>
	</div>


<div class="welcometitle coach_title lifeattitleshad"></div>
<div class="coaches_index lifeatindex">
    <a href="#vid29">Time management</a><br />
    <a href="#vid28">The new residential colleges</a><br />
    <a href="#vid27">Surviving mid-terms and finals</a><br />
    <a href="#vid26">What I wish I would have known...</a><br />
    <a href="#vid25">Math Resources</a><br />
    <a href="#vid24">Trying new things</a><br />
    <a href="#vid23">Cultural centers</a><br />
    <a href="#vid22">Choosing courses in year 1 </a><br />
    <a href="#vid21">Escaping the Yale bubble</a><br />
    <a href="#vid20">Advice to my college self</a><br />
    <a href="#vid19">Healthy lifestyles</a><br />
    <a href="#vid18">Extra-curricular activities</a><br />
    <a href="#vid17">Musical life at Yale</a><br />
    <a href="#vid16">Math advice</a><br />
    <a href="#vid15">Choosing a major</a><br />
    <a href="#vid14">Pre-orientation 1</a><br />
    <a href="#vid13">Coffee shop tour</a><br />
    <a href="#vid12">Academic strategies</a><br />
	<a href="#vid11">Sports and intramurals</a><br />
	<a href="#vid10">Research experiences</a><br />
	<a href="#vid9">STARS</a><br />
	<a href="#vid8">Move-in day</a><br />
	<a href="#vid7">Tutoring website</a><br />
	<a href="#vid6">Writing tutors</a> <br />
	<a href="#vid5">Office hours</a><br />
    <a href="#vid4">Pre-orientation 2</a>
	<a href="#vid3">Study abroad</a><br />
	<a href="#vid2">Science Hill</a><br />
	<a href="#vid1">Libraries and dining options</a></div>
<div class="coach_title welcometitle lifeattitle">
		<p>Now Presenting...</p>
		<h1>LifeOnGrounds</h1>
	</div>


</div>
</div>
</body>
</html>
