<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-2" style="text-align:center;">404</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 class="display-4" style="text-align:center;"><small>Page Not Found</small></h2>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h5>The page you're looking for is like the mistake on this chalkboard... we can't find it!</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div style="border:none;width:100%;height:350px;box-shadow: inset 0px 0px 10px 15px white;background-image:url(https://i.gyazo.com/19ab6de799ed6457cef707975d46f1ea.jpg)"/>
				</div>
				<div class="col-md-12">
					<a style="float:right;" href="https://t4.ftcdn.net/jpg/01/67/19/17/240_F_167191711_w89dqLIhPsVFWyvp9bjhZOtAwNPtaKsM.jpg" target="_blank"><small>Image Source</small></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h6>If you expected content here, please contact an Instructor so we can resolve the issue.</h6>
				</div>
			</div>
		</div>
	</body>
</html>
