<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<body>
		<div class="user_content">
		<!-- COPY FROM BELOW -->
		<div class="onexys_styling coachoverride">

			<div class="coach_packet">
				<div class="coach_header welcomefirst" id="name1"></div>
			    <div class="coach_name fullwelcome left">The resource you tried to access is not available.</div>
			    Come back later and see if this resource has been available. If this page persists, please report it.<br>
			<div class="coach_packet">

			<div class="coach_title_shadow welcometitle_shadow"></div>
			
			<div class="coach_title welcometitle">
				<p>Something went wrong!</p>
				<br>
				<p>The item you've requested is not available.<p>
			</div>
			<div class="coach_divider welcomedivider"></div>
		<!-- COPY FROM ABOVE -->
		<!--<script src="onexys_dev_script.js"></script>-->
		</div>
	</body>
</html>
