<h1>Browser Incompatibility Error</h1>
<br>
<h2>Troubleshooting tips:</h2>
<ul>
    <li>If using Safari, please make sure you allow for cookies and/or 'cross-site tracking' (Go to Preferences, click Privacy, then unselect “Prevent cross-site tracking” or select "Always allow")</li>
    <li>If using Chrome, go to settings, privacy and security, cookies and site data, and ensure that "Allow sites to save and read cookie data" is enabled and "Block third-party cookies" is disabled</li>
    <li>In the event that this does not work, consider using Firefox</li>
    <li>If the problem persists, please email us with a description and screenshots of your problem.</li>
</ul>