<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="../stylesheets/style.css" rel="stylesheet"> <!-- for heroku running -->
		<link href="../../../public/stylesheets/style.css" rel="stylesheet"> <!-- for local running -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-4" style="text-align:center;">Assignment Not Open</h1>
                    <hr>
                </div>
			</div>
            <div class="row" style="color:#225ccb;">
                <h4>The assignment you're trying to access has not yet been opened to students. Check back later!</h4>
            </div>
		</div>
	</body>
</html>
