<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
        <div class="onexys_styling">
            <div class="title_mod standard_box module_box left post_test_page">
                <p>Congrats, you are an</p>
                <h1>Early Finisher!</h1>
            </div>
            <div class="quicklinks standard_title_box left post_test_page">
                <p>We get it. You're a hard charger, an early finisher and you want more! So we've set up a brand new ALEKS course just for you. It will have some of the same things you've already seen, plus more. <br /><br /><br/><br/>.<br /><br /><br/><br/></p>
                <!-- ><p class="post_test_list">Here's what you need to do:<br /><br /></p> -->
                <p class="post_test_list post_test_first"><img src="https://conex-overhaul.herokuapp.com/images/postTest/one_post.svg" alt="one" />In Step 4, you will go to "CONEX 2021 Early Finishers". </p>
                <p class="post_test_list"><img src="https://conex-overhaul.herokuapp.com/images/postTest/two_post.svg" alt="two" />When you do that, you will be prompted to take an Initial Knowledge Check. Go ahead and complete this.</p>
                <p class="post_test_list"><img src="https://conex-overhaul.herokuapp.com/images/postTest/three_post.svg" alt="three" />After the Initial Knowledge Check, you should embark on "Continue My Path" until you are done!</p>
                <p class="post_test_list"><img src="https://conex-overhaul.herokuapp.com/images/postTest/four_post.svg" alt="four" />It's time to get started in <a href="https://educationvirginia.instructure.com/courses/8528/external_tools/1269" target="_blank">"CONEX 2021 Early Finishers" in ALEKS!</a>
            </div>
        </div>
    </body>
</html>
